<app-pages-layout>
  <ng-container content>
    <div class="d-flex align-items-center mb-1 ms-2">
      <span
        class="material-icons-outlined me-2"
        style="cursor:pointer"
        [matTooltip]="'PORTAL.PORTAL_ADMIN.FORMS.BACK' | translate"
        (click)="cancel()">
        arrow_back
      </span>
    </div>
    <div class="col-12 mb-4">
      <div class="text-center">
        <h1 class="subtitle-1 dark-blue-400">{{ 'PORTAL.FORMS.TITLE_CREATE' | translate }}</h1>
      </div>
    </div>
    <div class="px-2 px-lg-5">
      <app-admin-form-form (formSubmit)="create($event)" (cancel)="cancel()"></app-admin-form-form>
    </div>
  </ng-container>
</app-pages-layout>
