<div class="table-responsive" *ngIf="data">
  <table mat-table [dataSource]="data" style="width: auto; overflow-x: scroll">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">
        <span
          *ngIf="element.serial; else notId"
          (click)="_url.navigateTo('portal/commissions', element.serial)"
          class="light-blue-700"
          matTooltip="Go to commissions details"
          style="cursor: pointer">
          #{{ element.serial | notNull }}
        </span>
        <ng-template #notId>N/A</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Commission to Pay</th>
      <td mat-cell *matCellDef="let element">
        {{ element.amount | currency : 'USD' : 'symbol' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="policy_number">
      <th mat-header-cell *matHeaderCellDef>Policy Number</th>
      <td mat-cell *matCellDef="let element">
        <span
          *ngIf="element.policy_id?.serial; else notPolicyNumber"
          (click)="_url.navigateTo('portal/policies', element.policy_id._id)"
          class="light-blue-700"
          matTooltip="Go to policy details"
          style="cursor: pointer">
          #{{ element.policy_id.serial | notNull }}
        </span>
        <ng-template #notPolicyNumber>N/A</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="policy_type">
      <th mat-header-cell *matHeaderCellDef>Policy Type</th>
      <td mat-cell *matCellDef="let element">
        {{ element.policy_id.policy_type_id.name || 'N/A' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="agent">
      <th mat-header-cell *matHeaderCellDef>Agent</th>
      <td mat-cell *matCellDef="let element">
        <span>
          {{
            element.broker_id.user_id.first_name +
              ' ' +
              element.broker_id.user_id.last_name || 'N/A'
          }}
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr *matNoDataRow>
      <td colspan="7">
        <h5 class="text-center mb-3 mt-4">
          No commissions applications associated
        </h5>
      </td>
    </tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="mas-table-row"></tr>
  </table>
</div>
