<button
  mat-icon-button
  [matMenuTriggerFor]="filterMenu"
  #trigger="matMenuTrigger">
  <mat-icon>filter_list</mat-icon>
</button>

<mat-menu #filterMenu="matMenu">
  <div (click)="$event.stopPropagation()">
    <mat-form-field *ngIf="showDateRange" appearance="outline">
      <mat-label>{{ 'PORTAL.ACTIVITIES.DATE_RANGE' | translate }}</mat-label>
      <mat-select [(value)]="selectedDateRange">
        <mat-option *ngFor="let range of dateRanges" [value]="range.value">
          {{ range.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="showAgencies" appearance="outline">
      <mat-label>{{ 'PORTAL.ACTIVITIES.AGENCIES' | translate }}</mat-label>
      <mat-select [(value)]="selectedAgencies" multiple>
        <mat-option *ngFor="let agency of agencies" [value]="agency.code">
          {{ agency.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="showAgents" appearance="outline">
      <mat-label>{{ 'PORTAL.ACTIVITIES.AGENTS' | translate }}</mat-label>
      <mat-select [(value)]="selectedAgents" multiple>
        <mat-option *ngFor="let agent of agents" [value]="agent.code">
          {{ agent.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="showCompanies" appearance="outline">
      <mat-label>{{ 'PORTAL.ACTIVITIES.INSURANCE_COMPANIES' | translate }}</mat-label>
      <mat-select [(value)]="selectedCompanies" multiple>
        <mat-option *ngFor="let company of insuranceCompanies" [value]="company.code">
          {{ company.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="filter-actions">
      <button mat-button color="primary" (click)="applyChartFilters()">
        {{ 'PORTAL.ACTIVITIES.APPLY' | translate }}
      </button>
      <button mat-button color="warn" (click)="resetFilters()">
        {{ 'PORTAL.ACTIVITIES.RESET' | translate }}
      </button>
    </div>
  </div>
</mat-menu>
