@import 'theme';

:host {
  .input-component {
    position: relative;
    width: 100%;
    height: 48px;
    background: #A7D5F230;
    border: 1px solid #13131340;
    border-radius: 3px;

    .placeholder {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: transparent;
      padding: 0 2rem;
      color: $gray-300;
      margin-top: 0.95rem;
    }

    .anon-input {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: none;
      padding: 0 2rem;
      background: transparent;
      &:focus {
        outline: none;
      }
    }
  }
}
