@import 'theme';

:host {
  .input-component {
    position: relative;
    width: 100%;
    height: 48px;
    border: 2px solid #969696;
    background: rgba(167, 213, 242, 0.19);
    border-radius: 80px;
    .placeholder {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: start;
      padding: 0 20px;
      color: $gray-1;
      background: transparent !important;
      margin-top: 0.75rem;
    }
    .anon-input {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: none;
      background: transparent;
      text-align: center;
      &:focus {
        outline: none;
      }
    }
  }
}
