<div class="input-component">
  <div
    class="placeholder d-flex justify-content-start align-items-center text-3"
    *ngIf="(!value || value === '') && !hidePlaceholder">
    <p *ngIf="icon" class="icon me-3">
      <span>
        <img style="width: 1.5rem !important" [src]="icon" alt="icon" />
      </span>
    </p>
    <p *ngIf="placeholder" class="text-2">
      {{ placeholder }}
    </p>
  </div>
  <input
    class="text-2 anon-input"
    [type]="type"
    (ngModelChange)="changeText($event)"
    [(ngModel)]="value"
    (focus)="hidePlaceholder = true"
    (blur)="hidePlaceholder = false" />
</div>
