@import 'theme';

.link-button{
  border: none;
  background: none;
  font-family: $font-text-2;
  font-weight: 700;
  text-decoration: underline;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 10px 25px;
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
}

//color classes
.white{
  color: $white;
}

.gray-1{
  color: $gray-1;
}

.gray-2{
  color: $gray-2;
}
