@import 'theme';

.link-button{
  background: none;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 10px 15px;
  width: 7rem;
  font-family: $font-family;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 3rem;
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
}

//color classes
.white{
  color: $white;
}

.gray-1{
  color: $gray-300;
}

.gray-2{
  color: $gray-500;
}
