<form [formGroup]="form">
  <div class="ui-modal" autofocus>
    <div
      class="ui-modal-header white subtitle-2 text-center py-2 back-red-color">
      {{ 'PORTAL.REQUESTS.REQUEST_HASH' | translate }}{{ request?.serial }}
    </div>
    <div class="ui-modal-content py-3 px-2 text-center text-1 gray-500">
      <label class="d-block">{{ 'PORTAL.REQUESTS.REJECT_MODAL.LABEL_REASON' | translate }}</label>
      <textarea
        rows="5"
        cols="30"
        class="w-100 py-1 px-2"
        formControlName="reason"></textarea>
    </div>
    <div class="ui-modal-footer d-flex justify-content-center pb-4">
      <button
        class="primary-button white back-gray-400 mx-1"
        (click)="close(false)">
        {{ 'PORTAL.COMMON.CANCEL' | translate }}
      </button>
      <button
        class="primary-button white mx-1 back-red-color"
        [disabled]="form.invalid"
        (click)="rejectRequest()">
        {{ 'PORTAL.REQUESTS.REJECT' | translate }}
      </button>
    </div>
  </div>
</form>
