<form [formGroup]="form">
  <div class="ui-modal" autofocus>
    <div
      class="ui-modal-header white subtitle-2 text-center py-2 back-red-color">
      Request #{{ request?.serial }}
    </div>
    <div class="ui-modal-content py-3 px-2 text-center text-1 gray-500">
      <label class="d-block">What’s your reason for reject this request?</label>
      <textarea
        rows="5"
        cols="30"
        class="w-100 py-1 px-2"
        formControlName="reason"></textarea>
    </div>
    <div class="ui-modal-footer d-flex justify-content-center pb-4">
      <button
        class="primary-button white back-gray-400 mx-1"
        (click)="close(false)">
        Cancel
      </button>
      <button
        class="primary-button white mx-1 back-red-color"
        [disabled]="form.invalid"
        (click)="rejectRequest()">
        Reject
      </button>
    </div>
  </div>
</form>
