<div class="icon" (click)="showLogin()">
  <span class="material-icons-outlined ms-4" style="cursor: pointer"
    >keyboard_arrow_left</span
  >
</div>
<div class="px-4 pb-3 pt-md-5">
  <div class="mt-5 pt-5 pt-md-0">
    <div *ngIf="step === 1">
      <h6 class="title-form d-flex justify-content-center mb-3">
        {{ 'GENERAL.PASSWORD_RECOVERY' | translate }}
      </h6>
      <p class="sub-title-form mb-5 d-flex justify-content-center">
        {{ 'GENERAL.VERIFICATION_EMAIL' | translate }}
      </p>
      <form (ngSubmit)="forgotPassword()" [formGroup]="formForgotPassword">
        <div class="form-group mb-5">
          <app-input
            style="width: 23.75rem"
            [icon]="'/assets/icons/email.svg'"
            type="email"
            [placeholder]="'SINGUP.INPUT_MAIL' | translate"
            formControlName="email"
            [align]="'center'"
            class="{{
              invalidEmail() ? 'ng-invalid ng-dirty' : ''
            }}"></app-input>
          <small
            *ngIf="invalidEmail()"
            class="text-danger"
            style="font-size: 12"
            >The email is invalid</small
          >
        </div>
        <div class="d-flex justify-content-center">
          <button
            class="primary-button big-button back-light-blue-500 white"
            [disabled]="formForgotPassword.invalid">
            {{ 'GENERAL.SEND' | translate }}
          </button>
        </div>
      </form>
    </div>

    <form
      (ngSubmit)="resetPassword()"
      [formGroup]="formResetPassword"
      *ngIf="step !== 1">
      <div *ngIf="step === 2">
        <h6 class="title-form d-flex justify-content-center mb-3">
          Verification Code
        </h6>
        <p class="sub-title-form mb-5 d-flex justify-content-center">
          Enter the verification code you received by mail
        </p>
        <div class="form-group mb-5">
          <app-input-code formControlName="code"></app-input-code>
          <small class="d-block text-muted text-center mt-2"
            >The code will expire in
            {{ this.minutes < 10 ? '0' + this.minutes : this.minutes }}:{{
              this.seconds < 10 ? '0' + this.seconds : this.seconds
            }}
            {{ this.minutes !== 0 ? 'minutes' : 'seconds' }}</small
          >
        </div>
        <div class="row">
          <div class="col-6 d-flex justify-content-center">
            <button
              class="primary-button big-button back-gray-500 white"
              (click)="step = 1">
              {{ 'GENERAL.BACK' | translate }}
            </button>
          </div>

          <div class="col-6 d-flex justify-content-center">
            <button
              class="primary-button big-button back-light-blue-500 white"
              [disabled]="
                formResetPassword.get('code')?.value.toString().length !== 6
              "
              (click)="changeStep()">
              {{ 'GENERAL.VERIFY' | translate }}
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="step === 3" class="px-1" style="margin-top: -10px">
        <h6 class="title-form d-flex justify-content-center">Reset Password</h6>
        <p class="sub-title-form mb-5 d-flex justify-content-center">
          Enter your new password
        </p>

        <div class="form-group mb-4">
          <app-input
            style="width: 23.75rem"
            [icon]="'/assets/icons/lock.svg'"
            type="password"
            placeholder="New Password"
            formControlName="password"
            [align]="'center'"
            class="{{
              invalidMinLength('password') ? 'ng-invalid ng-dirty' : ''
            }}"></app-input>
          <small
            *ngIf="invalidMinLength('password')"
            class="text-danger"
            style="font-size: 12"
            >The password must be at least 8 characters in length</small
          >
        </div>

        <div class="form-group mb-5">
          <app-input
            style="width: 23.75rem"
            [icon]="'/assets/icons/lock.svg'"
            type="password"
            placeholder="Rectify your password"
            formControlName="password_confirmation"
            [align]="'center'"
            class="{{
              invalidMinLength('password_confirmation')
                ? 'ng-invalid ng-dirty'
                : ''
            }}"></app-input>
          <small
            *ngIf="invalidMinLength('password_confirmation')"
            class="text-danger"
            style="font-size: 12"
            >The rectify password must be at least 8 characters in length</small
          >
        </div>

        <div class="d-flex justify-content-center align-items-center">
          <button
            class="primary-button big-button back-light-blue-500 white"
            [disabled]="formResetPassword.invalid">
            {{ 'GENERAL.SAVE' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
