@import 'theme';

:host ::ng-deep {
  [class~='p-element'] {
    box-shadow: 8px 4px 8px 0px #00000040;
    border-radius: 2.5rem !important;
  }

  [class~='p-dialog-header-icons'] {
    display: none !important;
  }
}

.icon {
  position: absolute;
  top: 1.4rem;
  left: 3px;
  cursor: pointer;
}

.title-form {
  font-family: $font-family;
  font-weight: 700;
  font-size: 3.1rem;
  color: $light-blue-500;
  text-align: center;
  line-height: 3.2rem;

  @media only screen and (max-width: 767px) {
    font-size: 2.4rem;
    line-height: 2.2rem;
  }
}

.sub-title-form {
  font-family: $font-family;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: $gray-300;
  text-align: center;
}
