<div class="menu-option mt-1 p-1" (click)="optionClick.emit()">
  <div class="d-flex justify-content-between align-items-center p-2">
    <div class="item-info d-flex align-items-center">
      <span class="menu-icon d-flex align-items-center justify-content-center">
        <span class="material-icons-outlined me-2">{{ item.icon }}</span>
      </span>
      <span class="text-menu">{{ item.title }}</span>
    </div>
    <span class="menu-icon d-flex align-items-center justify-content-center">
      <span class="material-icons-outlined ms-4" *ngIf="!isOpen"
        >keyboard_arrow_right</span
      >
      <span class="material-icons-outlined ms-4" *ngIf="isOpen"
        >keyboard_arrow_down</span
      >
    </span>
  </div>
</div>
<div class="submenu" *ngIf="isOpen">
  <div
    class="submenu-option mt-1 px-3 py-2 d-flex align-items-center"
    *ngFor="let option of item.options">
    <span class="text-menu">{{ option.name }}</span>
  </div>
</div>
