@import 'theme';

:host{
  transition: all .2s ease;
  .menu-option{
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s ease;
    .menu-icon{
      span{
        font-size: 1.2rem;
        line-height: 1.2rem;
      }
    }
    &:hover{
      background: #eaebef;
    }
  }
  .submenu{
    padding-left: 2rem !important;
    transition: all .2s ease;
    .submenu-option{
      border-radius: 6px;
      cursor: pointer;
      transition: all .2s ease;
      &:hover{
        background: #eaebef;
      }
    }
  }
  .text-menu{
    font-size: 0.813rem;
    line-height: 1.2rem;
    font-family: Inter;
    font-weight: 600;
    color: $portal-gray-500;
  }
}
