<app-pages-layout>
  <ng-container content>
    <ng-container *ngIf="policy">
      <div class="d-flex justify-content-between align-items-center mb-1 mx-2">
        <div class="d-flex align-items-center">
          <div class="px-2">
            <span
              class="material-icons-outlined me-2"
              style="cursor: pointer"
              matTooltip="Back to last page"
              (click)="goBack()">
              arrow_back
            </span>
          </div>
        </div>
      </div>
      <h3 class="text-center w-100 mb-1 subtitle-1 dark-blue-400">
        Edit policy #{{ policy.policy_number }}
      </h3>
      <div class="text-center text-3 gray-500 w-100">
        Created date on: {{ policy.createdAt | date }}
      </div>

      <div class="px-2 px-lg-5" *ngIf="policy">
        <app-policy-form
          [policy]="policy"
          [preFilledInfo]="preFilledInfo"></app-policy-form>
      </div>
    </ng-container>
  </ng-container>
</app-pages-layout>
