@import 'theme';

:host{
  textarea{
    border-radius: .25rem;
    &:focus{
      outline: 1px solid $dark-blue-400;
    }
  }

  .textarea-invalid{
      outline: 1px solid $red-color;
  }

  label {
    font-family: $font-family;
    font-weight: 500;
    font-size: .8rem;
    color: $black;
    margin-bottom: .5rem;
  }
}
