<form [formGroup]="form">
  <mat-form-field appearance="outline" class="w-100">
    <mat-select
      formControlName="value"
      [placeholder]="placeholder"
      [multiple]="multiple"
      (blur)="updateErrors()"
      (selectionChange)="changeValue()">
      <mat-option
        *ngFor="let option of options"
        [value]="option.code"
        [disabled]="option.disabled">
        {{ option.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="errors.length > 0">
      {{ errorMessage }}
    </mat-error>
  </mat-form-field>
</form>
