<form [formGroup]="form">
  <mat-form-field appearance="outline" class="w-100">
    <mat-select
      formControlName="value"
      [placeholder]="placeholder"
      [multiple]="multiple"
      [attr.data-testid]="dataTestId ?? null"
      (blur)="updateErrors()"
      (selectionChange)="changeValue()"
      (openedChange)="!$event && onPanelClose()">
      <mat-option *ngIf="filter" disabled class="dropdown-search-option">
        <input
          class="dropdown-search-input"
          [value]="searchText"
          (input)="searchText = $any($event.target).value"
          (click)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()"
          [placeholder]="filterPlaceholder">
      </mat-option>
      <mat-option
        *ngFor="let option of filteredOptions; trackBy: trackByCode"
        [value]="option.code"
        [disabled]="isOptionDisabled(option)">
        {{ option.name }}
      </mat-option>
    </mat-select>

    <mat-icon
      matSuffix
      class="clear-icon"
      *ngIf="clearable && hasValue()"
      (click)="clearSelection($event)">
      close
    </mat-icon>

    <mat-error *ngIf="errors.length > 0">
      {{ errorMessage }}
    </mat-error>
  </mat-form-field>
</form>
