@import 'theme';

:host{
  .link-forgot-pass {
    font-family: $font-family;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: $light-blue-500;
    font-weight: 500;
    cursor: pointer;
  }
  
  .resend-token {
    color: rgb(143, 0, 0);
  }
  
  .link-resend-token  {
    color: rgb(143, 0, 0);
    cursor: pointer;
  
      &:hover{
        color: #ff0000b3;
      }
  }

  img {
    width: 21.5rem
  }

  @media only screen and (max-width: 767px) {
    img { 
      width: 21rem;
      margin-left: -1.8rem;
    }
  }
}
