<div class="px-3 px-md-4 pb-4">
  <div
    class="d-flex aling-items-center justify-content-center mb-4 text-selection-disable">
    <img src="/assets/images/home/logo.png" alt="mobile toggle" />
  </div>
  <div class="d-flex flex-column justify-content-between gap-4">
    <form [formGroup]="formLogin">
      <div class="form-group mb-4">
        <app-input
          style="width: 23.75rem"
          [icon]="'/assets/icons/email.svg'"
          type="email"
          [placeholder]="'LOGIN.INPUT_EMAIL' | translate"
          formControlName="email"
          [align]="'center'"
          class="{{ invalidEmail ? 'ng-invalid ng-dirty' : '' }}"></app-input>
        <small *ngIf="invalidEmail" class="text-danger" style="font-size: 12">
          {{ 'LOGIN.TEXT_EMAIL_INVALID' | translate }}
        </small>
      </div>

      <div class="form-group mb-4">
        <div class="password-input">
          <app-input
            style="width: 23.75rem"
            [icon]="'/assets/icons/lock.svg'"
            [type]="showPassword ? 'text' : 'password'"
            [placeholder]="'LOGIN.INPUT_PASSWORD' | translate"
            formControlName="password"
            [align]="'center'"
            class="{{
              invalidMinLength ? 'ng-invalid ng-dirty' : ''
            }}"></app-input>
          <button
            type="button"
            class="btn-eye"
            (click)="showPassword = !showPassword">
            <mat-icon>{{
              showPassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
          </button>
        </div>
        <small *ngIf="invalidMinLength" class="text-danger">
          {{ 'LOGIN.TEXT_PASSWORD_MINLEGHT_INVALID' | translate }}
        </small>
      </div>

      <div
        class="form-group mb-4 d-flex justify-content-center"
        *ngIf="!isLocal">
        <re-captcha formControlName="recaptcha" (resolved)="onResolved($event)">
        </re-captcha>
      </div>

      <div class="d-flex align-items-content justify-content-center">
        <div
          class="col-6 d-block d-md-flex align-items-center justify-content-end text-center ps-lg-4 order-2"
          [ngClass]="{
            'col-12 justify-content-center': currencyRoute !== 'agents'
          }">
          <button
            class="primary-button big-button back-light-blue-500 white"
            (click)="login()"
            [disabled]="formLogin.invalid">
            {{ 'GENERAL.LOG_IN' | translate }}
          </button>
        </div>

        <div
          class="col-6 d-block d-md-flex align-items-center justify-content-start text-center order-1"
          *ngIf="currencyRoute === 'agents'">
          <button
            class="primary-button big-button back-gray-500 white"
            (click)="showModalSignup()">
            {{ 'GENERAL.SIGN_UP' | translate }}
          </button>
        </div>
      </div>
    </form>

    <div class="text-center mt-1" *ngIf="emailNotVerified">
      <p class="resend-token text-2-small">
        {{ 'LOGIN.TEXT_1_ALERT' | translate }}
        <a class="link-resend-token" (click)="resendToken()">
          {{ 'LOGIN.TEXT_2_ALERT' | translate }}
        </a>
        {{ 'LOGIN.TEXT_3_ALERT' | translate }}
      </p>
    </div>
    <div
      class="d-flex align-items-content justify-content-center text-selection-disable my-3">
      <h5 class="link-forgot-pass" (click)="showModalForgot()">
        {{ 'GENERAL.FORGOT_PASSWORD' | translate }}
      </h5>
    </div>
  </div>
</div>
