@import 'theme';

:host ::ng-deep {
    .title-form {
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 3rem;
        color: $light-blue-500;
    }

    label {
      font-family: $font-family;
      font-weight: 500;
      font-size: 0.8rem;
      color: $black;
      margin-bottom: 0.5rem;
    }
}