<div class="filters">
  <mat-form-field appearance="outline">
    <mat-label>Select an agent</mat-label>
    <mat-select formControlName="agent" (selectionChange)="filterData()">
      <mat-option *ngFor="let agent of agents" [value]="agent.code">
        {{ agent.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Select an insurance company</mat-label>
    <mat-select formControlName="company" (selectionChange)="filterData()">
      <mat-option *ngFor="let company of companies" [value]="company.code">
        {{ company.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Start Date</mat-label>
    <input
      matInput
      [matDatepicker]="startDate"
      formControlName="startDate"
      (dateChange)="filterData()" />
    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
    <mat-datepicker #startDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>End Date</mat-label>
    <input
      matInput
      [matDatepicker]="endDate"
      formControlName="endDate"
      (dateChange)="filterData()" />
    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
    <mat-datepicker #endDate></mat-datepicker>
  </mat-form-field>
</div>

<!-- Display the Nightingale Chart -->
<div echarts [options]="chartOptions" class="requests-nightingale-chart"></div>
