.requests-nightingale-chart {
    height: 400px;  // You can adjust the height as per your requirements
    width: 100%;
  }
  
  .filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 20px;
  }
  
  mat-form-field {
    width: 100%;
  }
  