// Imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// FONTS
$font-family: 'Poppins';

// COLORS
$light-blue-100: #F4FBFF;
$light-blue-200: #A7D5F2;
$light-blue-300: #6AD2FF;
$light-blue-400: #079CD9;
$light-blue-500: #049DD9;
$light-blue-600: #407BFF;
$light-blue-700: #0B63F8;


$dark-blue-100: #0468BF;
$dark-blue-200: #0364B7;
$dark-blue-300: #0B4C73;
$dark-blue-400: #023859;
$dark-blue-500: #02385A;
$dark-blue-600: #001D2E;
$dark-blue-700: #001C2D;

$color-success: #009D74;
$color-error: #E06561;
$color-warning: #FEB700;
$blue-color: #232BE6;
$red-color: #E44545;
$color-info: $light-blue-500;

$orange: #DE7731;
$white: #FFFFFF;
$black: #000000;

$gray-000: #f7f7f7;
$gray-100: #F2F2F2;
$gray-200: #A3AED0;
$gray-300: #969696;
$gray-400: #979797;
$gray-500: #717171;
$gray-600: #a7d5f230;
$gray-700: #263238;

$green-whatsapp: #25d366;

//colores a revisar
$portal-gray-200: #e9ecef;
$portal-gray-500: #283c50;
$internal-gray-800: #475569;

