// Imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'Seriguela-Black';
  src: url('/assets/fonts/seriguela-black.otf') format('truetype');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'Seriguela-Medium';
  src: url('/assets/fonts/seriguela-medium.otf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

/**
* IMPORTANT - ANON STYLES
*/

// COLORS
$white:#FFFFFF;
$gray-1:#969696;
$gray-2:#717171;
$orange: #DE7731;
$blue-primary: #049DD9;
$blue-secondary: #0468BF;
$blue-terciary: #0477BF;
$blue-dark: #023859;
$blue-dark-2: #001D2E;
$blue-light: #A7D5F2;


// FONTS
$font-title: 'Seriguela-Black';
$font-text-1: 'Seriguela-Medium';
$font-text-2: 'Montserrat';


/**
* PORTAL STYLES
*/

//COLORS
$portal-gray-100: #e5e7eb;
$portal-gray-200: #e9ecef;
$portal-gray-300: #7587a7;
$portal-gray-500: #283c50;
$portal-gray-700: #001327;

//FONTS
$portal-font: 'Inter';
