<div class="table-responsive">
  <table
    mat-table
    [dataSource]="data || []"
    style="width: auto; overflow-x: scroll">
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>Sender</th>
      <td mat-cell *matCellDef="let element">
        {{ element.from | notNull }}
      </td>
    </ng-container>

    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef>Subject</th>
      <td mat-cell *matCellDef="let element">
        {{ element.subject | notNull }}
      </td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Date Time</th>
      <td mat-cell *matCellDef="let element">
        {{ element.lastMessageDate | gmailDateFormat | notNull }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell class="action-cell" *matCellDef="let element">
        <span
          class="material-icons-outlined me-2 text-danger"
          style="cursor: pointer"
          (click)="deleteEmail(element); $event.stopPropagation()"
          matTooltip="Delete this mail">
          delete
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr *matNoDataRow>
      <td colspan="4">
        <app-default-empty-state
          *ngIf="
            data?.length === 0 || data?.length === null
          "></app-default-empty-state>
      </td>
    </tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="mas-table-row"
      tabindex="0"
      (click)="onRowClick($event, row)"></tr>
  </table>
</div>
