<app-pages-layout>
  <ng-container content>
    <div
      class="d-flex justify-content-between align-items-center mb-1 ms-2"
      *ngIf="agency">
      <span
        class="material-icons-outlined me-2"
        style="cursor: pointer"
        matTooltip="Back to last page"
        (click)="goBack()">
        arrow_back
      </span>
    </div>
    <div
      class="d-flex flex-column align-items-center justify-content-center"
      *ngIf="agency">
      <app-picture-selector
        [showSelector]="false"
        [icon]="
          agency.logo_url ?? '/assets/icons/user_two.svg'
        "></app-picture-selector>

      <h3 class="text-center w-100 mt-3 mb-1 subtitle-1 dark-blue-400">
        Agency #{{ agency.serial }}
      </h3>
      <div class="text-center text-3 gray-500 w-100">
        Created date on: {{ agency.createdAt | date }}
      </div>
    </div>
    <div class="row px-4 my-2 px-md-5 my-md-5" *ngIf="agency">
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Name</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ agency.name | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Payment Status</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            <div
              class="status-badge"
              [ngClass]="
                agency.payment_status?.toLowerCase() === 'payed'
                  ? 'status-success'
                  : 'status-danger'
              ">
              {{ agency.payment_status | titlecase | notNull }}
            </div>
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Phone number</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ agency.phone_number ?? '' | phone | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Staff Size</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ agency.staff_size | notNull }}
          </div>
        </div>
      </div>
    </div>

    <h3 class="subtitle-1 dark-blue-400 text-center mt-5 mb-0">
      Owner Information
    </h3>
    <div class="row px-4 mb-2 mt-0 px-md-5 my-md-4" *ngIf="agency">
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Full Name</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ agency.owner.user.first_name }} {{ agency.owner.user.last_name }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Email</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box no-wrap-text">
            {{ agency.owner.user.email | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Phone Number</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box no-wrap-text">
            {{ agency.owner.user.phone_number | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Address</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box no-wrap-text">
            {{ agency.owner.user.address_info.address | notNull }}
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-pages-layout>
