@import 'theme';

:host {
  ::ng-deep {
    .mat-button-toggle-checked{
      background-color: $dark-blue-400 !important;
      color: $white !important;
    }

    .mat-button-toggle-group{
      border: 1px solid $gray-300 !important;
    }
  }
}
