:host ::ng-deep {
    .p-dialog-header {
      padding: 1.4rem 1.8rem 0.7rem;
      border-top-right-radius: 2.5rem !important;
      border-top-left-radius: 2.5rem !important;
    }
  
    .p-dialog-content {
      border-bottom-right-radius: 2.5rem !important;
      border-bottom-left-radius: 2.5rem !important;
    }
  
    .p-dialog {
      border-radius: 2.5rem;
    }

    .hide-close{
        .p-dialog-header-icons {
            display: none !important;
        }
    }
  }