<form [formGroup]="form">
  <mat-form-field appearance="outline" class="w-100">
    <input
      matInput
      [placeholder]="placeholder"
      formControlName="value"
      [matAutocomplete]="auto"
      (keyup)="onSearch($event)"
      (blur)="updateErrors()" />
    <mat-autocomplete
      #auto
      (opened)="opened()"
      (closed)="closed()"
      [requireSelection]="true"
      [hideSingleSelectionIndicator]="true"
      (optionSelected)="onSelectItem($event)"
      [displayWith]="displayFn">
      <mat-option
        *ngFor="let option of items"
        [value]="option"
        (keyup.enter)="onEnterItem(option)">
        {{ option.name }}
      </mat-option>
      <mat-option *ngIf="loading" disabled=""> loading... </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="errors.length > 0">
      {{ errorMessage }}
    </mat-error>
  </mat-form-field>
</form>
