<ng-template #table>
  <app-pages-layout
    [button]="{ text: 'Create Claim', icon: 'add', url: 'new' }">
    <ng-container content>
      <app-filtered-table-header
        [filtersActive]="filtersActive"
        (search)="onQueryFilter($event)"
        (openFilters)="drawer.toggle()"
        (removeChip)="removeFilterFromChip($event)"
        *ngIf="data"></app-filtered-table-header>
      <app-claims-table
        *ngIf="data"
        [filtersActive]="filtersActive"
        (refresh)="refresh()"
        [data]="data.records"></app-claims-table>
      <mat-paginator
        *ngIf="data"
        [pageSizeOptions]="[10, 25, 50]"
        [length]="data.total_records"
        [pageIndex]="data.page - 1"
        [pageSize]="data.limit"
        (page)="changePaginator($event)"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </ng-container>
  </app-pages-layout>
</ng-template>

<ng-template #filters>
  <app-filter-wrapper
    [config]="filterConfig"
    (closeFilters)="drawer.toggle()"
    (activeFilterChange)="
      handleApplyFilter($event); drawer.toggle()
    "></app-filter-wrapper>
</ng-template>

<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="'over'" [position]="'end'">
    <ng-container *ngTemplateOutlet="filters"></ng-container>
  </mat-drawer>
  <mat-drawer-content>
    <ng-container *ngTemplateOutlet="table"></ng-container>
  </mat-drawer-content>
</mat-drawer-container>
