@import 'theme';

.verify{
  width: 100%;
  padding: 100px 20px;
  .verify-section-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img{
      width: 250px;
      height: auto;
      margin-bottom: 2rem;
    }
    h2{
      font-family: $font-title;
      font-weight: 700;
      font-size: 48px;
      color: $gray-2;
      margin-bottom: 5rem;
      text-align: center;
    }
  }
}
