@import 'theme';

.anon-footer{
  width: 100%;
  background: $blue-dark-2;
  padding: 35px 73px;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  .anon-footer-section{
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    .anon-footer-column{
      .anon-footer-column-header{
        margin-bottom: 10px;
      }
      .anon-footer-column-list{
        list-style:none;
        .anon-footer-column-item{
          margin: 3px 0;
        }
      }
    }
    .anon-footer-socal-networks-column{
      display: flex;
      flex-direction: column;
      align-items: center;
      .anon-footer-social-networks{
        display: flex;
        justify-content: left;
        .anon-footer-social-network{
          border: $white 2px solid;
          width: 44px;
          height: 44px;
          border-radius: 8px;
          margin: 0 5px;
        }
      }
    }
  }
  .anon-footer-separator{
    border-top: 1px solid $white;
    margin: 20px 0;
    width: calc(100vw - 146px);
  }
  .anon-navbar-copyright{
    padding: 5px 15px;
    text-align: center
  }
}

@media only screen and (max-width: 767px) {
  .anon-footer{
    padding: 35px 24px;
    flex-wrap: wrap;
    justify-content: center;
    .anon-footer-section{
      width: calc(100% / 2);
      .anon-footer-socal-networks-column{
        margin: 5px 0;
      }
    }
    .anon-footer-separator{
      width: calc(100vw - 48px);
    }
  }
}

