<footer class="anon-footer">
  <div class="anon-footer-section">
    <div class="anon-footer-column">
      <p class="anon-footer-column-header title-4 text-selection-disable">
        {{ 'GENERAL.RESOURCES' | translate }}
      </p>
      <ul class="anon-footer-column-list">
        <li class="anon-footer-column-item text-1 text-selection-disable hover">
          {{ 'GENERAL.PRIVACY' | translate }}
        </li>
        <li class="anon-footer-column-item text-1 text-selection-disable hover">
          {{ 'GENERAL.TERMS' | translate }}
        </li>
      </ul>
    </div>
  </div>
  <div class="anon-footer-section">
    <div class="anon-footer-column">
      <p class="anon-footer-column-header title-4 text-selection-disable">
        {{ 'GENERAL.CONTACTS' | translate }}
      </p>
      <ul class="anon-footer-column-list">
        <li class="anon-footer-column-item text-1 hover text-selection-disable">
          {{ 'GENERAL.PHONE_NUMBER' | translate }}
        </li>
        <li class="anon-footer-column-item text-1 hover text-selection-disable">
          Email@mail.com
        </li>
      </ul>
    </div>
  </div>
  <div class="anon-footer-separator show-mobile-only"></div>
  <div class="anon-footer-section">
    <div class="anon-footer-column anon-footer-socal-networks-column">
      <p class="anon-footer-column-header title-4 text-selection-disable">
        {{ 'GENERAL.SOCIAL_MEDIA' | translate }}
      </p>
      <ul class="anon-footer-column-list anon-footer-social-networks">
        <li class="anon-footer-social-network text-selection-disable"></li>
        <li class="anon-footer-social-network text-selection-disable"></li>
        <li class="anon-footer-social-network text-selection-disable"></li>
        <li class="anon-footer-social-network text-selection-disable"></li>
      </ul>
    </div>
  </div>
  <div class="anon-footer-separator"></div>
  <div
    class="anon-navbar-copyright text-selection-disable text-1 flex-centered">
    {{ 'GENERAL.ALL_RIGHTS' | translate }}
  </div>
</footer>
