<form [formGroup]="form">
  <div class="row">
    <div class="col-12 form-field-sm">
      <label>{{ 'PORTAL.HOW_TO.FORM.FIELD_TITLE' | translate }}</label>
      <app-input
        [placeholder]="'PORTAL.HOW_TO.FORM.PLACEHOLDER_TITLE' | translate"
        type="text"
        formControlName="title"></app-input>
    </div>

    <div class="col-12 form-field-sm">
      <label>{{ 'PORTAL.HOW_TO.FORM.FIELD_TENANTS' | translate }}</label>
      <app-dropdown-field
        [placeholder]="'PORTAL.HOW_TO.FORM.PLACEHOLDER_TENANTS' | translate"
        formControlName="tenant_ids"
        [options]="tenantOptions"
        [multiple]="true"
        (changeSelection)="onTenantSelectionChange($event)">
      </app-dropdown-field>
    </div>

    <div class="col-12 form-field" *ngIf="selectedTenants.length">
      <label class="d-block">{{ 'PORTAL.HOW_TO.FORM.FIELD_TENANT_STATUS' | translate }}</label>
      <div class="row g-2 mt-1">
        <div class="col-6 col-md-3" *ngFor="let t of selectedTenants">
          <div class="tenant-status-row d-flex align-items-center justify-content-between">
            <span>{{ t.name }}</span>
            <mat-slide-toggle
              color="primary"
              [checked]="t.status === 'ACTIVE'"
              (change)="toggleTenantStatus(t.code)">
              {{ (t.status === 'ACTIVE' ? 'PORTAL.HOW_TO.FORM.STATUS_ACTIVE' : 'PORTAL.HOW_TO.FORM.STATUS_INACTIVE') | translate }}
            </mat-slide-toggle>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 form-field">
      <label class="d-block">{{ 'PORTAL.HOW_TO.FORM.FIELD_DESCRIPTION' | translate }}</label>
      <app-rich-text-input
        formControlName="description"></app-rich-text-input>
    </div>

    <div class="col-12 form-field">
      <label>{{ 'PORTAL.HOW_TO.FORM.FIELD_VIDEO_URL' | translate }}</label>
      <app-input
        [placeholder]="'PORTAL.HOW_TO.FORM.PLACEHOLDER_VIDEO_URL' | translate"
        formControlName="video"></app-input>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center my-4">
    <button
      data-testid="how-to-cancel"
      class="primary-button big-button back-gray-400 white mx-1"
      (click)="cancelForm()">
      {{ 'PORTAL.COMMON.CANCEL' | translate }}
    </button>

    <button
      data-testid="how-to-save"
      class="primary-button big-button back-light-blue-400 white mx-1"
      [disabled]="form.invalid"
      (click)="send()">
      {{ (howTo ? 'PORTAL.COMMON.EDIT' : 'PORTAL.REQUESTS.FORM_NEW_BUSINESS.BTN_SAVE') | translate }}
    </button>
  </div>
</form>
