<form [formGroup]="form">
  <div class="d-flex flex-wrap">
    <ng-container *ngFor="let item of files; let i = index">
      <div
        class="file d-flex flex-column align-items-center justify-content-center position-relative py-2 px-1">
        <p>
          <span class="gray-400 material-icons-outlined"> file_present </span>
        </p>
        <p class="fw-semibold">
          {{ item.name }}
        </p>
        <p class="subtext-2">{{ item.weight | weight }} mb</p>
        <p>
          <span class="subtext-2 fw-semibold success-color">
            {{ item.extension }}
          </span>
        </p>
        <p class="subtext-2">{{ item.created_at | date | notNull }}</p>
        <span
          class="material-icons-outlined position-absolute remove"
          (click)="removeFile(i)">
          close
        </span>
      </div>
    </ng-container>
    <div
      (click)="this.form.get('value')?.enabled ? openNavigatorFile() : null"
      class="file d-flex flex-column align-items-center justify-content-center"
      style="cursor: pointer">
      <p class="text-center">
        <span class="gray-400 material-icons-outlined"> add </span>
      </p>
      <p class="gray-400">Add documents</p>
    </div>
  </div>
</form>

<input
  #inputFile
  class="d-none"
  type="file"
  [accept]="allowedTypesString"
  (change)="addFile($event)" />
