<nav class="register-lead-navbar">
  <div class="register-lead-navbar-logo">
    <img [src]="agencyLogoUrl ?? defaultLogo" alt="masterbook" />
  </div>
</nav>

<div class="register-lead-container">
  <div class="col-12 mb-4">
    <div class="text-center">
      <h3 class="subtitle-1 dark-blue-400">Let’s Find your Best Insurance Option</h3>
      <p class="text-muted">Share a few details and we’ll help you find the coverage that fits your needs.
No pressure, just better options.</p>
    </div>
  </div>

  <div class="px-2 px-lg-5">
    <app-form-lead (logoUrl)="agencyLogoUrl = $event"></app-form-lead>
  </div>
</div>
