@import 'theme';

.payment-content {
  text-align: center;
  margin-top: 5rem;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 600;
    color: $color-error;
  }

  p {
    font-size: 1.2em;
  }

  a {
    text-decoration: none;
    color: $dark-blue-200;
  }
}
