@import 'theme';

.primary-button{
  border: none;
  border-radius: 47px;
  min-width: 160px;
  font-family: $font-title;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: $white;
  padding: 10px 25px;
  letter-spacing: 0.6px;
  cursor: pointer;
  &:hover{
    opacity: 0.9;
  }
}

//color classes
.blue-primary{
  background: $blue-primary;
}

.blue-dark{
  background: $blue-dark;
}

.orange{
  background: $orange;
}

.blue-primary-outline{
  border: 2px solid $blue-primary !important;
  color: $blue-primary !important;
}

.blue-dark-outline{
  border: 2px solid $blue-dark !important;
  color: $blue-dark !important;
}

.orange-outline{
  border: 2px solid $orange !important;
  color: $orange !important;
}