@import 'theme';

.primary-button{
  border: none;
  border-radius: 3rem;
  min-width: 9rem;
  font-family: $font-family;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: $white;
  padding: 12px 28px !important;
  cursor: pointer;
  &:hover{
    opacity: 0.9;
  }
}

//color classes
.blue-primary{
  background: $light-blue-500;
}

.blue-dark {
  background: $dark-blue-400;
}

.orange{
  background: $orange;
}

.blue-primary-outline{
  border: 2px solid $light-blue-500 !important;
  color: $light-blue-500 !important;
}

.blue-dark-outline{
  border: 2px solid $dark-blue-400 !important;
  color: $dark-blue-400 !important;
}

.orange-outline{
  border: 2px solid $orange !important;
  color: $orange !important;
}

.primary-button:disabled {
  cursor: no-drop;
}

.gray {
  background: #939393 !important;
  color: white;
}

.primary-active-outline {
  background: $light-blue-500;
  border: 2px solid $light-blue-500 !important;
  color: $white !important;
  width: 7rem !important;
  height: 2.8rem;
  border-radius: 5rem;
}

.primary-inactive-outline {
  background: transparent;
  border: 2px solid $light-blue-200 !important;
  color: $light-blue-200 !important;
  width: 7rem !important;
  height: 2.8rem;
  border-radius: 5rem;
}