<div class="ui-modal" autofocus>
  <div
    class="ui-modal-header white subtitle-2 text-center py-2 back-light-blue-500"
    *ngIf="type === 'RENEWAL'">
    {{ 'PORTAL.POLICIES.MODALS.RENEW_TITLE_PREFIX' | translate }}{{ policy?.policy_number }}
  </div>
  <div
    class="ui-modal-header white subtitle-2 text-center py-2 back-light-blue-500"
    *ngIf="type === 'REINSTALLMENT'">
    {{ 'PORTAL.POLICIES.MODALS.REINSTALL_TITLE_PREFIX' | translate }}{{ policy?.policy_number }}
  </div>
  <div class="ui-modal-content ui-modal-body y-3 text-center text-1 gray-500">
    <p class="text-1 text-center mt-2 mb-3" *ngIf="type === 'RENEWAL'">
      {{ 'PORTAL.POLICIES.MODALS.RENEW_QUESTION' | translate }}
    </p>
    <p class="text-1 text-center mt-2 mb-3" *ngIf="type === 'REINSTALLMENT'">
      {{ 'PORTAL.POLICIES.MODALS.REINSTALL_QUESTION' | translate }}
    </p>
    <form [formGroup]="form" class="px-4 py-4 align-items-center">
      <div class="row mb-3 mb-md-4">
        <div class="col-12 col-md-6 mb-4 mb-md-0">
          <label>{{ 'PORTAL.REQUESTS.OBJECT_INSURE' | translate }} *</label>
          <app-input
            [placeholder]="'PORTAL.REQUESTS.FORM_NEW_BUSINESS.PLACEHOLDER_OBJECT' | translate"
            type="text"
            formControlName="insure_object"></app-input>
        </div>

        <div class="col-12 col-md-6 mb-4 mb-md-0">
          <label>{{ 'PORTAL.REQUESTS.COVERAGE_LIMIT' | translate }} *</label>
          <app-input
            placeholder="$ 0.00"
            type="tel"
            [inputMask]="'separator.2'"
            [maskPrefix]="'$ '"
            formControlName="coverage"></app-input>
        </div>

        <div class="mb-3 mb-md-4">
          <label class="d-block">{{ 'PORTAL.REQUESTS.FORM_FROM_POLICY.FIELD_ADDITIONAL_INFO' | translate }} *</label>
          <textarea
            rows="5"
            cols="30"
            formControlName="additional_info"
            class="w-100 py-1 px-2"></textarea>
        </div>
      </div>
    </form>
    <div class="ui-modal-footer d-flex justify-content-center pb-4">
      <button
        class="primary-button white back-gray-400 mx-1"
        (click)="close(false)">
        {{ 'PORTAL.COMMON.CANCEL' | translate }}
      </button>
      <button
        class="primary-button white mx-1 back-light-blue-500"
        *ngIf="type === 'RENEWAL'"
        [disabled]="
          !form.value.coverage ||
          !form.value.insure_object ||
          !form.value.additional_info
        "
        (click)="renewalPolicy()">
        {{ 'PORTAL.POLICIES.MODALS.BTN_APPLY' | translate }}
      </button>
      <button
        class="primary-button white mx-1 back-light-blue-500"
        *ngIf="type === 'REINSTALLMENT'"
        [disabled]="
          !form.value.coverage ||
          !form.value.insure_object ||
          !form.value.additional_info
        "
        (click)="reinstallmentPolicy()">
        {{ 'PORTAL.POLICIES.MODALS.BTN_APPLY' | translate }}
      </button>
    </div>
  </div>
</div>
