<div class="ui-modal" autofocus>
  <div
    class="ui-modal-header white subtitle-2 text-center py-2 back-light-blue-500"
    *ngIf="type === 'RENEWAL'">
    Renew Policy #{{ policy?.policy_number }}
  </div>
  <div
    class="ui-modal-header white subtitle-2 text-center py-2 back-light-blue-500"
    *ngIf="type === 'REINSTALLMENT'">
    Reinstall Policy #{{ policy?.policy_number }}
  </div>
  <div class="ui-modal-content ui-modal-body y-3 text-center text-1 gray-500">
    <p class="text-1 text-center mt-2 mb-3" *ngIf="type === 'RENEWAL'">
      Why do you wish to renew this policy?
    </p>
    <p class="text-1 text-center mt-2 mb-3" *ngIf="type === 'REINSTALLMENT'">
      Why do you wish to reinstall this policy?
    </p>
    <form [formGroup]="form" class="px-4 py-4 align-items-center">
      <div class="row mb-3 mb-md-4">
        <div class="col-12 col-md-6 mb-4 mb-md-0">
          <label>Object to insure *</label>
          <app-input
            placeholder="Type your object to insure"
            type="text"
            formControlName="insure_object"></app-input>
        </div>

        <div class="col-12 col-md-6 mb-4 mb-md-0">
          <label>Coverage limit *</label>
          <app-input
            placeholder="$ 0.00"
            type="tel"
            [inputMask]="'separator.2'"
            [maskPrefix]="'$ '"
            formControlName="coverage"></app-input>
        </div>

        <div class="mb-3 mb-md-4">
          <label class="d-block">Additional info *</label>
          <textarea
            rows="5"
            cols="30"
            formControlName="additional_info"
            class="w-100 py-1 px-2"></textarea>
        </div>
      </div>
    </form>
    <div class="ui-modal-footer d-flex justify-content-center pb-4">
      <button
        class="primary-button white back-gray-400 mx-1"
        (click)="close(false)">
        Cancel
      </button>
      <button
        class="primary-button white mx-1 back-light-blue-500"
        *ngIf="type === 'RENEWAL'"
        [disabled]="
          !form.value.coverage ||
          !form.value.insure_object ||
          !form.value.additional_info
        "
        (click)="renewalPolicy()">
        Apply
      </button>
      <button
        class="primary-button white mx-1 back-light-blue-500"
        *ngIf="type === 'REINSTALLMENT'"
        [disabled]="
          !form.value.coverage ||
          !form.value.insure_object ||
          !form.value.additional_info
        "
        (click)="reinstallmentPolicy()">
        Apply
      </button>
    </div>
  </div>
</div>
