<form [formGroup]="form">
  <mat-form-field
    appearance="outline"
    class="w-100"
    *ngIf="mode === fileUploadMode.INPUT">
    <input
      matInput
      (click)="this.form.get('value')?.enabled ? openNavigatorFile() : null"
      [readonly]="true"
      [placeholder]="placeholder"
      formControlName="value" />
    <span
      matIconSuffix
      class="material-icons-outlined px-2 no-selectionable"
      (click)="this.form.get('value')?.enabled ? openNavigatorFile() : null">
      upload_file
    </span>
    <mat-error *ngIf="errors.length > 0">
      {{ errorMessage }}
    </mat-error>
  </mat-form-field>

  <span *ngIf="mode === fileUploadMode.ICON">
    <img
      src="/assets/icons/arrow_up.svg"
      (click)="openNavigatorFile()"
      class="pb-3"
      style="cursor: pointer; height: 45px !important"
      *ngIf="!form.get('value')?.value" />
    <img
      src="/assets/icons/pdf.svg"
      (click)="openNavigatorFile()"
      style="cursor: pointer; height: 45px !important"
      class="pb-3"
      *ngIf="form.get('value')?.value" />
  </span>
</form>

<input
  #inputFile
  class="d-none"
  type="file"
  [accept]="allowedTypesString"
  (change)="addFile($event)" />
