@import 'theme';

:host ::ng-deep {
  .floating-actions {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    z-index: 9999;
  }

  .action-button {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    position: relative;
    border: 1px solid transparent;

    img {
      width: 28px;
      height: 28px;
    }

    &:hover {
      transform: scale(1.1);
    }

    .tooltip-text {
      visibility: hidden;
      position: absolute;
      right: 110%;
      top: 50%;
      transform: translateY(-50%);
      padding: 8px 0.75rem;
      border-radius: 0.75rem;
      font-size: 0.8rem;
      white-space: nowrap;
      opacity: 0;
      transition: opacity 0.3s;
    }

    .tooltip-text::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
      border-width: 6px;
      border-style: solid;
    }

    &:hover .tooltip-text {
      visibility: visible;
      opacity: 1;
    }
  }

  .action-button.whatsapp .tooltip-text {
    background-color: $green-whatsapp;
    color: $white;

    &::after {
      border-color: transparent transparent transparent $green-whatsapp;
    }
  }

  .action-button.survey .tooltip-text {
    background-color: $dark-blue-500;
    color: $white;

    &::after {
      border-color: transparent transparent transparent $dark-blue-500;
    }
  }
}

