<div class="container d-flex justify-content-center align-items-center vh-100">
  <form (ngSubmit)="submit()" [formGroup]="form" class="form">
    <div class="formgrid grid">
      <form (ngSubmit)="submit()" [formGroup]="form">
        <div class="formgrid grid">
          <div class="field my-3">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
              </span>
              <input
                pInputText
                [placeholder]="'INVITATION_REGISTER.FIELD_NAME' | translate"
                formControlName="name"
                class="{{
                  fieldInvalid('name') ? 'ng-invalid ng-dirty' : ''
                }}" />
            </div>
            <small
              *ngIf="fieldInvalid('name')"
              class="text-danger"
              style="font-size: 12"
              >{{ 'FORM_ERROR.REQUIRED' | translate }}</small
            >
          </div>

          <div class="field my-3">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
              </span>
              <input
                pInputText
                [placeholder]="'INVITATION_REGISTER.FIELD_LAST_NAME' | translate"
                formControlName="last_name"
                class="{{
                  fieldInvalid('last_name') ? 'ng-invalid ng-dirty' : ''
                }}" />
            </div>
            <small
              *ngIf="fieldInvalid('last_name')"
              class="text-danger"
              style="font-size: 12"
              >{{ 'FORM_ERROR.REQUIRED' | translate }}</small
            >
          </div>

          <div class="field my-3">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-envelope"></i>
              </span>
              <input
                type="email"
                pInputText
                [placeholder]="'INVITATION_REGISTER.FIELD_EMAIL' | translate"
                formControlName="email"
                class="{{
                  fieldInvalid('email') ? 'ng-invalid ng-dirty' : ''
                }}" />
            </div>
            <small
              *ngIf="fieldInvalid('email')"
              class="text-danger"
              style="font-size: 12"
              >{{ 'FORM_ERROR.EMAIL' | translate }}</small
            >
          </div>

          <div class="field my-3">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-lock"></i>
              </span>
              <input
                type="password"
                pInputText
                [placeholder]="'INVITATION_REGISTER.FIELD_PASSWORD' | translate"
                formControlName="password"
                class="{{
                  fieldInvalid('password') ? 'ng-invalid ng-dirty' : ''
                }}" />
            </div>
            <small
              *ngIf="fieldInvalid('password')"
              class="text-danger"
              style="font-size: 12"
              >{{ 'FORM_ERROR.MIN_LENGTH' | translate }}</small
            >
          </div>

          <div class="field my-3">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-lock"></i>
              </span>
              <input
                type="password"
                pInputText
                [placeholder]="'INVITATION_REGISTER.FIELD_PASSWORD_CONFIRM' | translate"
                formControlName="passwordConfirm"
                class="{{
                  fieldInvalid('passwordConfirm') ? 'ng-invalid ng-dirty' : ''
                }}" />
            </div>
            <small
              *ngIf="fieldInvalid('passwordConfirm')"
              class="text-danger"
              style="font-size: 12"
              >{{ 'FORM_ERROR.PASSWORDSMISMATCH' | translate }}</small
            >
          </div>

          <div class="d-flex justify-content-center mt-4">
            <p-button
              [label]="'INVITATION_REGISTER.BTN_REGISTER' | translate"
              icon="pi pi-check"
              type="submit"
              styleClass=""
              [disabled]="form.invalid"></p-button>
          </div>
        </div>
      </form>
    </div>
  </form>
</div>
