<div class="container d-flex justify-content-center align-items-center vh-100">
  <form (ngSubmit)="submit()" [formGroup]="form" class="form">
    <div class="formgrid grid">
      <form (ngSubmit)="submit()" [formGroup]="form">
        <div class="formgrid grid">
          <div class="field my-3">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
              </span>
              <input
                pInputText
                placeholder="Name"
                formControlName="name"
                class="{{
                  fieldInvalid('name') ? 'ng-invalid ng-dirty' : ''
                }}" />
            </div>
            <small
              *ngIf="fieldInvalid('name')"
              class="text-danger"
              style="font-size: 12"
              >The field is required</small
            >
          </div>

          <div class="field my-3">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
              </span>
              <input
                pInputText
                placeholder="Last Name"
                formControlName="last_name"
                class="{{
                  fieldInvalid('last_name') ? 'ng-invalid ng-dirty' : ''
                }}" />
            </div>
            <small
              *ngIf="fieldInvalid('last_name')"
              class="text-danger"
              style="font-size: 12"
              >The field is required</small
            >
          </div>

          <div class="field my-3">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-envelope"></i>
              </span>
              <input
                type="email"
                pInputText
                placeholder="Email"
                formControlName="email"
                class="{{
                  fieldInvalid('email') ? 'ng-invalid ng-dirty' : ''
                }}" />
            </div>
            <small
              *ngIf="fieldInvalid('email')"
              class="text-danger"
              style="font-size: 12"
              >Please enter a valid email address</small
            >
          </div>

          <div class="field my-3">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-lock"></i>
              </span>
              <input
                type="password"
                pInputText
                placeholder="Password"
                formControlName="password"
                class="{{
                  fieldInvalid('password') ? 'ng-invalid ng-dirty' : ''
                }}" />
            </div>
            <small
              *ngIf="fieldInvalid('password')"
              class="text-danger"
              style="font-size: 12"
              >Password must be at least 8 characters long</small
            >
          </div>

          <div class="field my-3">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-lock"></i>
              </span>
              <input
                type="password"
                pInputText
                placeholder="Confirm Password"
                formControlName="passwordConfirm"
                class="{{
                  fieldInvalid('passwordConfirm') ? 'ng-invalid ng-dirty' : ''
                }}" />
            </div>
            <small
              *ngIf="fieldInvalid('passwordConfirm')"
              class="text-danger"
              style="font-size: 12"
              >Passwords do not match</small
            >
          </div>

          <div class="d-flex justify-content-center mt-4">
            <p-button
              label="Register"
              icon="pi pi-check"
              type="submit"
              styleClass=""
              [disabled]="form.invalid"></p-button>
          </div>
        </div>
      </form>
    </div>
  </form>
</div>
