<div class="close-button d-flex pb-0 pt-3 px-3">
  <span
    class="material-icons-outlined no-selectionable"
    (click)="closeFilters.emit()">
    close
  </span>
</div>
<div class="filter-wrapper py-2 px-3">
  <h4 class="dark-blue-600 subtitle-2 text-center">Apply filters</h4>
  <form [formGroup]="form" *ngIf="form">
    <div class="filter-component" *ngFor="let filter of config.filters">
      <p>{{ filter.label }}</p>

      <ng-container *ngIf="filter.type === filterTypes.TEXT">
        <app-input
          [formControlName]="filter.name"
          (ngModelChange)="handleText(filter.name, $event)"></app-input>
      </ng-container>

      <ng-container *ngIf="filter.type === filterTypes.CURRENCY">
        <app-input
          placeholder="$ 0"
          type="tel"
          [inputMask]="'separator.2'"
          [maskPrefix]="'$ '"
          (ngModelChange)="handleNumber(filter.name, $event)"
          [formControlName]="filter.name"></app-input>
      </ng-container>

      <ng-container *ngIf="filter.type === filterTypes.PAYMENT_ENTITY">
        <app-dropdown-field
          [placeholder]="'Select an option'"
          [formControlName]="filter.name"
          (changeSelection)="handlePaymentEntity(filter.name, $event[0])"
          [options]="
            filter.options ? (filter.options | async) ?? [] : []
          "></app-dropdown-field>
      </ng-container>

      <ng-container *ngIf="filter.type === filterTypes.AGENT_SELECTOR">
        <app-agent-selector
          [showAllOption]="true"
          [multiple]="true"
          (selectionChange)="handleBrokerOrAccount(filter.name, $event)"
          [formControlName]="filter.name"></app-agent-selector>
      </ng-container>

      <ng-container *ngIf="filter.type === filterTypes.CLIENT_SELECTOR">
        <app-account-selector
          [showAllOption]="true"
          [multiple]="true"
          (selectionChange)="handleBrokerOrAccount(filter.name, $event)"
          [formControlName]="filter.name"></app-account-selector>
      </ng-container>

      <ng-container *ngIf="filter.type === filterTypes.SELECT">
        <app-dropdown-field
          [placeholder]="'Select an option'"
          [formControlName]="filter.name"
          (changeSelection)="handleDropdown(filter.name, $event[0])"
          [options]="
            filter.options ? (filter.options | async) ?? [] : []
          "></app-dropdown-field>
      </ng-container>

      <ng-container *ngIf="filter.type === filterTypes.MULTISELECT">
        <app-dropdown-field
          [placeholder]="'Select an option'"
          [formControlName]="filter.name"
          (changeSelection)="handleMultiDropdown(filter.name, $event)"
          [options]="filter.options ? (filter.options | async) ?? [] : []"
          [multiple]="true"></app-dropdown-field>
      </ng-container>

      <ng-container *ngIf="filter.type === filterTypes.DATE_RANGE">
        <mat-form-field appearance="outline" class="w-100">
          <mat-date-range-input
            [formGroup]="getFormRANGE(filter.name)"
            [rangePicker]="picker">
            <input
              matStartDate
              formControlName="start"
              placeholder="Start date" />
            <input matEndDate formControlName="end" placeholder="End date" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </ng-container>
    </div>

    <button
      class="primary-button back-gray-300 white mx-1"
      (click)="closeFilters.emit()">
      Cancel
    </button>
    <button
      class="primary-button back-light-blue-400 white mx-1"
      (click)="sendFilters()">
      Apply filters
    </button>
  </form>
</div>
