@import 'theme';

:host{
  .close-button {
    span{
      color: $gray-700 !important;
      cursor: pointer;
    }
    span:hover{
      background: $gray-100;
    }
  }

  form{
    p{
      padding: 0;
      margin: 0;
    }
  }
}