<form [formGroup]="form">
  <div class="row mb-4">
    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <label>First name*</label>
      <app-input
        placeholder="Enter first name"
        type="text"
        formControlName="first_name"></app-input>
    </div>

    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <label>Last name*</label>
      <app-input
        placeholder="Enter last name"
        type="text"
        formControlName="last_name"></app-input>
    </div>

    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <label>User type*</label>
      <app-dropdown-field
        [placeholder]="'Select user type'"
        formControlName="role"
        [options]="dropDownUserTypes"></app-dropdown-field>
    </div>

    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <label>Email*</label>
      <app-input
        placeholder="Enter Email Address"
        type="email"
        formControlName="email"></app-input>
    </div>

    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <label>Phone number*</label>
      <app-input
        placeholder="(XXX) XXX-XXXX"
        type="tel"
        [inputMask]="'(000) 000-0000'"
        formControlName="phone_number"></app-input>
    </div>

    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <label>Business line*</label>
      <app-dropdown-field
        [placeholder]="'Select business line'"
        [multiple]="true"
        formControlName="business_lines"
        [options]="businessLineOptions"></app-dropdown-field>
    </div>

    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <label>License number*</label>
      <app-input
        placeholder="Enter license number"
        type="text"
        formControlName="license_number"></app-input>
    </div>

    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <label>License expiry date*</label>
      <app-date-field
        [placeholder]="'MM/DD/YYYY'"
        [min]="today"
        formControlName="license_expires_at"></app-date-field>
    </div>

    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <label>Date of birth*</label>
      <app-date-field
        [placeholder]="'MM/DD/YYYY'"
        [max]="maxDate"
        formControlName="date_of_birth"></app-date-field>
    </div>

    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <label>Gender*</label>
      <app-dropdown-field
        [placeholder]="'Select a gender'"
        formControlName="gender"
        [options]="dropDownGender"></app-dropdown-field>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center">
    <p-button
      [style]="{ width: '120px', height: '45px', marginRight: '15px' }"
      styleClass="p-button-secondary p-button-rounded"
      label="Cancel"
      class="me-1 me-lg-4"
      (onClick)="cancelForm()"></p-button>
    <p-button
      [style]="{
        width: '120px',
        height: '45px',
        background: '#049DD9',
        borderColor: '#049DD9',
      }"
      styleClass="p-button-rounded"
      label="{{ data ? 'Edit' : 'Save' }}"
      rounded="true"
      (onClick)="openConfirmationModal()"
      [disabled]="form.invalid"></p-button>
  </div>
</form>
