<form [formGroup]="form">
  <div class="row mb-4">
    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <label>{{ 'PORTAL.USERS.FIRST_NAME' | translate }}*</label>
      <app-input
        [placeholder]="'PORTAL.USERS.PLACEHOLDER_FIRST_NAME' | translate"
        type="text"
        formControlName="first_name"></app-input>
    </div>

    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <label>{{ 'PORTAL.USERS.LAST_NAME' | translate }}*</label>
      <app-input
        [placeholder]="'PORTAL.USERS.PLACEHOLDER_LAST_NAME' | translate"
        type="text"
        formControlName="last_name"></app-input>
    </div>

    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <label>{{ 'PORTAL.USERS.TYPE' | translate }}*</label>
      <app-dropdown-field
        [placeholder]="'PORTAL.USERS.PLACEHOLDER_USER_TYPE' | translate"
        formControlName="role"
        [options]="dropDownUserTypes"></app-dropdown-field>
    </div>

    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <label>{{ 'PORTAL.USERS.EMAIL' | translate }}*</label>
      <app-input
        [placeholder]="'PORTAL.USERS.PLACEHOLDER_EMAIL' | translate"
        type="email"
        formControlName="email"></app-input>
    </div>

    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <label>{{ 'PORTAL.USERS.PHONE' | translate }}*</label>
      <app-input
        placeholder="(XXX) XXX-XXXX"
        type="tel"
        [inputMask]="'(000) 000-0000'"
        formControlName="phone_number"></app-input>
    </div>

    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <label>{{ 'PORTAL.USERS.BUSINESS_LINES' | translate }}*</label>
      <app-dropdown-field
        [placeholder]="'PORTAL.USERS.PLACEHOLDER_BUSINESS_LINE' | translate"
        [multiple]="true"
        formControlName="business_lines"
        [options]="businessLineOptions"></app-dropdown-field>
    </div>

    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <label>{{ 'PORTAL.USERS.LICENSE' | translate }}*</label>
      <app-input
        [placeholder]="'PORTAL.USERS.PLACEHOLDER_LICENSE' | translate"
        type="text"
        formControlName="license_number"></app-input>
    </div>

    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <label>{{ 'PORTAL.USERS.LICENSE_EXPIRES' | translate }}*</label>
      <app-date-field
        [placeholder]="'MM/DD/YYYY'"
        [min]="today"
        formControlName="license_expires_at"></app-date-field>
    </div>

    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <label>{{ 'PORTAL.USERS.DOB' | translate }}*</label>
      <app-date-field
        [placeholder]="'MM/DD/YYYY'"
        [max]="maxDate"
        formControlName="date_of_birth"></app-date-field>
    </div>

    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <label>{{ 'PORTAL.USERS.GENDER' | translate }}*</label>
      <app-dropdown-field
        [placeholder]="'PORTAL.USERS.PLACEHOLDER_GENDER' | translate"
        formControlName="gender"
        [options]="dropDownGender"></app-dropdown-field>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center">
    <p-button
      [style]="{ width: '120px', height: '45px', marginRight: '15px' }"
      styleClass="p-button-secondary p-button-rounded"
      [label]="'PORTAL.COMMON.CANCEL' | translate"
      class="me-1 me-lg-4"
      (onClick)="cancelForm()"></p-button>
    <p-button
      [style]="{
        width: '120px',
        height: '45px',
        background: '#049DD9',
        borderColor: '#049DD9',
      }"
      styleClass="p-button-rounded"
      [label]="(data ? 'PORTAL.COMMON.EDIT' : 'PORTAL.REQUESTS.FORM_NEW_BUSINESS.BTN_SAVE') | translate"
      rounded="true"
      (onClick)="openConfirmationModal()"
      [disabled]="form.invalid"></p-button>
  </div>
</form>
