@import 'theme';

nav{
  width: 100%;
  height: 100%;
  background: $white;
  border-bottom: 1px solid $portal-gray-100;
  .logo-section{
    width: 17.5rem;
    transition: all .3s ease;
    border-right: 1px solid $portal-gray-100;
  }
  .close-menu-logo-section{
    width: 6.8rem;
  }
  .navbar{
    width: calc(100% - 17.5rem);
    transition: all .3s ease;
  }
  .close-menu-navbar{
    width: calc(100% - 6.8rem);
  }
}

.popup-container{
  border: 1px solid #e5e7eb;
  box-shadow: 0 0.625rem 1.5rem 0 rgba(62,57,107,.18);
}