<div class="container">
  <h1>{{ 'PRIVACY.TITLE' | translate }}</h1>
  <p>
    <strong>{{ 'PRIVACY.DATE_VIGOR' | translate }}</strong>
  </p>
  <p>
    <strong>{{ 'PRIVACY.DATE_UPDATE' | translate }}</strong>
  </p>
  <p>{{ 'PRIVACY.INTRO_P1' | translate }}</p>
  <p>{{ 'PRIVACY.INTRO_P2' | translate }}</p>

  <h2>{{ 'PRIVACY.SECTIONS.S1.TITLE' | translate }}</h2>
  <ul>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S1.L1' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S1.T1' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S1.L2' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S1.T2' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S1.L3' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S1.T3' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S1.L4' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S1.T4' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S1.L5' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S1.T5' | translate }}
    </li>
  </ul>

  <h2>{{ 'PRIVACY.SECTIONS.S2.TITLE' | translate }}</h2>
  <p>{{ 'PRIVACY.SECTIONS.S2.INTRO' | translate }}</p>
  <h3>{{ 'PRIVACY.SECTIONS.S2.SUB21' | translate }}</h3>
  <ul>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S2.L1' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S2.T1' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S2.L2' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S2.T2' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S2.L3' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S2.T3' | translate }}
    </li>
  </ul>
  <h3>{{ 'PRIVACY.SECTIONS.S2.SUB22' | translate }}</h3>
  <ul>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S2.L4' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S2.T4' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S2.L5' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S2.T5' | translate }}
    </li>
  </ul>
  <h3>{{ 'PRIVACY.SECTIONS.S2.SUB23' | translate }}</h3>
  <p>{{ 'PRIVACY.SECTIONS.S2.T6' | translate }}</p>
  <ul>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S2.L6' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S2.T6_LIST' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S2.L7' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S2.T7_LIST' | translate }}
    </li>
  </ul>
  <p>{{ 'PRIVACY.SECTIONS.S2.FOOTER' | translate }}</p>

  <h2>{{ 'PRIVACY.SECTIONS.S3.TITLE' | translate }}</h2>
  <p>{{ 'PRIVACY.SECTIONS.S3.INTRO' | translate }}</p>
  <h3>{{ 'PRIVACY.SECTIONS.S3.SUB31' | translate }}</h3>
  <ul>
    <li>{{ 'PRIVACY.SECTIONS.S3.I31_1' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.S3.I31_2' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.S3.I31_3' | translate }}</li>
  </ul>
  <h3>{{ 'PRIVACY.SECTIONS.S3.SUB32' | translate }}</h3>
  <ul>
    <li>{{ 'PRIVACY.SECTIONS.S3.I32_1' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.S3.I32_2' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.S3.I32_3' | translate }}</li>
  </ul>
  <h3>{{ 'PRIVACY.SECTIONS.S3.SUB33' | translate }}</h3>
  <ul>
    <li>{{ 'PRIVACY.SECTIONS.S3.I33_1' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.S3.I33_2' | translate }}</li>
  </ul>
  <h3>{{ 'PRIVACY.SECTIONS.S3.SUB34' | translate }}</h3>
  <ul>
    <li>{{ 'PRIVACY.SECTIONS.S3.I34_1' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.S3.I34_2' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.S3.I34_3' | translate }}</li>
  </ul>
  <h3>{{ 'PRIVACY.SECTIONS.S3.SUB35' | translate }}</h3>
  <ul>
    <li>{{ 'PRIVACY.SECTIONS.S3.I35_1' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.S3.I35_2' | translate }}</li>
  </ul>

  <h2>{{ 'PRIVACY.SECTIONS.S4.TITLE' | translate }}</h2>
  <p>{{ 'PRIVACY.SECTIONS.S4.INTRO' | translate }}</p>
  <ul>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S4.L1' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S4.T1' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S4.L2' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S4.T2' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S4.L3' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S4.T3' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S4.L4' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S4.T4' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S4.L5' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S4.T5' | translate }}
    </li>
  </ul>

  <h2>{{ 'PRIVACY.SECTIONS.S5.TITLE' | translate }}</h2>
  <p>{{ 'PRIVACY.SECTIONS.S5.INTRO' | translate }}</p>
  <ul>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S5.L1' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S5.T1' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S5.L2' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S5.T2' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S5.L3' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S5.T3' | translate }}
    </li>
  </ul>
  <p>{{ 'PRIVACY.SECTIONS.S5.FOOTER' | translate }}</p>
  <ul>
    <li>{{ 'PRIVACY.SECTIONS.S5.I1' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.S5.I2' | translate }}</li>
    <li>{{ 'PRIVACY.SECTIONS.S5.I3' | translate }}</li>
  </ul>

  <h2>{{ 'PRIVACY.SECTIONS.S6.TITLE' | translate }}</h2>
  <p>{{ 'PRIVACY.SECTIONS.S6.P1' | translate }}</p>
  <p>
    <strong>{{ 'PRIVACY.SECTIONS.S6.L1' | translate }}</strong>
    {{ 'PRIVACY.SECTIONS.S6.T1' | translate }}
  </p>

  <h2>{{ 'PRIVACY.SECTIONS.S7.TITLE' | translate }}</h2>
  <p>{{ 'PRIVACY.SECTIONS.S7.INTRO' | translate }}</p>
  <ul>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S7.L1' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S7.T1' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S7.L2' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S7.T2' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S7.L3' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S7.T3' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S7.L4' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S7.T4' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S7.L5' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S7.T5' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S7.L6' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S7.T6' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S7.L7' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S7.T7' | translate }}
    </li>
    <li>
      <strong>{{ 'PRIVACY.SECTIONS.S7.L8' | translate }}</strong>
      {{ 'PRIVACY.SECTIONS.S7.T8' | translate }}
    </li>
  </ul>
  <p>{{ 'PRIVACY.SECTIONS.S7.FOOTER' | translate }}</p>

  <h2>{{ 'PRIVACY.SECTIONS.S8.TITLE' | translate }}</h2>
  <p>{{ 'PRIVACY.SECTIONS.S8.P1' | translate }}</p>

  <h2>{{ 'PRIVACY.SECTIONS.S9.TITLE' | translate }}</h2>
  <p>{{ 'PRIVACY.SECTIONS.S9.P1' | translate }}</p>

  <h2>{{ 'PRIVACY.SECTIONS.S10.TITLE' | translate }}</h2>
  <p>{{ 'PRIVACY.SECTIONS.S10.P1' | translate }}</p>

  <h2>{{ 'PRIVACY.SECTIONS.S11.TITLE' | translate }}</h2>
  <p>{{ 'PRIVACY.SECTIONS.S11.P1' | translate }}</p>
  <div class="contact-info">
    <p>
      <strong>{{ 'PRIVACY.SECTIONS.S11.EMAIL_L' | translate }}</strong>
      <a href="mailto:info@mymasterbook.net">info@mymasterbook.net</a>
    </p>
    <p>
      <strong>{{ 'PRIVACY.SECTIONS.S11.WEB_L' | translate }}</strong>
      <a href="https://mymasterbook.net" target="_blank"
        >https://mymasterbook.net</a
      >
    </p>
  </div>
</div>
