.chart-container {
    width: 100%;
    text-align: center;
   
  }

.animated-number {
    font-size: 3rem;  // Adjust as needed
    transition: transform 0.2s ease-out, filter 0.2s ease-out; 
  }
  
  .animated-number.blurring {
    filter: blur(1px);  // Adjust the blur intensity
  }

  .animated-number.scaling {
    transform: scale(1.1);  // Increase size for speed effect
  }
  
