@import 'theme';

.statistics_card{
    width: 100%;
    height: 12rem;
    .icon{
        background-color: #e9ecef !important;
        width: 3.125rem;
        height: 3.125rem;
        overflow: hidden;
        border-radius: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        border: 1px solid #dcdee4;
    }

    .extent{
        height: 2.1rem;
        padding-top: 0.4rem;
    }
}

a{
    color: #283c50;
    text-decoration: none;
    transition: all .3s ease;
}