<ng-container *ngIf="form" [formGroup]="form">
  <mat-form-field appearance="outline" class="w-100">
    <textarea
      *ngIf="isTextArea; else normalInput"
      matInput
      cdkTextareaAutosize
      [attr.data-testid]="dataTestId ?? null"
      [placeholder]="placeholder"
      formControlName="value"
      (blur)="onTouched(); updateErrors()"
      (input)="changeValue()">
    </textarea>

    <ng-template #normalInput>
      <input
        matInput
        [attr.data-testid]="dataTestId ?? null"
        [type]="type"
        [placeholder]="placeholder"
        formControlName="value"
        (blur)="onTouched(); updateErrors()"
        (input)="changeValue()"
        thousandSeparator=","
        decimalMarker="."
        [suffix]="maskSuffix ?? ''"
        [prefix]="maskPrefix ?? ''"
        [leadZero]="inputMask === 'separator.2'"
        [mask]="inputMask ?? undefined" />
    </ng-template>

    <mat-icon
      matSuffix
      class="clear-icon"
      *ngIf="
        clearable &&
        !isTextArea &&
        form.get('value')?.value !== null &&
        form.get('value')?.value !== ''
      "
      (click)="clearValue($event)">
      close
    </mat-icon>

    <mat-error *ngIf="errors.length > 0">
      {{ errorMessage }}
    </mat-error>
  </mat-form-field>
</ng-container>
