<div class="row px-2 px-md-5 mx-2">
  <div
    class="d-none d-md-block col-12 col-md-7 px-0 pt-5 pe-0 px-md-5 pe-md-2 order-2 order-md-1">
    <h3 class="title-3 gray-500 mb-0">Tell us more about</h3>
    <h3 class="title-3 dark-blue-400">You</h3>
    <img
      class="w-100 mb-5 mb-md-0 px-0 px-md-3"
      src="/assets/images/register_two/ilustration-independent-agent.png"
      alt="independent agent image" />
  </div>

  <div class="col-12 col-md-5 ps-md-3 pe-md-4 order-1 order-md-2">
    <div class="d-block d-md-none mb-5">
      <h3 class="title-3 gray-500 mb-0">
        Tell us more about <span class="dark-blue-400">You</span>
      </h3>
    </div>

    <div class="d-flex justify-content-center mb-5 mb-md-4">
      <div>
        <app-picture-selector
          [icon]="'/assets/icons/user_two.svg'"
          (imgChange)="
            addImage($event, 'profile_image')
          "></app-picture-selector>
        <h3 class="text-center subtitle-4 light-blue-500 mt-3">Your photo</h3>
      </div>
    </div>

    <form [formGroup]="form">
      <div class="mb-3">
        <div
          class="p-inputgroup anon-input-custom"
          [ngClass]="{
            'custom-error': isInvalid(form.controls['phone_number'])
          }">
          <span class="p-inputgroup-addon">
            <img src="/assets/icons/register-two/phone.svg" alt="" />
          </span>
          <input
            pInputText
            class="text-2"
            placeholder="Phone number"
            formControlName="phone_number"
            mask="(000) 000-0000" />
        </div>
        <small
          class="text-danger mt-1"
          *ngIf="hasError(form.controls['phone_number'], 'required')">
          The field is required
        </small>
        <small
          class="text-danger mt-1"
          *ngIf="hasError(form.controls['phone_number'], 'mask')">
          Please enter a valid phone
        </small>
      </div>

      <div class="row mb-3">
        <div class="col-md-6 mb-3 mb-md-0">
          <div
            class="p-inputgroup anon-input-custom"
            [ngClass]="{
              'custom-error': isInvalid(form.controls['license_number'])
            }">
            <span class="p-inputgroup-addon">
              <img src="/assets/icons/register-two/license.svg" alt="" />
            </span>
            <input
              pInputText
              class="text-2"
              placeholder="License number"
              formControlName="license_number" />
          </div>
          <small
            *ngIf="hasError(form.controls['license_number'], 'required')"
            class="text-danger mt-1">
            This field is required
          </small>
          <small
            *ngIf="hasError(form.controls['license_number'], 'maxlength')"
            class="text-danger mt-1">
            This field must have a maximum of 25 characters
          </small>
        </div>

        <div class="col-md-6">
          <div
            class="p-inputgroup anon-input-custom anon-input-date-custom"
            [ngClass]="{
              'custom-error': isInvalid(
                form.controls['license_number_expires_on']
              )
            }">
            <span class="p-inputgroup-addon">
              <img src="/assets/icons/register-two/calendar.svg" alt="" />
            </span>
            <p-calendar
              formControlName="license_number_expires_on"
              [minDate]="today"
              placeholder="Due Date: MM/DD/YYYY"></p-calendar>
          </div>
          <small
            *ngIf="
              hasError(form.controls['license_number_expires_on'], 'required')
            "
            class="text-danger mt-1">
            This field is required
          </small>
        </div>
      </div>

      <div class="mb-3">
        <div class="mb-3">
          <div
            class="p-inputgroup anon-input-custom"
            [ngClass]="{
              'custom-error': isInvalid(form.controls['address'])
            }">
            <span class="p-inputgroup-addon">
              <img src="/assets/icons/register-two/location.svg" alt="" />
            </span>
            <input
              pInputText
              class="text-2"
              [placeholder]="'Address'"
              formControlName="address"
              (updateAddress)="handleAddress($event)"
              (ngModelChange)="resetAddress()"
              appAddressAutocomplete />
          </div>
          <small
            *ngIf="hasError(form.controls['address'], 'required')"
            class="text-danger mt-1">
            This field is required
          </small>
          <small
            *ngIf="hasError(form.controls['address_extra'], 'required')"
            class="text-danger mt-1">
            Please select an address
          </small>
        </div>
      </div>

      <div class="mb-3">
        <div
          class="p-inputgroup anon-input-custom anon-textarea"
          [ngClass]="{
            'custom-error': isInvalid(form.controls['additional_address'])
          }">
          <span class="p-inputgroup-addon">
            <img src="/assets/icons/register-two/location.svg" alt="" />
          </span>
          <textarea
            rows="3"
            class="w-100 text-2"
            pInputTextarea
            formControlName="additional_address"
            placeholder="Additional Address Information"></textarea>
        </div>
        <small
          *ngIf="hasError(form.controls['additional_address'], 'maxlength')"
          class="text-danger mt-1">
          This field must have maximun 100 characters
        </small>
      </div>

      <div class="mb-3">
        <div class="d-flex ms-2 anon-checkbox">
          <p-checkbox
            formControlName="accepted_terms_conditions"
            id="accepted_terms_conditions"
            [binary]="true"></p-checkbox>
          <span class="ms-2 d-flex align-items-center text-check">
            <label style="font-weight: 500" for="accepted_terms_conditions">
              I accept the
              <span
                style="cursor: pointer; color: #1472c3"
                (click)="openModal('terms-conditions')">
                terms and conditions</span
              >
              and
              <span
                style="cursor: pointer; color: #1472c3"
                (click)="openModal('privacy-policies')">
                privacy policies
              </span>
            </label>
          </span>
        </div>
        <small
          *ngIf="
            hasError(form.controls['accepted_terms_conditions'], 'required')
          "
          class="text-danger mt-1">
          This field is required
        </small>
      </div>

      <div class="d-flex justify-content-center mt-4 pt-2 pt-md-0">
        <button
          class="primary-button big-button back-light-blue-500 white"
          (click)="send()">
          Continue
        </button>
      </div>
    </form>
  </div>
</div>
