<app-pages-layout>
  <ng-container content>
    <div class="d-flex align-items-center mb-1 ms-2" *ngIf="category">
      <span
        class="material-icons-outlined me-2"
        style="cursor:pointer"
        [matTooltip]="'PORTAL.PORTAL_ADMIN.POLICY_SETTINGS.BACK' | translate"
        (click)="cancel()">
        arrow_back
      </span>
    </div>
    <div class="col-12 mb-4" *ngIf="category">
      <div class="text-center">
        <h1 class="subtitle-1 dark-blue-400">{{ 'PORTAL.PORTAL_ADMIN.POLICY_SETTINGS.EDIT_CATEGORY_TITLE' | translate }} — {{ category.name }}</h1>
      </div>
    </div>
    <div class="px-2 px-lg-5" *ngIf="category">
      <app-policy-category-form [category]="category" (formSubmit)="save($event)" (cancel)="cancel()"></app-policy-category-form>
    </div>
  </ng-container>
</app-pages-layout>
