<h2
  mat-dialog-title
  class="d-flex justify-content-between align-items-start pt-1 pb-1 pt-md-3 pb-md-2">
  <button mat-icon-button mat-dialog-close [attr.aria-label]="'PORTAL.SHARED.CLOSE' | translate">
    <mat-icon>close</mat-icon>
  </button>
</h2>

<mat-dialog-content class="px-4 py-2 px-md-5 pb-md-4 mb-3">
  <form [formGroup]="form" *ngIf="form">
    <div class="row">
      <h6 class="title-form text-center mb-3 mb-md-4">{{ 'PORTAL.REQUESTS.MODAL_NEW_QUOTE.TITLE' | translate }}</h6>
      <div class="col-12 col-md-6 mb-3 mb-md-4">
        <label>{{ 'PORTAL.REQUESTS.MODAL_NEW_QUOTE.FIELD_INSURER' | translate }}</label>
        <app-insurance-company-selector
          [placeholder]="'PORTAL.REQUESTS.MODAL_NEW_QUOTE.PLACEHOLDER_INSURER' | translate"
          formControlName="insurer_id"></app-insurance-company-selector>
      </div>

      <div class="col-12 col-md-6 mb-3 mb-md-4">
        <label>{{ 'PORTAL.REQUESTS.MODAL_NEW_QUOTE.FIELD_QUOTE_DATE' | translate }}</label>
        <app-date-input
          formControlName="quote_date"></app-date-input>
      </div>

      <div class="col-12 col-md-6 mb-3 mb-md-4">
        <label>{{ 'PORTAL.REQUESTS.MODAL_NEW_QUOTE.FIELD_PREMIUM' | translate }}</label>
        <app-currency-input formControlName="prime_amount"></app-currency-input>
      </div>

      <div class="col-12 col-md-6 mb-3 mb-md-4">
        <label>{{ 'PORTAL.REQUESTS.MODAL_NEW_QUOTE.FIELD_COVERAGE' | translate }}</label>
        <app-currency-input formControlName="coverage"></app-currency-input>
      </div>

      <div class="col-12 col-md-6 mb-3 mb-md-4">
        <label>{{ 'PORTAL.REQUESTS.MODAL_NEW_QUOTE.FIELD_DEDUCTIBLE' | translate }}</label>
        <app-currency-input formControlName="deductible"></app-currency-input>
      </div>

      <div class="col-12 col-md-6 mb-3 mb-md-4">
        <label>{{ 'PORTAL.REQUESTS.MODAL_NEW_QUOTE.FIELD_QUOTE_COPY' | translate }}</label>
        <app-file-picker
          [placeholder]="'PORTAL.REQUESTS.MODAL_NEW_QUOTE.PLACEHOLDER_ATTACH' | translate"
          formControlName="document"
          data-testid="policy-upload-input">
        </app-file-picker>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-center gap-2">
      <button
        class="big-button primary-button white back-gray-400 mx-1"
        (click)="close(false)">
        {{ 'PORTAL.REQUESTS.MODAL_NEW_QUOTE.BTN_CLOSE' | translate }}
      </button>

      <button
        class="primary-button big-button back-light-blue-400 white mx-1 mt-2"
        (click)="createQuote()"
        [disabled]="form.invalid">
        {{ 'PORTAL.REQUESTS.FORM_NEW_BUSINESS.BTN_SAVE' | translate }}
      </button>
    </div>
  </form>
</mat-dialog-content>
