@import 'theme';

:host ::ng-deep {
  label {
    font-family: $font-family;
    font-weight: 500;
    font-size: 1rem;
    color: $black;
    margin-bottom: .5rem;
  }

  .p-inputtext {
    width: 100% ;
    max-width: 200px;
  }

  .password-input {
    position: relative;
    width: 100%;
  }

  .btn-eye {
    position: absolute;
    top: 38%;
    right: 0.8rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .title-rules {
    font-family: $font-family;
    font-weight: 600;
    font-size: 0.9rem;
    color: $gray-700;
  }

  .password-validation {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
  }

  .password-validation ul {
    padding-left: 0.75rem;
    list-style: none;
  }

  .validation-messages {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
  }

  li.valid {
    color: green;
    &::before { content: "✔ "; }
  }

  li.invalid {
    color: red;
    &::before { content: "✘ "; }
  }
}
