<div class="px-3 pb-3 row">
  <div class="col-6 pe-3 d-flex justify-content-center align-items-center">
    <img
      class="img-form text-selection-disable"
      src="/assets/images/home/ilustration_form_singup.png"
      alt="mobile toggle" />
  </div>

  <div class="col-6 ps-5">
    <h6
      class="title-form mb-5 d-flex aling-items-content justify-content-center">
      {{ 'GENERAL.REGISTRATION_FORM' | translate }}
    </h6>
    <form (ngSubmit)="singUp()" [formGroup]="form">
      <div class="row mb-3">
        <div class="col-6">
          <app-input
            style="width: 11.25rem"
            type="text"
            formControlName="name"
            placeholder="Name"></app-input>
        </div>
        <div class="col-6">
          <app-input
            style="width: 11.25rem"
            type="text"
            formControlName="lastName"
            placeholder="Last name"></app-input>
        </div>
      </div>
      <div class="mb-3">
        <app-input
          style="width: 11.25rem"
          type="email"
          formControlName="email"
          placeholder="Mail"></app-input>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <p-dropdown
            [options]="countries"
            formControlName="country"
            optionLabel="name"
            [showClear]="true"
            placeholder="Country">
            <!-- <ng-template pTemplate="selectedItem">
                <div
                  class="flex align-items-center gap-2"
                  *ngIf="selectedCountry">
                  <img
                    src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                    [class]="'flag flag-' + selectedCountry.code.toLowerCase()"
                    style="width: 18px" />
                </div>
              </ng-template> -->
            <ng-template let-country pTemplate="item">
              <div class="flex align-items-center gap-2">
                <img
                  src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                  [class]="'flag flag-' + country.code.toLowerCase()"
                  style="width: 18px" />
                <div>{{ country.name }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="col-9">
          <app-input
            style="width: 11.25rem"
            type="number"
            formControlName="phoneNumber"
            placeholder="Phone number"></app-input>
        </div>
      </div>
      <div class="mb-3">
        <app-input
          style="width: 11.25rem"
          type="password"
          formControlName="password"
          placeholder="Password"></app-input>
      </div>
      <div class="mb-4">
        <app-input
          style="width: 11.25rem"
          type="password"
          formControlName="rectifyPassword"
          placeholder="Rectify your password"></app-input>
      </div>
      <div class="d-flex aling-items-content justify-content-center">
        <app-primary-button
          [text]="'GENERAL.SIGN_UP' | translate"
          class="anon-navbar-buttons-margin"></app-primary-button>
      </div>
    </form>
  </div>
</div>
