<div class="reset_password">
  <div>
    <h2 class="title mb-4 fw-semibold ps-2 ps-md-0 text-center">
      {{ 'RESET_PASSWORD.TEXT_1' | translate }} <br />
      <span>{{ 'RESET_PASSWORD.TEXT_2' | translate }}</span>
    </h2>

    <form
      (ngSubmit)="resetPassword()"
      [formGroup]="form"
      class="ps-1 ps-md-0 d-flex flex-column align-items-center">
      <div class="m-4 container-input">
        <app-input
          [icon]="'/assets/icons/lock.svg'"
          type="password"
          placeholder="New Password"
          formControlName="password"
          [align]="'center'"
          class="{{
            invalidMinLength('password') ? 'ng-invalid ng-dirty' : ''
          }}"></app-input>
        <small
          *ngIf="invalidMinLength('password')"
          class="text-danger"
          style="font-size: 12"
          >The password must be at least 8 characters in length</small
        >
      </div>

      <div class="container-input">
        <app-input
          [icon]="'/assets/icons/lock.svg'"
          type="password"
          placeholder="Rectify your password"
          formControlName="passwordConfirm"
          [align]="'center'"
          class="{{
            invalidMinLength('passwordConfirm') ? 'ng-invalid ng-dirty' : ''
          }}"></app-input>
        <small
          *ngIf="invalidMinLength('passwordConfirm')"
          class="text-danger"
          style="font-size: 12"
          >The rectify password must be at least 8 characters in length</small
        >
      </div>

      <div class="d-flex justify-content-center mt-5">
        <app-primary-button
          [text]="'Save'"
          [disabled]="form.invalid"></app-primary-button>
      </div>
    </form>
  </div>
</div>

<app-anon-modal
  [visible]="visible"
  (visibleChange)="visible = $event"
  [width]="30"
  [height]="9"
  [hideClose]="true">
  <ng-container content>
    <app-password-change-modal></app-password-change-modal>
  </ng-container>
</app-anon-modal>
