@import 'theme';

.reset_password{
  width: 100%;
  padding: 100px 20px;
  display: flex;
  .image-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-container{
    width: 50%;
    padding-left: 2rem;
    .title{
      margin-bottom: 3rem;
      font-size: 48px;
      font-weight: 700;
      line-height: 35px;
      font-family: $font-title;
      color: $gray-2;
    }
    .form{
      width: 390px;
    }
    span{
      color: $blue-primary;
    }
  }
}
