<div class="reset_password">
  <div class="image-container">
    <img src="/assets/images/reset_password/reset_password.png" alt="img" />
  </div>

  <div class="form-container">
    <h2 class="title">
      {{ 'RESET_PASSWORD.TEXT_1' | translate }}
      <span>{{ 'RESET_PASSWORD.TEXT_2' | translate }}</span>
    </h2>

    <div class="form">
      <app-input
        style="width: 390px"
        [(ngModel)]="value"
        [icon]="'/assets/icons/company.svg'"
        type="password"
        placeholder="Company name"
        [align]="'center'"></app-input>

      <app-textarea
        [marginValue]="'22px 0px'"
        [widthValue]="'390px'"
        [(ngModel)]="valueTextarea"
        placeholder="Description"></app-textarea>

      <app-primary-button [text]="'Continue'"></app-primary-button>
    </div>
  </div>
</div>
