@import 'theme';

.reset_password{
  width: 100%;
  padding: 9.2rem 1.5rem;
  .title{
    font-size: 3rem;
    line-height: 2.2rem;
    font-family: $font-family;
    color: $gray-500;
  }
  span{
    color: $light-blue-500;
  }
  .container-input{
    width: 30%;
  }
}

@media only screen and (max-width: 767px) {
  .reset_password{
    .container-input{
      width: 90%;
    }
  }
}