@import 'theme';

::ng-deep .cdk-overlay-pane {
    min-width: none !important;
    max-width: none !important;
    width: auto !important;
}

:host{
  &::ng-deep{
    .autocomplete-result{
      span{
        color: $light-blue-500 !important;
      }
    }

    .highlight{
      color: $light-blue-500 !important;
    }
  }
}
