@import 'theme';

:host ::ng-deep {

    [class~='p-dialog-header'] {
        padding: 1.4rem 1.8rem 0.7rem;
        border-top-right-radius: 2.5rem !important;
        border-top-left-radius: 2.5rem !important;
      }
    
      [class~='p-dialog-content'] {
        border-bottom-right-radius: 2.5rem !important;
        border-bottom-left-radius: 2.5rem !important;
      }
    
      [class~='p-dialog'] {
        border-radius: 2.5rem;
      }


  [class~='p-dialog-content'] {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -5px;
  }

  [class~='p-dialog-header-icons'] {
    display: none !important;
  }
}

.img-notification {
  width: 6rem;
  height: 6rem;
}

.title-notification {
  font-family: $font-text-1;
  font-size: 3rem;
  font-weight: 800;
  line-height: 2.5rem;
  text-align: left;
  color: $gray-2;
}
