@import 'theme';

:host {
  &::ng-deep {
    [class~='p-dialog-content'] {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: -5px;
      padding: 0.6rem 2.5rem 1.2rem 1.5rem !important;
    }
    
    [class~='p-dialog-header-icons'] {
      display: none !important;
    }
  }
  
  .img-notification {
    width: 4rem;
    height: 4rem;
  }

  .title-notification {
    font-family: $font-family;
    font-weight: 800;
    color: $gray-500;
  }
}
