<footer class="white back-dark-blue-600">
  <div class="row">
    <div class="col-12 col-md-3">
      <p class="subtitle-4 text-selection-disable mb-2 mb-lg-3">
        {{ 'GENERAL.RESOURCES' | translate }}
      </p>
      <ul class="column-list text-3">
        <li
          class="column-item text-2 text-selection-disable mb-2 hover"
          (click)="navigatePrivacyPolicy()">
          {{ 'GENERAL.PRIVACY' | translate }}
        </li>
        <li
          class="column-item text-2 text-selection-disable hover"
          (click)="navigateTermsAndConditions()">
          {{ 'GENERAL.TERMS' | translate }}
        </li>
      </ul>
    </div>

    <div class="col-12 col-md-3">
      <p class="subtitle-4 text-selection-disable mb-2 mb-lg-3">
        {{ 'GENERAL.CONTACTS' | translate }}
      </p>
      <ul class="column-list text-3">
        <li
          class="column-item text-2 text-selection-disable mb-2 hover"
          style="cursor: default">
          {{ 'GENERAL.PHONE_NUMBER' | translate }}
        </li>
        <li
          class="column-item text-2 text-selection-disable hover"
          style="cursor: default">
          info@mymasterbook.net
        </li>
      </ul>
    </div>

    <div class="col-12 col-md-3">
      <p class="subtitle-4 text-selection-disable mb-2 mb-lg-3">
        {{ 'GENERAL.SUPPORT' | translate }}
      </p>
      <ul class="column-list text-3">
        <li
          class="column-item text-2 text-selection-disable mb-2 hover"
          style="cursor: default">
          {{ 'GENERAL.YOU_NEED_SUPPORT' | translate }}
          <span (click)="openModalTicket()" style="cursor: pointer">{{
            'GENERAL.CLICK_HERE' | translate
          }}</span>
        </li>
      </ul>
    </div>

    <div class="separator d-block d-md-none"></div>

    <div class="col-12 col-md-3 d-flex flex-column align-items-center">
      <p class="subtitle-4 text-selection-disable mb-2 mb-lg-3">
        {{ 'GENERAL.SOCIAL_MEDIA' | translate }}
      </p>
      <ul
        class="column-list d-flex align-items-center"
        style="gap: 0.5rem !important">
        <li
          class="social-network d-flex justify-content-center align-items-center text-selection-disable">
          <img src="/assets/icons/footer/instagram.svg" alt="" />
        </li>
        <li
          class="social-network d-flex justify-content-center align-items-center text-selection-disable">
          <img src="/assets/icons/footer/facebook.svg" alt="" />
        </li>
        <li
          class="social-network d-flex justify-content-center align-items-center text-selection-disable">
          <img src="/assets/icons/footer/youtube.svg" alt="" />
        </li>
      </ul>
    </div>
  </div>

  <div class="separator"></div>

  <div
    class="copyright text-selection-disable mb-2 text-3 text-center justify-content-center align-item-center">
    {{ 'GENERAL.ALL_RIGHTS' | translate }} {{ currentYear }}
  </div>
</footer>
