@import 'theme';

:host {
  ::ng-deep {
    .mat-mdc-form-field-flex{
      cursor: pointer !important;
    }

    .mat-form-field-disabled {
      .mat-mdc-text-field-wrapper {
        background: $gray-000 !important;
      }
      .mdc-notched-outline {
        border: 1px $gray-400 solid !important;
        border-radius: 4px !important;
      }
      .mat-mdc-input-element {
        color: $gray-500 !important;
      }
    }
  }
}
