<div class="ui-modal" autofocus>
  <div
    class="ui-modal-header white subtitle-3 text-center py-2 back-light-blue-500">
    {{ title }}
  </div>
  <div class="ui-modal-content py-3 px-2 text-center text-1 gray-500">
    <ng-container [ngTemplateOutlet]="formTemplate"></ng-container>
  </div>
  <div class="ui-modal-footer d-flex justify-content-center pb-4">
    <button
      class="primary-button white back-gray-400 mx-1"
      (click)="close(false)">
      {{ 'PORTAL.FORMS.BTN_CLOSE' | translate }}
    </button>

    <button
      class="primary-button white back-light-blue-500 mx-1"
      [disabled]="form.invalid"
      (click)="submitForm()">
      {{ 'PORTAL.FORMS.BTN_SAVE' | translate }}
    </button>
  </div>
</div>

<ng-template #formTemplate>
  <form [formGroup]="form" class="d-flex flex-column align-items-center px-2">
    <div class="col-12 mb-4 mb-md-0">
      <label>{{ 'PORTAL.FORMS.FIELD_FORM_NAME' | translate }}</label>
      <app-input
        [placeholder]="'PORTAL.FORMS.PLACEHOLDER_FORM_NAME' | translate"
        type="text"
        formControlName="name"></app-input>
    </div>

    <div class="col-12 mb-4 mb-md-0">
      <label>{{ 'PORTAL.FORMS.FIELD_INSURER' | translate }}</label>
      <app-dropdown-field
        formControlName="insurer_ids"
        [multiple]="true"
        [options]="insurers"></app-dropdown-field>
    </div>

    <div class="col-12 mb-4 mb-md-0" *ngIf="isAdmin">
      <label>{{ 'PORTAL.PORTAL_ADMIN.FORMS.COL_POLICY_TYPE' | translate }}</label>
      <app-dropdown-field
        formControlName="policy_type_id"
        [options]="policyTypes"></app-dropdown-field>
    </div>

    <div class="col-12 mb-4 mb-md-0" *ngIf="isAdmin">
      <label>{{ 'PORTAL.PORTAL_ADMIN.FORMS.FIELD_TENANTS' | translate }}</label>
      <app-dropdown-field
        formControlName="tenant_ids"
        [multiple]="true"
        [options]="tenants"></app-dropdown-field>
    </div>

    <div class="col-12 mb-4 mb-md-0">
      <label>{{ 'PORTAL.FORMS.FIELD_DOCUMENT' | translate }}</label>
      <app-file-picker
        formControlName="form_document"
        [mode]="fileUploadMode.INPUT"></app-file-picker>
    </div>
  </form>
</ng-template>
