<div class="ui-modal" autofocus>
  <div
    class="ui-modal-header white subtitle-3 text-center py-2 back-light-blue-500">
    {{ title }}
  </div>
  <div class="ui-modal-content py-3 px-2 text-center text-1 gray-500">
    <ng-container [ngTemplateOutlet]="table"></ng-container>
  </div>
  <div class="ui-modal-footer d-flex justify-content-center pb-4">
    <button
      class="primary-button white back-gray-400 mx-1"
      (click)="close(false)">
      Close
    </button>

    <button
      class="primary-button white back-light-blue-500 mx-1"
      *ngIf="showActions"
      (click)="openModalCreateForm()">
      Add new form
    </button>
  </div>
</div>

<ng-template #table>
  <div class="table-responsive" *ngIf="forms">
    <table
      mat-table
      [dataSource]="forms"
      style="width: auto; overflow-x: scroll">
      <ng-container matColumnDef="serial">
        <th mat-header-cell *matHeaderCellDef>Serial</th>
        <td mat-cell *matCellDef="let element">
          {{ element.serial | notNull }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.name | notNull }}
        </td>
      </ng-container>

      <ng-container matColumnDef="insurer">
        <th mat-header-cell *matHeaderCellDef>Insurers</th>
        <td mat-cell *matCellDef="let element">
          {{ getInsurerNames(element) | notNull }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <a
            [href]="element.form_document.document"
            target="_blank"
            class="attach-link">
            <span
              class="material-icons-outlined me-2"
              style="cursor: pointer"
              matTooltip="download this form">
              attachment
            </span>
          </a>

          <span
            class="material-icons-outlined me-2 light-blue-600"
            style="cursor: pointer"
            *ngIf="showActions"
            matTooltip="Edit this form"
            (click)="openModalCreateForm(element)">
            edit
          </span>

          <span
            class="material-icons-outlined me-2 red-color"
            style="cursor: pointer"
            *ngIf="showActions"
            matTooltip="Delete this form"
            (click)="deleteForm(element._id)">
            delete
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr *matNoDataRow>
        <td [attr.colspan]="displayedColumns.length" class="text-center">
          <app-default-empty-state></app-default-empty-state>
        </td>
      </tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</ng-template>
