@import 'theme';

:host{
  .ui-modal {
    border-radius: 1.25rem;
    width: 55rem;
    max-width: 100%;
    background: $white;
    .ui-modal-header{
      border-radius: 1.25rem 1.25rem 0 0;
      width: 100%;
    }
  }

  .alert-login-google {
    background-color: $light-blue-100;
    border: 2px $light-blue-400 solid;
    border-radius: 0.4rem;
    text-align: justify;
  }

  .button-login-google {
    cursor: pointer !important;
    font-weight: 600;
    &:hover {
      opacity: 80%;
    }
  }
}
