@import 'theme';

:host ::ng-deep {
  .prop-box {
    background-color: $gray-100;
  }

  .container-item {
    border-radius: 0.5rem;
    background: $gray-100;
  }

  .file-item {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img.file-thumbnail {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      cursor: pointer;
    }

    .file-icon-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    .file-icon {
      font-size: 2.5rem;
      color: $gray-500;
    }
  }
}
