<app-pages-layout>
  <ng-container content *ngIf="claim">
    <div class="d-flex justify-content-between align-items-center mb-1 ms-2">
      <span
        class="material-icons-outlined me-2"
        style="cursor: pointer"
        matTooltip="Back to last page"
        (click)="goBack()">
        arrow_back
      </span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="dark-blue-400">more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu" xPosition="before">
        <button
          mat-menu-item
          *ngIf="isOwner"
          (click)="openModalChangeLogs(claim._id)">
          <span class="d-flex align-items-center gap-2">
            <span class="material-icons-outlined dark-blue-400">history</span>
            <span>Change Logs</span>
          </span>
        </button>

        <button
          mat-menu-item
          (click)="_url.navigateTo('portal/claims', claim.serial, 'edit')">
          <span class="d-flex align-items-center gap-2">
            <span class="material-icons-outlined dark-blue-400">edit</span>
            <span>Edit</span>
          </span>
        </button>

        <button mat-menu-item (click)="openConfirmationModal(claim._id)">
          <span class="d-flex align-items-center gap-2">
            <span class="material-icons-outlined text-danger">delete</span>
            <span>Delete</span>
          </span>
        </button>
      </mat-menu>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <div class="d-flex flex-column">
        <h3 class="text-center w-100 mb-1 subtitle-1 dark-blue-400">
          Claim: # {{ claim.serial | notNull }}
        </h3>
        <p class="text-3 gray-500 text-center">
          Created date on: {{ claim.createdAt | date : 'MM/dd/yyyy' | notNull }}
        </p>
      </div>
    </div>
    <div class="row px-4 my-2 px-md-5 my-md-5">
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Account</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ claim.client?.account_name | notNull }}
          </div>
        </div>
      </div>

      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Policy Number</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            <span
              (click)="_url.navigateTo('portal/policies', claim.policy?.serial)"
              style="color: #00aaff; cursor: pointer"
              >{{ claim.policy?.policy_number | notNull }}</span
            >
          </div>
        </div>
      </div>

      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Claim Date</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ claim.createdAt | date : 'MM/dd/yyyy' | notNull }}
          </div>
        </div>
      </div>

      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Event Date</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ claim.event_date | date : 'MM/dd/yyyy' | notNull }}
          </div>
        </div>
      </div>

      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Loss Amount</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{
              claim.amount_requested
                | currency : 'USD' : 'symbol' : '1.2-2'
                | notNull
            }}
          </div>
        </div>
      </div>

      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Location</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ claim.location | notNull }}
          </div>
        </div>
      </div>

      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Description</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ claim.description | notNull }}
          </div>
        </div>
      </div>

      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Commission Status</div>
          <div
            class="col-12 col-md-8 black px-1 py-2 d-flex align-items-center">
            <span [ngClass]="getStatusClass(claim.status)">
              {{ claim.status | titlecase }}
            </span>
          </div>
        </div>
      </div>

      <div
        class="col col-12 col-md-6 px-2 px-md-4 my-2"
        *ngIf="claim.attachments?.length">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">
            Images and Documents
          </div>
          <div class="col-12 col-md-8">
            <div
              class="d-flex align-items-center gap-2 mb-3 container-item"
              style="cursor: pointer"
              *ngFor="let file of files; let i = index"
              (click)="openFile(file.url)">
              <div class="file-item">
                <img
                  *ngIf="isImage(file.extension)"
                  [src]="file.url"
                  class="file-thumbnail"
                  style="width: 60%" />
                <div
                  *ngIf="!isImage(file.extension)"
                  class="file-icon-container">
                  <i class="pi pi-file-pdf file-icon"></i>
                </div>
              </div>
              <div class="d-flex flex-column align-items-center">
                <span class="fw-semibold">{{ file.name }}</span>
                <span class="text-muted" *ngIf="file?.uploaded_at"
                  >Upload date:
                  {{ file?.uploaded_at | date : 'MM/dd/yyyy' }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-pages-layout>
