@import 'theme';

.prop-box {
  background-color: $gray-100;
  border-radius: 0.3rem;
  min-height: 38px;
  word-break: break-all;
}

.insurer-logo {
  height: 32px;
  object-fit: contain;
  vertical-align: middle;
}
