<app-pages-layout>
  <ng-container content>
    <div *ngIf="insurer">

      <!-- Header -->
      <div class="d-flex justify-content-between align-items-center mb-1 ms-2">
        <span
          class="material-icons-outlined me-2"
          style="cursor: pointer"
          [matTooltip]="'PORTAL.COMMON.BACK' | translate"
          (click)="goBack()">
          arrow_back
        </span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon class="dark-blue-400">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item (click)="goToEdit()">
            <span class="d-flex align-items-center gap-2">
              <span class="material-icons-outlined dark-blue-400">edit</span>
              <span>{{ 'PORTAL.COMMON.EDIT' | translate }}</span>
            </span>
          </button>
          <button
            mat-menu-item
            *ngIf="insurer.tenants?.length"
            (click)="openTenantStatusModal()">
            <span class="d-flex align-items-center gap-2">
              <span class="material-icons-outlined dark-blue-400">tune</span>
              <span>{{ 'PORTAL.PORTAL_ADMIN.INSURERS.TOOLTIP_TENANT_STATUS' | translate }}</span>
            </span>
          </button>
          <button mat-menu-item (click)="confirmDelete()">
            <span class="d-flex align-items-center gap-2">
              <span class="material-icons-outlined" style="color:#dc2626">delete_forever</span>
              <span>{{ 'PORTAL.COMMON.DELETE' | translate }}</span>
            </span>
          </button>
        </mat-menu>
      </div>

      <!-- Hero -->
      <div class="d-flex flex-column align-items-center justify-content-center mt-3">
        <h3 class="text-center w-100 mt-2 mb-1 subtitle-1 dark-blue-400">
          <span *ngIf="insurer.logo_url" class="me-2">
            <img [src]="insurer.logo_url" alt="logo" class="insurer-logo" />
          </span>
          {{ insurer.name }}
          <span class="badge bg-secondary ms-2">{{ insurer.serial }}</span>
        </h3>
        <div class="text-center text-3 gray-500 w-100">
          {{ 'PORTAL.PORTAL_ADMIN.INSURERS.CREATED_ON' | translate }} {{ insurer.createdAt | date }}
        </div>
        <div class="d-flex gap-2 mt-2">
          <span
            class="badge"
            [ngClass]="insurer.status?.toLowerCase() === InsuranceCompanyStatus.ACTIVE ? 'bg-success' : 'bg-danger'">
            {{ insurer.status | titlecase }}
          </span>
        </div>
      </div>

      <!-- Data -->
      <div class="row px-4 my-4 px-md-5">

        <div class="col col-12 col-md-6 px-2 px-md-4 my-2" *ngIf="insurer.email">
          <div class="row">
            <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.PORTAL_ADMIN.INSURERS.FIELD_EMAIL' | translate }}</div>
            <div class="col-12 col-md-8 black px-3 py-2 prop-box">{{ insurer.email }}</div>
          </div>
        </div>

        <div class="col col-12 col-md-6 px-2 px-md-4 my-2" *ngIf="insurer.country">
          <div class="row">
            <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.PORTAL_ADMIN.INSURERS.FIELD_COUNTRY' | translate }}</div>
            <div class="col-12 col-md-8 black px-3 py-2 prop-box">{{ insurer.country }}</div>
          </div>
        </div>

        <div class="col col-12 col-md-6 px-2 px-md-4 my-2" *ngIf="insurer.phone_number">
          <div class="row">
            <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.PORTAL_ADMIN.INSURERS.FIELD_PHONE' | translate }}</div>
            <div class="col-12 col-md-8 black px-3 py-2 prop-box">{{ insurer.phone_number }}</div>
          </div>
        </div>

        <div class="col col-12 col-md-6 px-2 px-md-4 my-2" *ngIf="insurer.fax">
          <div class="row">
            <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.PORTAL_ADMIN.INSURERS.FIELD_FAX' | translate }}</div>
            <div class="col-12 col-md-8 black px-3 py-2 prop-box">{{ insurer.fax }}</div>
          </div>
        </div>

        <div class="col col-12 col-md-6 px-2 px-md-4 my-2" *ngIf="insurer.ein">
          <div class="row">
            <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.PORTAL_ADMIN.INSURERS.FIELD_EIN' | translate }}</div>
            <div class="col-12 col-md-8 black px-3 py-2 prop-box">{{ insurer.ein }}</div>
          </div>
        </div>

        <div class="col col-12 col-md-6 px-2 px-md-4 my-2" *ngIf="insurer.tenants?.length">
          <div class="row">
            <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.PORTAL_ADMIN.INSURERS.SECTION_TENANTS' | translate }}</div>
            <div class="col-12 col-md-8 black px-3 py-2 prop-box d-flex flex-wrap gap-1">
              <span *ngFor="let t of insurer.tenants" class="d-flex align-items-center gap-1">
                <span class="badge" [ngClass]="t.status === 'INACTIVE' ? 'bg-danger' : 'bg-secondary'">{{ t.code }}</span>
                <span *ngIf="t.status === 'INACTIVE'" class="text-danger small">
                  ({{ 'SHARED.TENANT_SCOPE_MODAL.STATUS_INACTIVE' | translate }})
                </span>
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </ng-container>
</app-pages-layout>
