.plan-card{
  background: #FFFFFF;
  border: 1.34225px solid rgba(150, 150, 150, 0.5);
  border-radius: 13px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 100%;
  height: auto;
  .plan-card-header{
    border-radius: 13px 13px 0 0;
    color: #FFFFFF;
    padding: 22px 10px 22px 10px;
    .title-3{
      margin-bottom: 8px;
    }
  }
  .plan-card-body{
    padding: 26px 10px 26px 10px;
    .price-line{
      font-family: Montserrat;
      font-weight: 800;
      font-size: 2.6rem;
      margin-bottom: 25px;
      span{
        font-size: 1rem;
      }
    }
  }
}
