@import 'theme';

:host {
  .mat-icon, mat-icon.mat-primary, mat-icon.mat-accent, mat-icon.mat-warn {
    color: $gray-500;
  }

  .icon-notification {
    width: 1.3rem;
    height: 1.3rem;
    top: -3px;
    right: 0px;
  }
}

::ng-deep .notifications-menu {
  max-height: 30rem;
  width: 18rem;
  overflow-y: auto;

  .mat-mdc-menu-content {
    padding: 0 !important;
  }

  .mat-mdc-menu-item {
    padding: 0.5rem 0.75rem;
  }

  .mat-mdc-menu-item .mat-icon {
    margin-right: 0.75rem;
    padding-right: 0.75rem;
  }

  .notification-dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    flex-shrink: 0;
    background-color: $dark-blue-100;
  }

  .notification-dot.unread {
    background-color: $dark-blue-100;
  }

  .notification-dot.read {
    background-color: $gray-400;
  }
}
