<div class="container">
  <h1>{{ 'TERMS.TITLE' | translate }}</h1>
  <p>
    <strong>{{ 'TERMS.LAST_UPDATE' | translate }}</strong>
  </p>

  <p>
    {{ 'TERMS.INTRO.WELCOME' | translate }} <strong>MyMasterBook</strong>
    {{ 'TERMS.INTRO.DESC' | translate }}
    <strong>Quantum Spot Media LLC</strong>,
    {{ 'TERMS.INTRO.COMPANY_INFO' | translate }}
  </p>

  <p>{{ 'TERMS.INTRO.ACCEPTANCE' | translate }}</p>

  <h2>{{ 'TERMS.SECTIONS.S1_DEFINITIONS.TITLE' | translate }}</h2>
  <ul>
    <li>
      <strong>{{
        'TERMS.SECTIONS.S1_DEFINITIONS.SERVICE_L' | translate
      }}</strong>
      {{ 'TERMS.SECTIONS.S1_DEFINITIONS.SERVICE_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S1_DEFINITIONS.USER_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S1_DEFINITIONS.USER_T' | translate }}
    </li>
    <li>
      <strong>{{
        'TERMS.SECTIONS.S1_DEFINITIONS.CONTENT_L' | translate
      }}</strong>
      {{ 'TERMS.SECTIONS.S1_DEFINITIONS.CONTENT_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S1_DEFINITIONS.IP_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S1_DEFINITIONS.IP_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S1_DEFINITIONS.DATA_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S1_DEFINITIONS.DATA_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S1_DEFINITIONS.LAW_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S1_DEFINITIONS.LAW_T' | translate }}
    </li>
  </ul>

  <h2>{{ 'TERMS.SECTIONS.S2_ACCEPTANCE.TITLE' | translate }}</h2>
  <p>{{ 'TERMS.SECTIONS.S2_ACCEPTANCE.TEXT' | translate }}</p>

  <h2>{{ 'TERMS.SECTIONS.S3_DESCRIPTION.TITLE' | translate }}</h2>
  <p>
    <strong>{{ 'TERMS.SECTIONS.S3_DESCRIPTION.NAME_L' | translate }}</strong>
    {{ 'TERMS.SECTIONS.S3_DESCRIPTION.TEXT' | translate }}
  </p>

  <h2>{{ 'TERMS.SECTIONS.S4_ACCOUNTS.TITLE' | translate }}</h2>
  <ul>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S4_ACCOUNTS.REQ_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S4_ACCOUNTS.REQ_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S4_ACCOUNTS.CONF_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S4_ACCOUNTS.CONF_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S4_ACCOUNTS.AGE_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S4_ACCOUNTS.AGE_T' | translate }}
    </li>
  </ul>

  <h2>{{ 'TERMS.SECTIONS.S5_PAYMENTS.TITLE' | translate }}</h2>
  <ul>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S5_PAYMENTS.PLANS_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S5_PAYMENTS.PLANS_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S5_PAYMENTS.BILLING_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S5_PAYMENTS.BILLING_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S5_PAYMENTS.RENEWAL_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S5_PAYMENTS.RENEWAL_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S5_PAYMENTS.TAX_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S5_PAYMENTS.TAX_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S5_PAYMENTS.CHANGES_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S5_PAYMENTS.CHANGES_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S5_PAYMENTS.REFUNDS_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S5_PAYMENTS.REFUNDS_T' | translate }}
    </li>
  </ul>

  <h2>{{ 'TERMS.SECTIONS.S6_CONDUCT.TITLE' | translate }}</h2>
  <ul>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S6_CONDUCT.USE_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S6_CONDUCT.USE_T' | translate }}
    </li>
    <li>
      <strong>{{
        'TERMS.SECTIONS.S6_CONDUCT.PROHIBITED_L' | translate
      }}</strong>
      {{ 'TERMS.SECTIONS.S6_CONDUCT.PROHIBITED_T' | translate }}
    </li>
  </ul>

  <h2>{{ 'TERMS.SECTIONS.S7_IP.TITLE' | translate }}</h2>
  <ul>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S7_IP.OUR_IP_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S7_IP.OUR_IP_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S7_IP.LICENSE_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S7_IP.LICENSE_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S7_IP.YOUR_IP_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S7_IP.YOUR_IP_T' | translate }}
    </li>
  </ul>

  <h2>{{ 'TERMS.SECTIONS.S8_PRIVACY.TITLE' | translate }}</h2>
  <ul>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S8_PRIVACY.POLICY_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S8_PRIVACY.POLICY_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S8_PRIVACY.ROLES_L' | translate }}</strong>
      <ul>
        <li>
          <strong>{{
            'TERMS.SECTIONS.S8_PRIVACY.PROCESSOR_L' | translate
          }}</strong>
          {{ 'TERMS.SECTIONS.S8_PRIVACY.PROCESSOR_T' | translate }}
        </li>
        <li>
          <strong>{{
            'TERMS.SECTIONS.S8_PRIVACY.CONTROLLER_L' | translate
          }}</strong>
          {{ 'TERMS.SECTIONS.S8_PRIVACY.CONTROLLER_T' | translate }}
        </li>
      </ul>
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S8_PRIVACY.DPA_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S8_PRIVACY.DPA_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S8_PRIVACY.TRANSFERS_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S8_PRIVACY.TRANSFERS_T' | translate }}
    </li>
  </ul>

  <h2>{{ 'TERMS.SECTIONS.S9_CONFIDENTIALITY.TITLE' | translate }}</h2>
  <p>{{ 'TERMS.SECTIONS.S9_CONFIDENTIALITY.TEXT' | translate }}</p>

  <h2>{{ 'TERMS.SECTIONS.S10_WARRANTIES.TITLE' | translate }}</h2>
  <ul>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S10_WARRANTIES.OUR_W_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S10_WARRANTIES.OUR_W_T' | translate }}
    </li>
    <li>
      <strong>{{
        'TERMS.SECTIONS.S10_WARRANTIES.DISCLAIMER_L' | translate
      }}</strong>
      {{ 'TERMS.SECTIONS.S10_WARRANTIES.DISCLAIMER_T' | translate }}
    </li>
  </ul>

  <h2>{{ 'TERMS.SECTIONS.S11_LIABILITY.TITLE' | translate }}</h2>
  <ul>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S11_LIABILITY.LIMITS_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S11_LIABILITY.LIMITS_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S11_LIABILITY.MAX_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S11_LIABILITY.MAX_T' | translate }}
    </li>
    <li>
      <strong>{{
        'TERMS.SECTIONS.S11_LIABILITY.JURISDICTION_L' | translate
      }}</strong>
      {{ 'TERMS.SECTIONS.S11_LIABILITY.JURISDICTION_T' | translate }}
    </li>
  </ul>

  <h2>{{ 'TERMS.SECTIONS.S12_INDEMNITY.TITLE' | translate }}</h2>
  <p>{{ 'TERMS.SECTIONS.S12_INDEMNITY.TEXT' | translate }}</p>

  <h2>{{ 'TERMS.SECTIONS.S13_MODIFICATIONS.TITLE' | translate }}</h2>
  <p>{{ 'TERMS.SECTIONS.S13_MODIFICATIONS.TEXT' | translate }}</p>

  <h2>{{ 'TERMS.SECTIONS.S14_TERMINATION.TITLE' | translate }}</h2>
  <ul>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S14_TERMINATION.TERM_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S14_TERMINATION.TERM_T' | translate }}
    </li>
    <li>
      <strong>{{
        'TERMS.SECTIONS.S14_TERMINATION.USER_TERM_L' | translate
      }}</strong>
      {{ 'TERMS.SECTIONS.S14_TERMINATION.USER_TERM_T' | translate }}
    </li>
    <li>
      <strong>{{
        'TERMS.SECTIONS.S14_TERMINATION.OUR_TERM_L' | translate
      }}</strong>
      {{ 'TERMS.SECTIONS.S14_TERMINATION.OUR_TERM_T' | translate }}
    </li>
    <li>
      <strong>{{
        'TERMS.SECTIONS.S14_TERMINATION.EFFECTS_L' | translate
      }}</strong>
      {{ 'TERMS.SECTIONS.S14_TERMINATION.EFFECTS_T' | translate }}
    </li>
  </ul>

  <h2>{{ 'TERMS.SECTIONS.S15_GENERAL.TITLE' | translate }}</h2>
  <ul>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S15_GENERAL.ENTIRE_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S15_GENERAL.ENTIRE_T' | translate }}
    </li>
    <li>
      <strong>{{
        'TERMS.SECTIONS.S15_GENERAL.SEVERABILITY_L' | translate
      }}</strong>
      {{ 'TERMS.SECTIONS.S15_GENERAL.SEVERABILITY_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S15_GENERAL.WAIVER_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S15_GENERAL.WAIVER_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S15_GENERAL.FORCE_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S15_GENERAL.FORCE_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S15_GENERAL.NOTICES_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S15_GENERAL.NOTICES_T' | translate }}
    </li>
    <li>
      <strong>{{
        'TERMS.SECTIONS.S15_GENERAL.ASSIGNMENT_L' | translate
      }}</strong>
      {{ 'TERMS.SECTIONS.S15_GENERAL.ASSIGNMENT_T' | translate }}
    </li>
  </ul>

  <h2>{{ 'TERMS.SECTIONS.S16_LAW.TITLE' | translate }}</h2>
  <p>{{ 'TERMS.SECTIONS.S16_LAW.INTRO' | translate }}</p>

  <h3>{{ 'TERMS.SECTIONS.S16_LAW.OPTION2_TITLE' | translate }}</h3>
  <ul>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S16_LAW.LAW_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S16_LAW.LAW_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S16_LAW.DISPUTE_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S16_LAW.DISPUTE_T' | translate }}
    </li>
  </ul>

  <h3>{{ 'TERMS.SECTIONS.S16_LAW.CONSIDERATIONS_TITLE' | translate }}</h3>
  <ul>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S16_LAW.USA_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S16_LAW.USA_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S16_LAW.EU_L' | translate }}</strong>
      <ul>
        <li>{{ 'TERMS.SECTIONS.S16_LAW.EU_ITEM1' | translate }}</li>
        <li>{{ 'TERMS.SECTIONS.S16_LAW.EU_ITEM2' | translate }}</li>
        <li>{{ 'TERMS.SECTIONS.S16_LAW.EU_ITEM3' | translate }}</li>
        <li>{{ 'TERMS.SECTIONS.S16_LAW.EU_ITEM4' | translate }}</li>
      </ul>
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S16_LAW.LATAM_L' | translate }}</strong>
      <ul>
        <li>{{ 'TERMS.SECTIONS.S16_LAW.LATAM_ITEM1' | translate }}</li>
        <li>{{ 'TERMS.SECTIONS.S16_LAW.LATAM_ITEM2' | translate }}</li>
        <li>{{ 'TERMS.SECTIONS.S16_LAW.LATAM_ITEM3' | translate }}</li>
        <li>{{ 'TERMS.SECTIONS.S16_LAW.LATAM_ITEM4' | translate }}</li>
      </ul>
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S16_LAW.CONSID_FINAL_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S16_LAW.CONSID_FINAL_T' | translate }}
    </li>
  </ul>

  <hr />

  <h3>{{ 'TERMS.SECTIONS.LEGAL_REC.TITLE' | translate }}</h3>
  <ul>
    <li>
      <strong>{{ 'TERMS.SECTIONS.LEGAL_REC.ITEM1_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.LEGAL_REC.ITEM1_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.LEGAL_REC.ITEM2_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.LEGAL_REC.ITEM2_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.LEGAL_REC.ITEM3_L' | translate }}</strong>
      <ul>
        <li>{{ 'TERMS.SECTIONS.LEGAL_REC.ITEM3_SUB1' | translate }}</li>
        <li>{{ 'TERMS.SECTIONS.LEGAL_REC.ITEM3_SUB2' | translate }}</li>
      </ul>
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.LEGAL_REC.ITEM4_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.LEGAL_REC.ITEM4_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.LEGAL_REC.ITEM5_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.LEGAL_REC.ITEM5_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.LEGAL_REC.ITEM6_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.LEGAL_REC.ITEM6_T' | translate }}
    </li>
  </ul>
</div>
