<div class="container">
  <h1>{{ 'TERMS.TITLE' | translate }}</h1>
  <p>
    <strong>{{ 'TERMS.LAST_UPDATE' | translate }}</strong>
  </p>

  <p>
    {{ 'TERMS.INTRO.WELCOME' | translate }}
    <strong>{{ 'GENERAL.MASTERBOOK' | translate }}</strong>
    {{ 'TERMS.INTRO.DESC' | translate }}
    <strong>{{ 'GENERAL.QUANTUM' | translate }}</strong
    >,
    {{ 'TERMS.INTRO.COMPANY_INFO' | translate }}
  </p>

  <p>{{ 'TERMS.INTRO.ACCEPTANCE' | translate }}</p>

  <h2>{{ 'TERMS.SECTIONS.S1_DEFINITIONS.TITLE' | translate }}</h2>
  <ul>
    <li>
      <strong>{{
        'TERMS.SECTIONS.S1_DEFINITIONS.SERVICE_L' | translate
      }}</strong>
      {{ 'TERMS.SECTIONS.S1_DEFINITIONS.SERVICE_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S1_DEFINITIONS.USER_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S1_DEFINITIONS.USER_T' | translate }}
    </li>
    <li>
      <strong>{{
        'TERMS.SECTIONS.S1_DEFINITIONS.CONTENT_L' | translate
      }}</strong>
      {{ 'TERMS.SECTIONS.S1_DEFINITIONS.CONTENT_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S1_DEFINITIONS.IP_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S1_DEFINITIONS.IP_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S1_DEFINITIONS.DATA_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S1_DEFINITIONS.DATA_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S1_DEFINITIONS.LAW_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S1_DEFINITIONS.LAW_T' | translate }}
    </li>
  </ul>

  <h2>{{ 'TERMS.SECTIONS.S2_ACCEPTANCE.TITLE' | translate }}</h2>
  <p>{{ 'TERMS.SECTIONS.S2_ACCEPTANCE.TEXT' | translate }}</p>

  <h2>{{ 'TERMS.SECTIONS.S3_DESCRIPTION.TITLE' | translate }}</h2>
  <p>
    <strong>{{ 'TERMS.SECTIONS.S3_DESCRIPTION.NAME_L' | translate }}</strong>
    {{ 'TERMS.SECTIONS.S3_DESCRIPTION.TEXT' | translate }}
  </p>

  <h2>{{ 'TERMS.SECTIONS.S4_ACCOUNTS.TITLE' | translate }}</h2>
  <ul>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S4_ACCOUNTS.REQ_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S4_ACCOUNTS.REQ_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S4_ACCOUNTS.CONF_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S4_ACCOUNTS.CONF_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S4_ACCOUNTS.AGE_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S4_ACCOUNTS.AGE_T' | translate }}
    </li>
  </ul>

  <h2>{{ 'TERMS.SECTIONS.S5_PAYMENTS.TITLE' | translate }}</h2>
  <ul>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S5_PAYMENTS.PLANS_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S5_PAYMENTS.PLANS_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S5_PAYMENTS.BILLING_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S5_PAYMENTS.BILLING_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S5_PAYMENTS.RENEWAL_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S5_PAYMENTS.RENEWAL_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S5_PAYMENTS.TAX_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S5_PAYMENTS.TAX_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S5_PAYMENTS.CHANGES_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S5_PAYMENTS.CHANGES_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S5_PAYMENTS.REFUNDS_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S5_PAYMENTS.REFUNDS_T' | translate }}
    </li>
  </ul>

  <h2>{{ 'TERMS.SECTIONS.S8_PRIVACY.TITLE' | translate }}</h2>
  <ul>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S8_PRIVACY.POLICY_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S8_PRIVACY.POLICY_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S8_PRIVACY.ROLES_L' | translate }}</strong>
      <ul>
        <li>
          <strong>{{
            'TERMS.SECTIONS.S8_PRIVACY.PROCESSOR_L' | translate
          }}</strong>
          {{ 'TERMS.SECTIONS.S8_PRIVACY.PROCESSOR_T' | translate }}
        </li>
        <li>
          <strong>{{
            'TERMS.SECTIONS.S8_PRIVACY.CONTROLLER_L' | translate
          }}</strong>
          {{ 'TERMS.SECTIONS.S8_PRIVACY.CONTROLLER_T' | translate }}
        </li>
      </ul>
    </li>
  </ul>

  <h2>{{ 'TERMS.SECTIONS.S11_LIABILITY.TITLE' | translate }}</h2>
  <ul>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S11_LIABILITY.LIMITS_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S11_LIABILITY.LIMITS_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S11_LIABILITY.MAX_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S11_LIABILITY.MAX_T' | translate }}
    </li>
  </ul>

  <h2>{{ 'TERMS.SECTIONS.S16_LAW.TITLE' | translate }}</h2>
  <h3>{{ 'TERMS.SECTIONS.S16_LAW.OPTION2_TITLE' | translate }}</h3>
  <ul>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S16_LAW.LAW_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S16_LAW.LAW_T' | translate }}
    </li>
    <li>
      <strong>{{ 'TERMS.SECTIONS.S16_LAW.DISPUTE_L' | translate }}</strong>
      {{ 'TERMS.SECTIONS.S16_LAW.DISPUTE_T' | translate }}
    </li>
  </ul>
</div>
