<ng-template #table>
  <app-pages-layout
    [button]="{ text: 'Create email', icon: 'add', url: 'send' }">
    <ng-container content>
      <ng-container *ngIf="!loading && connected; else waitOrConnect">
        <div
          class="d-flex justify-content-between align-items-center bg-white mb-3">
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="Search..."
              [(ngModel)]="searchQuery"
              (ngModelChange)="searchInbox()" />
            <span matPrefix class="material-icons-outlined ms-3"> search </span>
          </mat-form-field>
        </div>

        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          ">
          <mat-button-toggle-group
            [(ngModel)]="categorySelected"
            (change)="changeCategory()"
            aria-label="Font Style">
            <mat-button-toggle value="INBOX">Inbox</mat-button-toggle>
            <mat-button-toggle value="SENT">Sent</mat-button-toggle>
            <mat-button-toggle value="DRAFT">Drafts</mat-button-toggle>
          </mat-button-toggle-group>

          <div class="pagination-controls mt-4 flex justify-between">
            <button
              type="button"
              mat-icon-button
              class="material-icons-outlined me-2 pagination-button"
              style="cursor: pointer"
              [class.disabled]="!canGoBack()"
              [disabled]="!canGoBack()"
              (click)="loadPreviousPage()">
              navigate_before
            </button>

            <button
              [class.disabled]="
                tokenHistory | noMorePage : tokenHistoryPosition
              "
              [disabled]="tokenHistory | noMorePage : tokenHistoryPosition"
              class="material-icons-outlined me-2 pagination-button"
              style="cursor: pointer"
              (click)="loadNextPage()">
              navigate_next
            </button>
          </div>
        </div>

        <app-email-table
          [data]="data"
          (deleteEmailEmitter)="deleteMail($event)"></app-email-table>
      </ng-container>
      <ng-template #waitOrConnect>
        <div class="p-4">
          <p *ngIf="loading">Checking Google connection…</p>
          <p *ngIf="!loading">Redirecting to connect Google Calendar…</p>
        </div>
      </ng-template>
    </ng-container>
  </app-pages-layout>
</ng-template>

<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer-content>
    <ng-container *ngTemplateOutlet="table"></ng-container>
  </mat-drawer-content>
</mat-drawer-container>
