@import 'theme';

.anon-navbar {
  width: 100%;
  padding: 10px 73px;
  background: #023859cc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 1000;
  backdrop-filter: blur(8px);
  .anon-navbar-logo {
    img {
      height: 66px;
    }
  }
  .anon-navbar-menu {
    display: flex;
  }
  .anon-navbar-mobile-toggle {
    display: none;
  }
  .anon-navbar-buttons-margin {
    margin: 4px 0;
  }
}

// Styles Modal Login
// :host ::ng-deep {
//   [class='p-dialog-header ng-tns-c12-0 ng-star-inserted'],
//   [class='p-dialog-header ng-tns-c12-1 ng-star-inserted'],
//   [class='p-dialog-header ng-tns-c12-2 ng-star-inserted'],
//   [class='p-dialog-header ng-tns-c12-3 ng-star-inserted'] {
//     padding: 1.4rem 1.8rem 0.7rem;
//     border-top-right-radius: 2.5rem !important;
//     border-top-left-radius: 2.5rem !important;
//   }

//   [class='ng-tns-c12-0 p-dialog-content'],
//   [class='ng-tns-c12-1 p-dialog-content'],
//   [class='ng-tns-c12-2 p-dialog-content'],
//   [class='ng-tns-c12-3 p-dialog-content'] {
//     border-bottom-right-radius: 2.5rem !important;
//     border-bottom-left-radius: 2.5rem !important;
//   }

//   [class='ng-tns-c12-2 p-dialog-content'] {
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//   }

//   [class='p-element ng-trigger ng-trigger-animation ng-tns-c12-0 p-dialog p-component ng-star-inserted'],
//   [class='p-element ng-trigger ng-trigger-animation ng-tns-c12-1 p-dialog p-component ng-star-inserted'],
//   [class='p-element ng-trigger ng-trigger-animation ng-tns-c12-2 p-dialog p-component ng-star-inserted'],
//   [class='p-element ng-trigger ng-trigger-animation ng-tns-c12-3 p-dialog p-component ng-star-inserted'] {
//     box-shadow: 8px 4px 8px 0px #00000040;
//     border-radius: 2.5rem !important;
//   }

//   .p-dropdown {
//     border-radius: 80px;
//     width: 100%;
//     height: 48px;
//     border: 2px solid #969696;
//     background: rgba(167, 213, 242, 0.19);

//     .p-dropdown-trigger {
//       color: #6c757d;
//       width: 2rem;
//     }
//   }

//   [class='p-dialog-header-icons ng-tns-c12-2'],
//   [class='p-dialog-header-icons ng-tns-c12-3'],
//   [ng-reflect-style-class='p-dropdown-clear-icon'] {
//     display: none !important;
//   }



//   [class='icon ng-tns-c12-2'] {
//     font-size: 1.625rem;
//   }
// }

// .link-forgot-pass {
//   font-family: $font-text-1;
//   font-size: 2rem;
//   font-weight: 500;
//   line-height: 1.5rem;
//   color: $blue-primary;
//   cursor: pointer;
// }

// // Styles Modal Sing Up
// .icon {
//   position: absolute;
//   top: 1.4rem;
//   left: 3px;
//   cursor: pointer;
// }

// .img-form {
//   width: 30.4rem;
//   height: auto;
// }

// .title-form {
//   font-family: $font-text-1;
//   font-weight: 700;
//   font-size: 3.1rem;
//   line-height: 2.5rem;
//   color: $blue-primary;
//   text-align: center;
// }

// //Styles Modal Password Recovery
// .sub-title-form {
//   font-family: $font-text-1;
//   font-size: 1.25rem;
//   font-weight: 500;
//   line-height: 1.5rem;
//   color: $gray-1;
// }

// // Styles Modal Notifications
// .img-notification {
//   width: 6rem;
//   height: 6rem;
// }

// .title-notification {
//   font-family: $font-text-1;
//   font-size: 3rem;
//   font-weight: 800;
//   line-height: 2.5rem;
//   text-align: left;
//   color: $gray-2;
// }

@media only screen and (max-width: 767px) {
  .anon-navbar {
    padding: 10px 24px;
    .anon-navbar-menu {
      display: none;
      position: absolute;
      top: 75px;
      right: 5px;
      padding: 30px;
      background: #02385980;
      backdrop-filter: blur(8px);
      border-radius: 25px;
      z-index: 1000;
    }
    .anon-navbar-mobile-toggle {
      display: block;
    }
    .anon-navbar-menu-show {
      display: flex;
      flex-direction: column;
    }
  }
}
