<form [formGroup]="form">
  <div class="d-flex justify-content-center gap-2">
    <div class="input-component" *ngFor="let i of [1, 2, 3, 4, 5, 6]">
      <input
        placeholder="0"
        max="9"
        pattern="[0-9]*"
        class="text-1 text-center input-code"
        (keydown)="validateInput($event, i)"
        (keyup)="changeFocus(i, $event, $event.target)"
        (paste)="pasteCode($event, i)"
        (focus)="clearPlacehorder(i)"
        (mouseout)="fillPlacehorder(i)"
        [formControlName]="'code' + i"
        [type]="type"
        #code />
    </div>
  </div>
</form>
