@import 'theme';
.selector {
  position: relative;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border-radius: 100%;
  cursor: pointer;
}

img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.overlay {
  width: 16.875rem;
  min-width: 90%;
  font-family: $font-family;

  .overlay-header {
    margin-bottom: 0.625rem;
    padding: 0 0.938rem 1.125rem;
    border-bottom: 1px solid #e5e7eb;

    .badge-success {
      background-color: #e1fbed !important;
      color: #17c666;
    }
  }

  .option {
    cursor: pointer;
    border-radius: 6px;

    &:hover {
      background: #eaebef;
    }

    .text-menu {
      font-size: 0.813rem;
      line-height: 1.2rem;
      font-family: $font-family;
      font-weight: 600;
      color: $portal-gray-500;
      color: #283c50;
      margin: 0.188rem 0rem;
      padding: 0.125rem;
    }
  }

  a{
    text-decoration: none;
  }
}
