<div class="selector d-flex align-items-center" (click)="optionsOverlay.toggle($event)">
  <img class="text-selection-disable mt-1 ms-1" [src]="imageProfile" />
  <img
    *ngIf="tenantCode"
    [src]="'https://flagcdn.com/24x18/' + tenantCode + '.png'"
    width="24"
    height="18"
    class="ms-2 tenant-flag" />
</div>

<p-overlayPanel #optionsOverlay>
  <div class="overlay">
    <div>
      <div
        class="d-flex align-items-center justify-content-start gap-2 option py-2 px-3 my-2"
        (click)="navigateTo('profile')">
        <span class="material-icons-outlined">account_circle</span>
        <a class="text-menu">{{ 'SHARED.NAVBAR_OPTIONS.PROFILE' | translate }}</a>
      </div>
      <div style="border-bottom: 1px solid #e5e7eb"></div>
      <div
        class="d-flex align-items-center justify-content-start gap-2 option py-2 px-3 my-2"
        (click)="navigateTo('agency-settings')"
        *ngIf="
          userRole === 'INDEPENDANT_BROKER' || userRole === 'AGENCY_OWNER'
        ">
        <span class="material-icons-outlined">apartment</span>
        <a class="text-menu">{{ 'SHARED.NAVBAR_OPTIONS.AGENCY_SETTINGS' | translate }}</a>
      </div>
      <div style="border-bottom: 1px solid #e5e7eb"></div>
      <ng-container *ngIf="userRole === ownerRole && !isFreeAgency">
        <div
          class="d-flex align-items-center justify-content-start gap-2 option py-2 px-3 my-2">
          <span class="material-icons-outlined">credit_card</span>
          <a class="text-menu" (click)="navigateToPaymentGateway()"
            >{{ 'SHARED.NAVBAR_OPTIONS.MANAGE_PAYMENTS' | translate }}</a
          >
        </div>
        <div style="border-bottom: 1px solid #e5e7eb"></div>
      </ng-container>
      <div
        class="d-flex align-items-center justify-content-start gap-2 option py-2 px-3 my-2"
        (click)="logout()">
        <span class="material-icons-outlined">logout</span>
        <a class="text-menu">{{ 'SHARED.NAVBAR_OPTIONS.LOGOUT' | translate }}</a>
      </div>
    </div>
  </div>
</p-overlayPanel>
