<div class="px-md-5 my-1 my-md-2 mb-2 mb-md-5 endorsement-selector">
  <form [formGroup]="form">
    <app-input formControlName="query" placeholder="Search policy type">
    </app-input>
  </form>
  <div class="lob-selector px-2 px-md-3 py-3 my-1 my-md-2">
    <p class="subtitle-2 text-center">BUSINESS LINES</p>
    <div class="d-flex flex-wrap justify-content-center">
      <ng-container *ngFor="let lob of business_lines">
        <div
          class="lob-selector--item py-2 px-3 me-1 mb-1 fw-semibold"
          [ngClass]="{
            'lob-selector--item-selected': selected?._id === lob._id
          }"
          (click)="toggleSelected(lob)">
          {{ lob.name }}
        </div>
      </ng-container>
    </div>
  </div>
</div>

<h3 class="subtitle-2 dark-blue-400 w-100 text-center mb-4">
  Select endorsements
</h3>

<ng-container *ngFor="let lob of business_lines">
  <div class="my-1 px-md-5 endorsement-padding">
    <mat-accordion [hideToggle]="true">
      <mat-expansion-panel [expanded]="selected?._id === lob._id">
        <mat-expansion-panel-header (click)="toggleSelected(lob)">
          <mat-panel-title>
            <div
              class="w-100 d-flex align-items-center justify-content-between">
              <span class="subtitle-3 white">
                {{ lob.name }}
              </span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="d-flex flex-wrap pt-3 justify-content-center">
          <ng-container *ngFor="let type of lob.policy_types">
            <div
              class="policy-type-card my-1 mx-md-1 py-2 py-md-3 px-2"
              [class.policy-type-card-selected]="isSelected(type)">
              <div class="policy-type-card--data">
                <p class="text-2 fw-semibold text-center">
                  <span
                    class="material-icons-outlined"
                    [class.white]="isSelected(type)"
                    [class.dark-blue-400]="!isSelected(type)">
                    {{ type.icon ?? 'circle' }}
                  </span>
                </p>
                <p
                  class="text-2 fw-semibold text-center"
                  [class.white]="isSelected(type)"
                  [class.dark-blue-400]="!isSelected(type)">
                  {{ type.name }}
                </p>
                <p
                  class="text-3 text-center"
                  [class.white]="isSelected(type)"
                  [class.dark-blue-400]="!isSelected(type)">
                  ({{ type.naic_code }})
                </p>
                <div class="text-center mt-1">
                  <button
                    class="primary-button mx-1"
                    [class.back-white]="isSelected(type)"
                    [class.success-color]="isSelected(type)"
                    [class.back-dark-blue-300]="!isSelected(type)"
                    [class.white]="!isSelected(type)"
                    (click)="isSelected(type) ? remove(type) : add(type)">
                    Add
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-container>

<div class="w-100 text-center">
  <button
    *ngIf="showNext"
    class="primary-button back-dark-blue-300 white mx-1 my-4"
    (click)="next()">
    Next
  </button>
</div>
