@import 'theme';

:host {
  .lob-selector {
    background-color: $gray-100;
    border-radius: 0.5rem;

    &--item {
      background-color: $white;
      border-radius: 0.5rem;
      border: 1px solid $gray-500;
      cursor: pointer;
    }

    &--item-selected {
      background-color: $dark-blue-300;
      color: $white;
    }
  }

  .policy-type-card {
    background: $gray-100;
    border-radius: 0.5rem;
    width: 20rem;
    max-width: 100%;
    p {
      padding: 0;
      margin: 0;
    }
  }

  .policy-type-card-selected {
    background: $color-success;
  }

  ::ng-deep {
    mat-expansion-panel-header {
      background-color: $dark-blue-300 !important;
    }

    .mat-expansion-indicator::after {
      color: $white !important;
    }

    .internal-expand {
      mat-expansion-panel-header {
        background-color: $light-blue-100 !important;
      }
      .mat-expansion-panel-body {
        background-color: $light-blue-100 !important;
      }
      .mat-expansion-indicator::after {
        color: $dark-blue-600 !important;
      }
    }
  }
}
