.payable-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
  align-items: start;
  width: fit-content;
}

.payable-grid-col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.payable-grid-row {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
}

.user-actions {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
}