<div class="payable-grid-row">
  <div class="payable-grid">
    <div>
      <span class="material-icons me-2" matTooltip="Edit this account">
        person
      </span>
    </div>
    <div class="payable-grid-col">
      <div>
        <p>Master user {{ currentMasterUser }}</p>
      </div>
    </div>
  </div>

  <div class="payable-grid">
    <div>
      <span class="material-icons me-2" matTooltip="Edit this account">
        person
      </span>
    </div>
    <div class="payable-grid-col">
      <div>
        <p>Regular user {{ currentRegularUser }}</p>
      </div>
    </div>
  </div>
</div>
