@import 'theme';

:host ::ng-deep {
  .table-responsive {
    overflow-x: auto;
  }
  .table-responsive table {
    white-space: nowrap;
  }

  .mas-table-row:hover {
    background: $gray-100;
  }

  .ENDORSEMENT,
  .QUOTE_SELECTED {
    color: $color-success !important;
  }

  .RENEWAL {
    color: $light-blue-400 !important;
  }

  .REINSTALLMENT {
    color: $blue-color !important;
  }

  .CANCELLATION,
  .CLOSED,
  .REJECTED {
    color: $red-color !important;
  }

  .PENDING_QUOTES,
  .PENDING_CANCELLATION {
    color: $color-warning;
  }

  .NEW_BUSINESS,
  .PENDING_SELECTION {
    color: $light-blue-700 !important;
  }

  .attach-link {
    span {
      color: $light-blue-700 !important;
    }
  }
}
