<div>
  <mat-tab-group [(selectedIndex)]="selectedTabIndex">
    <mat-tab [label]="'Create ' + entity | titlecase">
      <ng-content select="[content]"></ng-content>
    </mat-tab>
    <mat-tab [label]="'Download Templates for Upload file'">
      <app-tab-upload-file
        (uploadCompleted)="onUploadCompleted()"
        [entity]="entity"></app-tab-upload-file>
    </mat-tab>
    <mat-tab
      [label]="entity + ' Table Upload File' | titlecase"
      *ngIf="data.records">
      <app-filtered-table-header
        [filtersActive]="filtersActive"
        (search)="onQueryFilter($event)"
        (openFilters)="drawer.toggle()"
        (removeChip)="removeFilterFromChip($event)"
        [onlySearch]="true"
        *ngIf="data"></app-filtered-table-header>

      <mat-drawer-container [hasBackdrop]="false">
        <mat-drawer #drawer [mode]="'over'" [position]="'end'">
          <ng-container *ngTemplateOutlet="filters"></ng-container>
        </mat-drawer>
        <mat-drawer-content>
          <app-tab-table-upload-file
            [filtersActive]="filtersActive"
            (refresh)="refresh()"
            [data]="data.records"></app-tab-table-upload-file>
        </mat-drawer-content>
      </mat-drawer-container>

      <mat-paginator
        *ngIf="data"
        [pageSizeOptions]="[10, 25, 50]"
        [length]="data.total_records"
        [pageIndex]="data.page - 1"
        [pageSize]="data.limit"
        (page)="changePaginator($event)"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>

      <ng-template #filters>
        <app-filter-wrapper
          [config]="filterConfig"
          (closeFilters)="drawer.toggle()"
          (activeFilterChange)="
            handleApplyFilter($event); drawer.toggle()
          "></app-filter-wrapper>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
