<div class="icon" (click)="showLogin()">
  <span class="material-icons-outlined ms-4" style="cursor: pointer"
    >keyboard_arrow_left</span
  >
</div>
<div class="px-3 pb-3 pt-5">
  <div class="mt-5">
    <h6 class="title-form d-flex justify-content-center">
      {{ 'GENERAL.PASSWORD_RECOVERY' | translate }}
    </h6>
    <p class="sub-title-form mb-5 d-flex justify-content-center">
      {{ 'GENERAL.VERIFICATION_EMAIL' | translate }}
    </p>
    <form class="pt-2" (ngSubmit)="forgotPassword()" [formGroup]="form">
      <div class="form-group mb-5">
        <app-input
          style="width: 23.75rem"
          [icon]="'/assets/icons/email.svg'"
          type="email"
          placeholder="Mail"
          formControlName="email"
          [align]="'center'"></app-input>
      </div>
      <div class="d-flex justify-content-center">
        <app-primary-button
          [text]="'GENERAL.SEND' | translate"
          class="anon-navbar-buttons-margin"></app-primary-button>
      </div>
    </form>
  </div>
</div>
