@import 'theme';

:host ::ng-deep {
  [class~='p-dialog-header'] {
    padding: 1.4rem 1.8rem 0.7rem;
    border-top-right-radius: 2.5rem !important;
    border-top-left-radius: 2.5rem !important;
  }

  [class~='p-dialog-content'] {
    border-bottom-right-radius: 2.5rem !important;
    border-bottom-left-radius: 2.5rem !important;
  }

  [class~='p-dialog'] {
    border-radius: 2.5rem;
  }

  [class~='p-element'] {
    box-shadow: 8px 4px 8px 0px #00000040;
    border-radius: 2.5rem !important;
  }

  [class~='p-dialog-header-icons'] {
    display: none !important;
  }
}

.icon {
  position: absolute;
  top: 1.4rem;
  left: 3px;
  cursor: pointer;
}

.title-form {
  font-family: $font-text-1;
  font-weight: 700;
  font-size: 3.1rem;
  line-height: 2.5rem;
  color: $blue-primary;
  text-align: center;
}

.sub-title-form {
  font-family: $font-text-1;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: $gray-1;
}
