<app-pages-layout>
  <ng-container content>
    <div class="container d-flex flex-column">
      <form (ngSubmit)="sendInvitation()">
        <label class="fw-semibold" for="email">{{ 'PORTAL.INVITE_POLICY_HOLDER.LABEL_EMAIL' | translate }}</label>
        <div class="field col-12 col-md-6 my-2">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-envelope"></i>
            </span>
            <input
              type="text"
              pInputText
              [placeholder]="'PORTAL.INVITE_POLICY_HOLDER.PLACEHOLDER_EMAIL' | translate"
              [formControl]="emailFormControl"
              class="form-control" />
          </div>
          <small
            *ngIf="
              emailFormControl.invalid &&
              (emailFormControl.dirty || emailFormControl.touched)
            "
            class="text-danger"
            style="font-size: 12px"
            >{{ 'FORM_ERROR.REQUIRED' | translate }}</small
          >
        </div>
        <p-button
          type="submit"
          [label]="'PORTAL.INVITE_POLICY_HOLDER.BTN_SEND' | translate"
          [disabled]="!emailFormControl.valid"></p-button>
      </form>
    </div>
  </ng-container>
</app-pages-layout>
