<app-pages-layout>
  <ng-container content>
    <div class="d-flex align-items-center">
      <div class="px-2">
        <span
          class="material-icons-outlined me-2"
          style="cursor: pointer"
          matTooltip="Back to last page"
          (click)="goBack()">
          arrow_back
        </span>
      </div>
    </div>

    <div class="col-12 mb-4">
      <div class="text-center">
        <h3 class="subtitle-1 dark-blue-400">Create request</h3>
      </div>
    </div>

    <div class="px-0 px-lg-3">
      <app-policy-type-selector
        *ngIf="!selectedType"
        (selectedChange)="selectedType = $event"
        (skipEndorsementsEvent)="
          selectedType = $event; selectedEndorsements = []
        "></app-policy-type-selector>

      <app-endorsements-selector
        *ngIf="selectedType && !selectedEndorsements"
        (selectedChange)="
          selectedEndorsements = $event
        "></app-endorsements-selector>

      <app-form-new-business
        *ngIf="selectedType && selectedEndorsements"
        (back)="goBack()"
        [selectedType]="selectedType"
        [selectedEndorsements]="selectedEndorsements"></app-form-new-business>

      <!-- <form
        [formGroup]="form"
        class="container mt-1 pt-md-3 mb-2 justify-content-md-center g-3"
        *ngIf="!policySelected && !newBusinessData">
        <div class="w-100 d-flex justify-content-center">
          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <p class="text-center">Category</p>
            <app-dropdown-field
              [placeholder]="'Select an option'"
              formControlName="category"
              [options]="categories"></app-dropdown-field>
          </div>
        </div>

        <div
          class="mt-2"
          *ngIf="
            form.get('category')?.value === PolicyCategoryEnum.NEW_BUSINESS
          ">
          <div class="w-100 d-flex justify-content-center">
            <div class="col-12 col-md-4 mb-4 mb-md-0">
              <p class="text-center">Business Line</p>
              <app-dropdown-field
                [placeholder]="'Select an option'"
                formControlName="business_line_id"
                [options]="businessLines"></app-dropdown-field>
            </div>
          </div>

          <div class="w-100 d-flex justify-content-center">
            <div class="col-12 col-md-4 mb-4 mb-md-0">
              <p class="text-center">Request Type</p>
              <app-request-type-selector
                formControlName="request_type"></app-request-type-selector>
            </div>
          </div>

          <div class="d-flex justify-content-center mt-5 mb-3">
            <button
              class="primary-button big-button back-light-blue-500 white mx-2"
              [disabled]="form.invalid"
              (click)="goNewBusineess()">
              Continue
            </button>
          </div>
        </div>

        <div
          class="mt-2"
          *ngIf="
            form.get('category')?.value !== PolicyCategoryEnum.NEW_BUSINESS &&
            dataPolicies.records.length > 0
          ">
          <div class="text-2 gray-300 mb-3">
            Click on a policy to start your request...
          </div>
          <app-policies-table
            *ngIf="dataPolicies"
            [filtersActive]="policyFilterActive"
            [mode]="policyMode"
            (selectChange)="selectPolicy($event)"
            [data]="dataPolicies.records"></app-policies-table>
          <mat-paginator
            *ngIf="dataPolicies"
            [pageSizeOptions]="[10, 25, 50]"
            [length]="dataPolicies.total_records"
            [pageIndex]="dataPolicies.page - 1"
            [pageSize]="dataPolicies.limit"
            (page)="changePolicyPaginator($event)"
            showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>

        <div
          class="mt-4"
          *ngIf="
            form.get('category')?.value !== PolicyCategoryEnum.NEW_BUSINESS &&
            dataPolicies.records.length === 0
          ">
          <h2 class="text-center">There are no policies in this category.</h2>
        </div>
      </form>

      <app-form-new-business
        *ngIf="newBusinessData"
        (back)="goBack()"
        [data]="newBusinessData"></app-form-new-business>

      <app-form-requests-from-policy
        *ngIf="policySelected"
        (back)="goBack()"
        [data]="{
          policy: policySelected,
          category: form.get('category')?.value,
          action: 'create'
        }"></app-form-requests-from-policy> -->
    </div>
  </ng-container>
</app-pages-layout>
