<app-pages-layout>
  <ng-container content>
    <div
      class="d-flex justify-content-between align-items-center mb-1 mx-2"
      *ngIf="commission">
      <div class="d-flex align-items-center">
        <div class="px-2">
          <span
            class="material-icons-outlined me-2"
            style="cursor: pointer"
            matTooltip="Back to last page"
            (click)="goBack()">
            arrow_back
          </span>
        </div>
      </div>
    </div>
    <div
      class="d-flex align-items-center justify-content-center"
      *ngIf="commission">
      <div class="d-flex flex-column">
        <h3 class="text-center w-100 mb-1 subtitle-1 dark-blue-400">
          Commission #{{ commission.serial | notNull }}
        </h3>
        <p class="text-center text-3 gray-500">
          Created date on: {{ commission.createdAt | date }}
        </p>
      </div>
    </div>
    <div class="row px-4 my-2 px-md-5 my-md-5">
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Commission Amount</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ commission.amount | currency | notNull }}
          </div>
        </div>
      </div>

      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Invoice</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            <span
              (click)="
                _url.navigateTo('portal/invoices', commission.invoice?.serial)
              "
              style="color: #00aaff; cursor: pointer"
              >{{ commission.invoice?.serial | notNull }}</span
            >
          </div>
        </div>
      </div>

      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Policy Number</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            <span
              (click)="
                _url.navigateTo('portal/policies', commission.policy?.serial)
              "
              style="color: #00aaff; cursor: pointer"
              >{{ commission.policy?.serial | notNull }}</span
            >
          </div>
        </div>
      </div>

      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Broker</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            <span
              (click)="
                _url.navigateTo('portal/users', commission.broker?.serial)
              "
              style="color: #00aaff; cursor: pointer"
              >{{
                commission.broker?.user?.first_name +
                  ' ' +
                  commission.broker?.user?.last_name | notNull
              }}</span
            >
          </div>
        </div>
      </div>

      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Commission Status</div>
          <div
            class="col-12 col-md-8 black px-1 py-2 d-flex align-items-center">
            <span [ngClass]="getStatusClass(commission.status)">
              {{ commission.status | titlecase }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-pages-layout>
