@import 'theme';

:host ::ng-deep {
  .p-datatable-thead > tr > th {
    background-color: white;
    font-weight: bold;
    padding: 1rem;
    border: none;
    text-align: left;
    font-size: 0.9rem;
  }

  .p-datatable-tbody > tr > td {
    padding: 1rem;
    background-color: #ffffff;
    color: #333;
    border: none;
    text-align: left;
  }

  .p-datatable-tbody > tr:hover > td {
    background-color: #f7f7f7;
  }

  .p-datatable-tbody > tr > td a {
    color: #007bff;
    text-decoration: none;
  }

  .p-datatable-tbody > tr > td a:hover {
    text-decoration: underline;
  }

  .status-new {
    color: #1e90ff;
  }

  .status-completed {
    color: #28a745;
  }

  .status-not-completed {
    color: #dc3545;
  }

  .status-in-progress {
    color: #ffc107;
  }

  .footer {
    display: flex;
    justify-content: space-between;

    &__paginator {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__page-number {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      margin: 0 0 0 0.5rem;
      border-radius: 4px;
      border: 1px solid $gray-200;
      &--selected {
        background-color: #007ad9;
        color: #fff;
      }

      &:hover {
        background-color: #007ad9;
        color: #fff;
      }
    }

    &__page-control {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      border: 1px solid $gray-200;
      color: $gray-200;
      font-size: 1.5rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border-radius: 4px;

      &--right {
        margin-left: 0.5rem;
      }

      &:hover {
        background-color: #007ad9;
        color: #fff;
      }
    }
  }

  .footer__button:hover {
    background-color: #0056b3;
  }
  .p-checkbox .p-checkbox-box .p-checkbox-icon {
    color: $white !important;
  }

  .filter-container {
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: $light-blue-100;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 18rem;
  }

  .filter-container::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent $light-blue-100 transparent;
  }

  .filter-container select,
  .filter-container input {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    background-color: #f8f9fa;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #5f6368;
  }

  .filter-container select:focus,
  .filter-container input:focus {
    outline: none;
    border-color: #90caf9;
    box-shadow: 0 0 5px rgba(144, 202, 249, 0.5);
  }

  .filter-container select::placeholder,
  .filter-container input::placeholder {
    color: #a0a0a0;
    opacity: 1;
  }

  .p-datatable .p-datatable-thead > tr > th {
    position: relative;
  }
}
