<app-pages-layout *ngIf="!loading && claim">
  <ng-container content>
    <div class="row mb-4">
      <div
        class="col-1 d-none d-lg-flex align-items-center justify-content-center">
        <i class="pi pi-arrow-left icon-back" routerLink="/portal/claims"></i>
      </div>

      <div
        class="col-12 col-lg-11 d-flex align-items-center justify-content-center">
        <h1 class="title">Edit Claim</h1>
      </div>
    </div>

    <div class="px-1 ps-md-2 ms-md-2 ps-lg-5 ms-lg-5 me-md-2">
      <app-form-claims [data]="claim"></app-form-claims>
    </div>
  </ng-container>
</app-pages-layout>
