@import 'theme';

  .icon-back {
    color: $dark-blue-400;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
  }

  .title {
    color: $dark-blue-400;
    font-weight: 700;
    font-size: 1.5rem;
  }