@import 'theme';

:host {
  font-family: $font-family;
  transition: all 0.2s ease;

  // Estilos genericos
  .text-menu-option {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
  }

  .menu-option {
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .submenu {
    padding: 0.5rem 0rem;
    transition: all 0.2s ease;
    background: $dark-blue-600;
  }

  .text-submenu-option {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
  }

  // Estilos Agent
  .color-text-agent {
    color: $white;
  }

  .active-option-agent {
    background: linear-gradient(90deg, #079cd9 0%, rgba(7, 156, 217, 0) 100%);
  }

  .text-submenu-agent {
    color: $white;
  }

  .active-suboption-agent {
    background: linear-gradient(90deg, #079cd9 0%, rgba(7, 156, 217, 0) 100%);
    border-radius: 10px 0px 0px 10px;
    opacity: 0.8px;
  }

  // Estilos Client
  .color-text-client {
    color: $dark-blue-300;
  }

  .active-option-client {
    background: linear-gradient(
      90deg,
      $light-blue-200 0%,
      rgba(7, 156, 217, 0.335) 47%,
      rgba(7, 156, 217, 0) 100%
    );
  }

  .text-submenu-client {
    color: $dark-blue-300;
  }

  .active-suboption-client {
    background: linear-gradient(
      90deg,
      $light-blue-200 0%,
      rgba(7, 156, 217, 0.335) 47%,
      rgba(7, 156, 217, 0) 100%
    );
    border-radius: 10px 0px 0px 10px;
    opacity: 0.8px;
  }

  // Estilos Admin
  .active-option-admin {
    background: linear-gradient(
      90deg,
      #9ca3af 0%,
      // gray-400
      rgba(156, 163, 175, 0) 100%
    );
  }
  .color-text-admin {
    color: #e5e7eb;
  }

  .text-submenu-admin {
    color: #f9fafb;
  }

  .active-suboption-admin {
    background: linear-gradient(90deg, #22c55e 0%, rgba(34, 197, 94, 0) 100%);
    border-radius: 10px 0px 0px 10px;
    opacity: 0.8px;
  }
}
