<app-pages-layout>
  <ng-container content>
    <ng-container *ngIf="request">
      <div class="d-flex justify-content-between align-items-center mb-1 ms-2">
        <span
          class="material-icons-outlined me-2"
          style="cursor: pointer"
          [matTooltip]="'PORTAL.REQUESTS.BACK' | translate"
          (click)="goBack()">
          arrow_back
        </span>

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon class="dark-blue-400">more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu" xPosition="before">
          <button
            mat-menu-item
            *ngIf="isOwner"
            (click)="openModalChangeLogs(request._id)">
            <span class="d-flex align-items-center gap-2">
              <span class="material-icons-outlined">history</span>
              <span>{{ 'PORTAL.REQUESTS.CHANGE_LOGS' | translate }}</span>
            </span>
          </button>

          <button
            mat-menu-item
            [disabled]="
              request.status === 'CLOSED' || request.status === 'REJECTED'
            "
            (click)="openRejectRequestModal()">
            <span class="d-flex align-items-center gap-2">
              <span
                class="material-icons-outlined text-muted"
                [ngClass]="{
                  'gray-500':
                    request.status === 'CLOSED' || request.status === 'REJECTED'
                }">
                playlist_remove
              </span>
              <span>{{ 'PORTAL.REQUESTS.REJECT' | translate }}</span>
            </span>
          </button>

          <button
            mat-menu-item
            [disabled]="
              request.status === 'CLOSED' || request.status === 'REJECTED'
            "
            (click)="
              _url.navigateTo('portal/requests', request.serial, 'edit')
            ">
            <span class="d-flex align-items-center gap-2">
              <span
                class="material-icons-outlined"
                [ngClass]="{
                  'text-secondary':
                    request.status === 'CLOSED' || request.status === 'REJECTED'
                }">
                edit
              </span>
              <span>{{ 'PORTAL.REQUESTS.EDIT' | translate }}</span>
            </span>
          </button>

          <button mat-menu-item (click)="deleteRequest(request._id)">
            <span class="d-flex align-items-center gap-2">
              <span class="material-icons-outlined text-danger">delete</span>
              <span>{{ 'PORTAL.REQUESTS.DELETE' | translate }}</span>
            </span>
          </button>
        </mat-menu>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="d-flex flex-column">
          <h3 class="text-center w-100 mb-1 subtitle-1 dark-blue-400">
            {{ 'PORTAL.REQUESTS.REQUEST_HASH' | translate }}{{ request.serial }}
          </h3>
          <p class="text-3 gray-500 text-center">
            {{ 'PORTAL.REQUESTS.CREATED_ON' | translate }}
            {{ request.createdAt | date : 'MM/dd/yyyy' | notNull }}
          </p>
          <div class="d-flex justify-content-center align-items-center gap-2">
            <span [class]="'ms-2 category-badge text-3 ' + request.category">{{
              request.category | translatedEnum : 'ENUMS.POLICY_CATEGORY'
            }}</span>
          </div>
        </div>
      </div>
      <div class="content-box px-3 py-2 py-md-4 px-md-4">
        <div class="my-3">
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="subtitle-2 dark-blue-400">
                    {{ 'PORTAL.REQUESTS.PERSONAL_INFO' | translate }}
                  </span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-container
                [ngTemplateOutlet]="personalInfoTempalte"></ng-container>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div class="my-4">
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="subtitle-2 dark-blue-400">{{ 'PORTAL.REQUESTS.REQUEST_LABEL' | translate }}</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-container
                [ngTemplateOutlet]="requestInfoTempalte"></ng-container>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div
          class="my-4"
          *ngIf="
            (request.request_documents &&
              request.request_documents.length > 0) ||
            isInsured
          ">
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="subtitle-2 dark-blue-400">{{ 'PORTAL.REQUESTS.DOCUMENTS' | translate }}</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-container
                [ngTemplateOutlet]="documentsInfoTemplate"></ng-container>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div class="my-4" *ngIf="refreredPolicy">
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="subtitle-2 dark-blue-400">{{ 'PORTAL.REQUESTS.REFERED' | translate }}</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-container
                [ngTemplateOutlet]="policylInfoTemplate"
                [ngTemplateOutletContext]="{ policy: refreredPolicy }"></ng-container>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div class="my-4" *ngIf="resultingPolicy">
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="subtitle-2 dark-blue-400">
                    {{ 'PORTAL.REQUESTS.RESULTING_POLICY' | translate }}
                    <a
                      class="light-blue-700"
                      style="cursor: pointer"
                      (click)="$event.stopPropagation(); _url.navigateTo('/portal/policies', resultingPolicy.serial)">
                      #{{ resultingPolicy.serial }}
                    </a>
                  </span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-container
                [ngTemplateOutlet]="policylInfoTemplate"
                [ngTemplateOutletContext]="{ policy: resultingPolicy }"></ng-container>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div
          class="my-4"
          *ngIf="
            request.category !== POLICY_CATEGORY.CANCELLATION &&
            request.status !== REQUEST_STATUS.REJECTED
          ">
          <mat-accordion>
            <mat-expansion-panel [expanded]="true" id="request-quotes-info">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div
                    class="d-flex flex-row align-items-center justify-content-between w-100 mb-2 mb-md-3 px-1">
                    <div class="d-flex align-items-center gap-2">
                      <span class="subtitle-2 dark-blue-400">
                        {{ 'PORTAL.REQUESTS.AVAILABLE_QUOTES' | translate }}
                      </span>

                      <span class="badge-quotes-quantity rounded-pill">
                        {{ quotes.length
                        }}<span class="d-none d-md-inline">&nbsp;{{ 'PORTAL.REQUESTS.AVAILABLE_QUOTES' | translate }}</span>
                      </span>
                    </div>

                    <button
                      class="primary-button back-orange white d-flex align-items-center justify-content-center custom-fab-btn"
                      *ngIf="
                        request.status !== REQUEST_STATUS.CLOSED && !isInsured
                      "
                      type="button"
                      [matTooltip]="'PORTAL.REQUESTS.CREATE_QUOTE' | translate"
                      (click)="handleCreateQuote($event)">
                      <span class="material-icons-outlined text-white"
                        >add</span
                      >

                      <span class="d-none d-md-inline ms-1 text-white"
                        >{{ 'PORTAL.REQUESTS.CREATE_QUOTE' | translate }}</span
                      >
                    </button>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-container
                [ngTemplateOutlet]="quotesInfoTemplate"></ng-container>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div class="my-4" *ngIf="request.status === REQUEST_STATUS.REJECTED">
          <mat-accordion>
            <mat-expansion-panel [expanded]="false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="subtitle-2 dark-blue-400">
                    {{ request.status | titlecase }}
                  </span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-container
                [ngTemplateOutlet]="rejectedRequestTemplate"></ng-container>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </ng-container>
  </ng-container>
</app-pages-layout>

<ng-template #documentsInfoTemplate>
  <div class="row w-100 mx-0 mx-md-2">
    <ng-container
      *ngIf="
        isBroker || (!isBroker && request.request_documents.length > 0);
        else formRequesDocument
      ">
      <div class="row mx-0">
        <div
          class="alert-login-google py-2 px-3 mt-1 mb-2"
          style="font-size: 14px"
          *ngIf="isBroker">
          {{ 'PORTAL.REQUESTS.GOOGLE_MSG' | translate }}
          <span class="button-login-google" (click)="loginGoogle()">{{ 'PORTAL.REQUESTS.GOOGLE_LOGIN' | translate }}</span
          >
        </div>
        <div
          class="col col-12 col-md-6 px-2 px-md-3 mb-2"
          *ngFor="let item of request.request_documents; let i = index">
          <div class="px-2 my-1">
            <div class="row">
              <div class="col-12 col-md-6 black px-2 py-2">
                {{ 'PORTAL.REQUESTS.DOCUMENT' | translate }} {{ i + 1 }}
              </div>
              <div
                class="black px-2 py-2 d-flex align-items-center justify-content-between prop-box">
                <a
                  (click)="openAttach(item)"
                  target="_blank"
                  class="attach-link">
                  {{ item | customFile }}
                </a>

                <span
                  class="material-icons-outlined ms-2 light-blue-600"
                  style="cursor: pointer"
                  *ngIf="isBroker && connected"
                  [matTooltip]="'PORTAL.REQUESTS.SEND_EMAIL' | translate"
                  (click)="sendQuoteViaEmail(i)">
                  mail
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #formRequesDocument>
      <form [formGroup]="form">
        <div class="col-12 mb-1 mb-md-2">
          <label>{{ 'PORTAL.REQUESTS.REQUEST_DOC' | translate }}</label>
          <app-file-picker
            [placeholder]="'PORTAL.REQUESTS.ATTACH_DOC' | translate"
            formControlName="request_documents"
            data-testid="request-upload-input">
          </app-file-picker>
        </div>

        <div class="d-flex align-items-center justify-content-center">
          <button
            class="primary-button big-button back-dark-blue-400 white mx-1 mb-2"
            (click)="openModalForms()">
            {{ 'PORTAL.REQUESTS.VIEW_FORMS' | translate }}
          </button>
          <button
            class="primary-button big-button back-light-blue-400 white mx-1 mb-2"
            (click)="uploadRequestForm()"
            [disabled]="form.invalid">
            {{ 'PORTAL.REQUESTS.UPLOAD_FILE' | translate }}
          </button>
        </div>
      </form>
    </ng-template>
  </div>
</ng-template>

<ng-template #rejectedRequestTemplate>
  <div class="row">
    <ng-container>
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.REJECTED_REASON' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ request.rejection_reason }}
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #personalInfoTempalte>
  <div class="row mx-1 mx-md-2" id="request-personal-info-details">
    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.ACCOUNT_NAME' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ request.client?.account_name | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.FULL_NAME' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{
            (request.client?.user?.first_name | notNull) +
              ' ' +
              (request.client?.user?.last_name | notNull)
          }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.DOB' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ request.client?.user?.date_of_birth | appDateTime : 'date' | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.GENDER' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ request.client?.user?.gender | notNull | translatedEnum:'ENUMS.GENDER' }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.MARITAL' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ request.client?.user?.marital_status | notNull | translatedEnum:'ENUMS.MARITAL_STATUS' }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.COUNTRY' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ request.client?.user?.address_info?.country | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.ADDRESS' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ request.client?.user?.address_info?.address | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.ZIP' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ request.client?.user?.address_info?.zipcode | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.EMAIL' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          <ng-container *ngIf="!isInsured">
            <span
              *ngIf="connected"
              class="clickable-email"
              [matTooltip]="'PORTAL.COMMON.SEND_EMAIL' | translate"
              matTooltipPosition="above"
              (click)="openEmailCompose(request.client?.user?.email)">
              {{ request.client?.user?.email | notNull }}
            </span>
            <div
              *ngIf="showEmailDropdown"
              class="dropdown-backdrop"
              (click)="showEmailDropdown = false"></div>
            <span
              *ngIf="!connected"
              class="email-rich-tooltip-wrapper"
              (click)="toggleEmailDropdown($event)">
              {{ request.client?.user?.email | notNull }}
              <span
                class="rich-tooltip"
                [class.visible]="showEmailDropdown"
                *ngIf="request.client?.user?.email"
                (click)="$event.stopPropagation()">
                {{ 'PORTAL.REQUESTS.GOOGLE_MSG' | translate }}
                <span
                  class="rich-tooltip__link"
                  (click)="openEmailCompose(request.client?.user?.email)">
                  {{ 'PORTAL.COMMON.LOGIN_HERE' | translate }}
                </span>
              </span>
            </span>
          </ng-container>
          <ng-container *ngIf="isInsured">
            {{ request.client?.user?.email | notNull }}
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #requestInfoTempalte>
  <div
    class="row mx-1 mx-md-2"
    id="request-info-template"
    *ngIf="request.category !== POLICY_CATEGORY.CANCELLATION">
    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.POLICY_TYPE' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ request.policy_type.name | notNull | enum }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.BUSINESS_LINE' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ request.policy_type.business_line.name | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.OBJECT' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ request.insure_object | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.COVERAGE_LIMIT' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ request.coverage | appCurrency }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.AGENT' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{
            (request.client?.broker?.user?.first_name | notNull) +
              ' ' +
              (request.client?.broker?.user?.last_name | notNull)
          }}
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="request.category !== POLICY_CATEGORY.NEW_BUSINESS">
    <div class="col col-12 px-4 my-2">
      <div class="row">
        <div class="col col-2 black px-2 py-2">{{ 'PORTAL.REQUESTS.ADDITIONAL_INFO' | translate }}</div>
        <div class="col col-10 black px-3 py-2 prop-box">
          {{ request.additional_info | notNull }}
        </div>
      </div>
    </div>
  </div>
  <div
    class="row my-4"
    *ngIf="request.category === POLICY_CATEGORY.CANCELLATION && !isInsured">
    <div class="d-flex justify-content-center">
      <button
        class="primary-button back-red-color white mx-2"
        (click)="cancelPolicy()"
        [disabled]="request.status === REQUEST_STATUS.CLOSED">
        {{ 'PORTAL.REQUESTS.ACCEPT_CANCELLATION' | translate }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #quotesInfoTemplate>
  <ng-container *ngIf="quotes.length; else notQuotes">
    <div
      class="card w-100 py-3 px-3 px-md-4 mb-3"
      *ngFor="let element of quotes">
      <div
        class="w-100 d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-between gap-3">
        <div class="d-flex flex-column">
          <span class="subtitle-2 dark-blue-400">
            {{ element.insurer?.name | notNull }}
          </span>
          <small class="text-muted">
            #{{ element.serial | notNull }} |
            {{ element.quote_date | appDateTime : 'date' | notNull }}
          </small>
        </div>

        <div
          class="black px-3 py-2 d-flex align-items-center justify-content-between prop-box w-100 w-md-auto"
          style="border-radius: 10px">
          <a
            (click)="openAttach(element.document)"
            target="_blank"
            style="cursor: pointer"
            [matTooltip]="'PORTAL.COMMON.VIEW_PDF' | translate"
            class="attach-link">
            {{ element.document | customFile }}
          </a>
        </div>
      </div>

      <div
        class="information-card d-flex flex-column flex-md-row align-items-center justify-content-center w-100 mt-3 shadow-sm">
        <div class="d-flex align-items-center flex-column stat-item">
          <span class="stat-label">{{ 'PORTAL.REQUESTS.PREMIUM' | translate }}</span>
          <span class="stat-value">{{ element.prime_amount | appCurrency }}</span>
        </div>

        <hr class="w-100 d-md-none my-2" style="opacity: 0.1" />
        <div class="vr separator d-none d-md-block"></div>

        <div class="d-flex align-items-center flex-column stat-item">
          <span class="stat-label">{{ 'PORTAL.REQUESTS.COVERAGE' | translate }}</span>
          <span class="stat-value">{{ element.coverage | appCurrency }}</span>
        </div>

        <hr class="w-100 d-md-none my-2" style="opacity: 0.1" />
        <div class="vr separator d-none d-md-block"></div>

        <div class="d-flex align-items-center flex-column stat-item">
          <span class="stat-label">{{ 'PORTAL.REQUESTS.DEDUCTIBLE' | translate }}</span>
          <span class="stat-value">{{ element.deductible | appCurrency }}</span>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-center mt-2">
        <app-quote-selection-button
          [quote]="element"
          (createPolicy)="goToPolicy($event)"
          (changeStatus)="setQuoteStatus($event, element._id)"
          [request]="request">
        </app-quote-selection-button>
      </div>
    </div>
  </ng-container>

  <ng-template #notQuotes>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <img
        src="assets/images/empty/default-empty.svg"
        alt="empty"
        style="max-height: 10rem" />
      <h3 class="text-center mt-3 mb-4 w-100 subtitle-2 dark-blue-300">
        {{ 'PORTAL.REQUESTS.NO_QUOTES' | translate }}
      </h3>
    </div>
  </ng-template>
</ng-template>

<ng-template #policylInfoTemplate let-policy="policy">
  <div class="row mx-1 mx-md-2">
    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.INSURER' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy?.insurer?.name | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.POLICY_TYPE' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy?.policy_type?.name | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.OBJECT_INSURE' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy?.insure_object | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.EFFECTIVE' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy?.start_date | appDateTime : 'date' | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.EXPIRATION' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy?.end_date | appDateTime : 'date' | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.COVERAGE_LIMIT' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy?.coverage | appCurrency }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.PREMIUM' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy?.prime_amount | appCurrency }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.DEDUCTIBLE' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy?.deductible | appCurrency }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.STATUS' | translate }}</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy?.status | translatedEnum : 'ENUMS.POLICY_STATUS' | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">{{ 'PORTAL.REQUESTS.CYCLE' | translate }}</div>
        <div
          class="col col-8 black px-3 py-2 prop-box"
          [class]="'C-' + policy?.category + ' fw-semibold'">
          {{ policy?.category | translatedEnum : 'ENUMS.POLICY_CATEGORY' | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">
          {{ 'PORTAL.REQUESTS.COVERAGE_DETAILS' | translate }}
        </div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy?.description | notNull }}
        </div>
      </div>
    </div>
  </div>
</ng-template>
