<app-pages-layout>
  <ng-container content>
    <ng-container *ngIf="data.records.length; else emptyState">
      <div class="px-2 px-md-4 py-3">
        <p class="subtitle-2 dark-blue-400 mb-2">{{ 'PORTAL.HOW_TO.GRID.TITLE' | translate }}</p>
        <app-input
          [(ngModel)]="query"
          [placeholder]="'PORTAL.HOW_TO.GRID.PLACEHOLDER_SEARCH' | translate"
          (ngModelChange)="filterHowTo()"></app-input>
      </div>

      <div class="row px-2 px-md-4" *ngIf="pagedResults.length; else noResults">
        <div class="col-12 col-md-4 mb-4" *ngFor="let video of pagedResults">
          <div class="how-to-card" (click)="openVideo(video)">
            <div class="how-to-card__thumb">
              <img [src]="thumbnailFor(video)" [alt]="video.title" />
              <span class="material-icons-outlined how-to-card__play">play_circle</span>
            </div>
            <p class="how-to-card__title">{{ video.title }}</p>
          </div>
        </div>
      </div>

      <ng-template #noResults>
        <div class="col-12 text-center py-5">
          <p class="text-3 gray-500">{{ 'PORTAL.HOW_TO.GRID.NO_RESULTS' | translate }}</p>
        </div>
      </ng-template>

      <mat-paginator
        *ngIf="filteredResults.length > pageSize"
        class="px-2 px-md-4"
        [length]="filteredResults.length"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [hidePageSize]="true"
        (page)="changePage($event)">
      </mat-paginator>
    </ng-container>

    <ng-template #emptyState>
      <div class="col-12 col-md-12 col-sm-12 text-center py-5">
        <img
          src="assets/images/empty/default-empty.svg"
          class="col-12 col-md-4"
          alt="" />
        <p class="subtitle-1 dark-blue-500">
          {{ 'PORTAL.HOW_TO.GRID.EMPTY_TITLE' | translate }}
        </p>
        <p class="text-3 black">
          {{ 'PORTAL.HOW_TO.GRID.EMPTY_TEXT' | translate }}
        </p>
      </div>
    </ng-template>
  </ng-container>
</app-pages-layout>
