<app-pages-layout>
  <ng-container content>
    <div
      class="d-flex justify-content-between align-items-center mb-1 ms-2"
      *ngIf="account">
      <span
        class="material-icons-outlined me-2"
        style="cursor: pointer"
        matTooltip="Back to last page"
        (click)="goBack()">
        arrow_back
      </span>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="dark-blue-400">more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu" xPosition="before">
        <button
          mat-menu-item
          *ngIf="isOwner"
          (click)="openModalChangeLogs(account._id)">
          <span class="d-flex align-items-center gap-2">
            <span class="material-icons-outlined dark-blue-400">history</span>
            <span>Change Logs</span>
          </span>
        </button>

        <button
          mat-menu-item
          (click)="_url.navigateTo('portal/accounts', account._id, 'edit')">
          <span class="d-flex align-items-center gap-2">
            <span class="material-icons-outlined dark-blue-400">edit</span>
            <span>Edit</span>
          </span>
        </button>

        <button mat-menu-item>
          <mat-slide-toggle
            [checked]="account.status === 'ACTIVE'"
            (change)="setStatus($event)"
            [color]="'primary'">
            <span class="mat-mdc-menu-item-text">
              {{ account.status === 'ACTIVE' ? 'Inhabilitar' : 'Habilitar' }}
            </span>
          </mat-slide-toggle>
        </button>

        <button mat-menu-item (click)="resendInvitation(account)">
          <span class="d-flex align-items-center gap-2">
            <span class="material-icons-outlined success-color">mail</span>
            <span>Resend Invitation</span>
          </span>
        </button>

        <button mat-menu-item (click)="deleteAccount(account._id)">
          <span class="d-flex align-items-center gap-2">
            <span class="material-icons-outlined text-danger">delete</span>
            <span>Delete</span>
          </span>
        </button>
      </mat-menu>
    </div>
    <div
      class="d-flex flex-column align-items-center justify-content-center"
      *ngIf="account">
      <app-picture-selector
        [showSelector]="false"
        [icon]="
          account.user?.photo_url ?? '/assets/icons/user_two.svg'
        "></app-picture-selector>

      <h3 class="text-center w-100 mt-3 mb-1 subtitle-1 dark-blue-400">
        Account #{{ account.serial }}
      </h3>
      <div class="text-center text-3 gray-500 w-100">
        Created date on: {{ account.createdAt | date }}
      </div>
    </div>
    <div class="row px-4 my-2 px-md-5 my-md-5" *ngIf="account">
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Account name</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ account.account_name | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">SSN / EIN</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ account.ssn | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">First name</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ account.user?.first_name | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Last name</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ account.user?.last_name | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Email</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ account.user?.email | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Status</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ account.status | titlecase | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Phone number</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ account.user?.phone_number ?? '' | phone | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Phone number</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ account.user?.phone_extension ?? '' | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Address</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ account.user?.address_info?.address | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Zip code</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ account.user?.address_info?.zipcode | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Address extra</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ account.user?.address_info?.additional_address | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Gender</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ account.user?.gender | titlecase | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Date of birth</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ account.user?.date_of_birth | date | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Marital status</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ account.user?.marital_status | notNull }}
          </div>
        </div>
      </div>
    </div>

    <h3 class="subtitle-1 dark-blue-400 text-center mt-3 mt-md-5 mb-4">
      Last activities
    </h3>

    <div class="my-3">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="subtitle-2 dark-blue-400"> Last Requests </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-requests-table
            *ngIf="requests"
            [filtersActive]="filtersActive"
            (refresh)="refreshRequests()"
            [data]="requests"></app-requests-table>
          <div
            class="d-flex align-items-center justify-content-center"
            *ngIf="account">
            <button
              class="primary-button back-light-blue-400 white my-2"
              [routerLink]="['/portal/requests/new']"
              [queryParams]="{ account: account._id }">
              Create request
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="my-3">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="subtitle-2 dark-blue-400"> Last Policies </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-policies-table
            *ngIf="policies"
            [filtersActive]="filtersActive"
            (refresh)="refreshPolicies()"
            [data]="policies"></app-policies-table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </ng-container>
</app-pages-layout>
