<div
  class="container-img d-flex justify-content-center align-items-center position-relative {{
    background
  }}">
  <img class="img-photo" [src]="icon" alt="" />
  <div
    class="back-orange d-flex justify-content-center align-items-center container-camera position-absolute"
    *ngIf="showSelector"
    (click)="openNavigatorFile()">
    <img src="/assets/icons/camera.svg" alt="" />
  </div>
  <input
    #inputFile
    class="d-none"
    type="file"
    accept=".png, .jpg, .jpeg"
    (change)="addFile($event)" />
</div>
