@import 'theme';

:host {
  .container-img {
    border: 5px solid $gray-100;
    border-radius: 50%;
    box-shadow: 0px 5px 5px 0px $gray-600;
  }

  .container-camera {
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    padding: 1.2rem;
    bottom: -1rem;
    right: -1rem;
    cursor: pointer;
  }

  .img-photo {
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    border-radius: 50%;
  }
}
