<app-pages-layout>
  <ng-container content>

    <div class="d-flex align-items-center mb-3 ms-2">
      <span
        class="material-icons-outlined me-2"
        style="cursor: pointer"
        matTooltip="Back"
        (click)="goBack()">
        arrow_back
      </span>
      <h5 class="mb-0 subtitle-1 dark-blue-400">Agencies with active leads</h5>
    </div>

    <div class="table-responsive" *ngIf="agencies.length; else emptyState">
      <table mat-table [dataSource]="agencies">

        <ng-container matColumnDef="logo">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let agency">
            <img
              class="agency-logo"
              [src]="agency.logo_url ?? '/assets/icons/user_two.svg'"
              [alt]="agency.name" />
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Agency</th>
          <td mat-cell *matCellDef="let agency">
            <span class="agency-name">{{ agency.name }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="serial">
          <th mat-header-cell *matHeaderCellDef>Serial</th>
          <td mat-cell *matCellDef="let agency">#{{ agency.serial }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let agency">
            <button
              class="transfer-btn"
              type="button"
              title="Transfer lead to this agency"
              (click)="transfer(agency)">
              <span class="material-icons-outlined">compare_arrows</span>
              Transfer
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" class="mas-table-row"></tr>

      </table>
    </div>

    <ng-template #emptyState>
      <app-default-empty-state></app-default-empty-state>
    </ng-template>

  </ng-container>
</app-pages-layout>
