<div class="ui-modal">
  <div
    class="ui-modal-header white subtitle-2 text-center py-2"
    [ngClass]="typeClass">
    {{ config.title | uppercase }}
  </div>

  <div class="ui-modal-content py-3 px-2 text-center text-1 gray-500">
    <div *ngIf="useLinkMode; else simpleText">
      <ng-container *ngFor="let part of parts; let i = index">
        <span *ngIf="i === 0">{{ part }}</span>
        <ng-container *ngIf="i > 0">
          <a
            class="redirect-link"
            [routerLink]="config.link?.url"
            (click)="close('link')">
            {{ config.link?.name }}
          </a>
          <span>{{ part }}</span>
        </ng-container>
      </ng-container>
    </div>

    <ng-template #simpleText>
      <div [innerHTML]="config.text"></div>
    </ng-template>
  </div>

  <div class="ui-modal-footer d-flex justify-content-center gap-2 pb-4">
    <button
      class="primary-button white back-gray-500"
      (click)="close('cancel')"
      *ngIf="config.additionalButton">
      No send
    </button>

    <button
      [class]="'primary-button white ' + typeClass"
      (click)="close('accept')">
      Accept
    </button>
  </div>
</div>
