<app-pages-layout>
  <ng-container content>
    <ng-container *ngIf="policy">
      <div class="d-flex justify-content-between align-items-center mb-1 ms-2">
        <span
          class="material-icons-outlined me-2"
          style="cursor: pointer"
          matTooltip="Back to last page"
          (click)="goBack()">
          arrow_back
        </span>

        <button mat-icon-button *ngIf="showActions" [matMenuTriggerFor]="menu">
          <mat-icon class="dark-blue-400">more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu" xPosition="before">
          <button
            mat-menu-item
            *ngIf="isOwner"
            (click)="openModalChangeLogs(policy._id)">
            <span class="d-flex align-items-center gap-2">
              <span class="material-icons-outlined dark-blue-400">history</span>
              <span>Change Logs</span>
            </span>
          </button>

          <button
            mat-menu-item
            [disabled]="policy.has_payment"
            [matTooltip]="
              policy.has_payment
                ? 'Editing this policy is not allowed'
                : 'Edit this policy'
            "
            matTooltipPosition="above"
            (click)="
              !policy.has_payment &&
                url.navigateTo('portal/policies', policy.serial, 'edit')
            ">
            <span class="d-flex align-items-center gap-2">
              <span
                class="material-icons-outlined"
                [ngClass]="{
                  'dark-blue-400': !policy.has_payment,
                  'gray-500': policy.has_payment
                }">
                edit
              </span>
              <span>Edit</span>
            </span>
          </button>

          <button mat-menu-item (click)="deletePolicy(policy._id)">
            <span class="d-flex align-items-center gap-2">
              <span class="material-icons-outlined text-danger">delete</span>
              <span>Delete</span>
            </span>
          </button>
        </mat-menu>
      </div>
      <h3 class="text-center w-100 mb-1 subtitle-1 dark-blue-400">
        Policy #{{ policy.serial }}
      </h3>
      <div class="text-center text-3 gray-500 w-100">
        Created date on: {{ policy.createdAt | date }}
      </div>

      <div class="content-box px-3 py-2 py-md-4 px-md-4">
        <div class="my-3">
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="subtitle-2 dark-blue-400">
                    Personal information
                  </span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-container
                [ngTemplateOutlet]="personalInfoTemplate"></ng-container>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div class="my-4" id="policy-info-tutor">
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="subtitle-2 dark-blue-400">
                    Policy information
                  </span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-container
                [ngTemplateOutlet]="policylInfoTemplate"></ng-container>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div
          class="my-4"
          *ngIf="policy.document || policy.request_documents.length">
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="subtitle-2 dark-blue-400"> Documents </span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-container
                [ngTemplateOutlet]="documentsInfoTemplate"></ng-container>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div class="my-4" *ngIf="refreredPolicy">
          <mat-accordion>
            <mat-expansion-panel [expanded]="false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="subtitle-2 dark-blue-400"> Refered policy </span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-container
                [ngTemplateOutlet]="refreredPolicyInfoTemplate"></ng-container>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </ng-container>
  </ng-container>
</app-pages-layout>

<ng-template #personalInfoTemplate>
  <div class="row mx-1 mx-md-2">
    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Account</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy.client?.account_name | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Beneficiary</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{
            (policy.client?.user?.first_name | notNull) +
              ' ' +
              (policy.client?.user?.last_name | notNull)
          }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Date of birth</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy.client?.user?.date_of_birth | date | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Gender</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy.client?.user?.gender | notNull | enum }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Marital status</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy.client?.user?.marital_status | notNull | enum }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Country</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy.client?.user?.address_info?.country | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Full address</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy.client?.user?.address_info?.address | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Zip code</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy.client?.user?.address_info?.zipcode | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Email</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy.client?.user?.email | notNull }}
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #policylInfoTemplate>
  <div class="row mx-1 mx-md-2">
    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Insurer</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy.insurer?.name | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Policy Type</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy.policy_type?.name | notNull | enum }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Object to insure</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy.insure_object | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Effective date</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy.start_date | date | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Expiration date</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy.end_date | date | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Coverage</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy.coverage | currency | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Premium amount</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy.prime_amount | currency | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Deductible</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy.deductible | currency | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Status</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ policy.status | notNull | enum }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Policy cycle</div>
        <div
          class="col-12 col-md-8 black px-3 py-2 prop-box"
          [class]="policy.category + ' fw-semibold'">
          {{ policy.category | enum | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-2 black px-2 py-2">
          Policy coverage details
        </div>
        <div class="col-12 col-md-10 black px-3 py-2 prop-box">
          {{ policy.description | notNull }}
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #documentsInfoTemplate>
  <div class="row mx-1 mx-md-2">
    <div class="col col-12 col-md-6 px-2 px-md-4 my-2" *ngIf="policy.document">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Policy copy</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          <a
            (click)="openFile(policy.document)"
            target="_blank"
            class="attach-link"
            style="cursor: pointer">
            {{ policy.document | customFile }}
          </a>
        </div>
      </div>
    </div>

    <ng-container
      *ngIf="policy.request_documents && policy.request_documents.length">
      <ng-container *ngFor="let doc of policy.request_documents; let i = index">
        <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
          <div class="row">
            <div class="col-12 col-md-4 black px-2 py-2">
              Request form {{ i + 1 }}
            </div>
            <div class="col-12 col-md-8 black px-3 py-2 prop-box">
              <a
                (click)="openFile(doc)"
                target="_blank"
                class="attach-link"
                style="cursor: pointer">
                {{ doc | customFile }}
              </a>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-template>

<ng-template #refreredPolicyInfoTemplate>
  <div class="row mx-1 mx-md-2">
    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Insurer</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ refreredPolicy.insurer?.name | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Policy Type</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ refreredPolicy.policy_type?.name | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Object to insure</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ refreredPolicy.insure_object | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Effective date</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ refreredPolicy.start_date | date | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Expiration date</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ refreredPolicy.end_date | date | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Coverage</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ refreredPolicy.coverage | currency | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Premium amount</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ refreredPolicy.prime_amount | currency | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Deductible</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ refreredPolicy.deductible | currency | notNull }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Status</div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ refreredPolicy.status | notNull | enum }}
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">Policy cycle</div>
        <div
          class="col-12 col-md-8 black px-3 py-2 prop-box"
          [class]="'C-' + refreredPolicy.category + ' fw-semibold'">
          {{ refreredPolicy.category | notNull | enum }}
        </div>
      </div>
    </div>

    <div class="col col-12 px-4 my-2">
      <div class="row">
        <div class="col-12 col-md-4 black px-2 py-2">
          Policy coverage details
        </div>
        <div class="col-12 col-md-8 black px-3 py-2 prop-box">
          {{ refreredPolicy.description | notNull }}
        </div>
      </div>
    </div>
  </div>
</ng-template>
