<div class="px-1 px-md-2 header-section">
  <div class="row mx-0">
    <div class="col-md-7 col-12">
      <app-breadcrumbs></app-breadcrumbs>
    </div>

    <div
      class="col-md-5 col-12 d-flex align-items-center justify-content py-3"
      *ngIf="button">
      <span class="material-icons-outlined me-2" *ngIf="statistics"
        >bar_chart</span
      >
      <span class="material-icons-outlined me-2" *ngIf="filters"
        >filter_alt</span
      >
      <span class="material-icons-outlined rotate me-2" *ngIf="attachs"
        >attach_file</span
      >
      <button
        class="primary-button back-orange white mx-1 d-flex align-items-center"
        [disabled]="!isPaid"
        *ngIf="button && button.url"
        [matTooltip]="
          !isPaid
            ? 'You cannot perform this action because your agency has a pending payment. Please contact your administrator.'
            : ''
        "
        [routerLink]="button.url">
        <span
          class="material-icons-outlined"
          style="color: white !important"
          *ngIf="button.icon"
          >{{ button.icon }}</span
        >
        {{ button.text }}
      </button>

      <button
        class="primary-button back-orange white mx-1 d-flex align-items-center"
        [disabled]="!isPaid"
        *ngIf="button && !button.url"
        [matTooltip]="
          !isPaid
            ? 'You cannot perform this action because your agency has a pending payment. Please contact your administrator.'
            : ''
        "
        (click)="btnClick.emit()">
        <span
          class="material-icons-outlined"
          style="color: white !important"
          *ngIf="button.icon"
          >{{ button.icon }}</span
        >
        {{ button.text }}
      </button>
    </div>
  </div>
</div>

<div class="m-3 m-md-4" style="min-height: calc(100vh - 190px)">
  <div *ngIf="!isPaid" class="not-paid-info py-1 px-3 mb-3">
    <span *ngIf="isOwner">
      Your payment is still pending.
      <span class="payment-button" (click)="goToPaymentIntent()">
        Click here
      </span>
      to complete it.
    </span>
    <span *ngIf="!isOwner">
      Your agency has a pending payment. Please contact your administrator to
      resolve it.
    </span>
  </div>
  <p-card>
    <ng-content select="[content]"></ng-content>
  </p-card>
</div>

<app-floating-actions
  [surveyUrl]="'https://s.surveyplanet.com/ubdykmvc'"
  [contactNumberBroker]="contactNumberBroker"
  [isInsured]="isInsured">
</app-floating-actions>
