<div class="px-1 px-md-2 header-section">
  <div class="row mx-0">
    <div class="col-md-7 col-12">
      <app-breadcrumbs></app-breadcrumbs>
    </div>

    <div
      class="col-md-5 col-12 d-flex align-items-center justify-content py-3"
      *ngIf="button">
      <span class="material-icons-outlined me-2" *ngIf="statistics"
        >bar_chart</span
      >
      <span class="material-icons-outlined me-2" *ngIf="filters"
        >filter_alt</span
      >
      <span class="material-icons-outlined rotate me-2" *ngIf="attachs"
        >attach_file</span
      >
      <button
        class="primary-button back-blue white d-flex align-items-center info-button"
        [disabled]="!isPaid"
        *ngIf="showButtonInfo"
        [matTooltip]="'SHARED.PAGES_LAYOUT.TOOLTIP_INFO' | translate"
        (click)="btnInfoClick.emit()">
        <span class="material-icons-outlined" style="color: white !important"
          >info</span
        >
      </button>

      <button
        [id]="button.id ?? null"
        [attr.data-testid]="button.testId ?? null"
        class="primary-button back-orange white mx-1 d-flex align-items-center"
        [disabled]="!isPaid && requirePayment"
        *ngIf="button && button.url"
        [matTooltip]="
          !isPaid && requirePayment
            ? ('SHARED.PAGES_LAYOUT.TOOLTIP_PAYMENT_PENDING' | translate)
            : ''
        "
        [routerLink]="button.url">
        <span class="material-icons-outlined" style="color: white !important"
          >add</span
        >
        {{ button.text }}
      </button>

      <button
        class="primary-button back-orange white mx-1 d-flex align-items-center"
        [disabled]="!isPaid"
        *ngIf="button && !button.url"
        [matTooltip]="
          !isPaid
            ? ('SHARED.PAGES_LAYOUT.TOOLTIP_PAYMENT_PENDING' | translate)
            : ''
        "
        (click)="btnClick.emit()">
        <span
          class="material-icons-outlined"
          style="color: white !important"
          *ngIf="button.icon"
          >{{ button.icon }}</span
        >
        {{ button.text }}
      </button>
    </div>
  </div>
</div>

<div class="m-3 m-md-4" style="min-height: calc(100vh - 190px)">
  <div *ngIf="!isPaid" class="not-paid-info py-1 px-3 mb-3">
    <span *ngIf="isOwner">
      {{ 'SHARED.PAGES_LAYOUT.PAYMENT_PENDING_OWNER_PREFIX' | translate }}
      <span class="payment-button" (click)="goToPaymentIntent()">
        {{ 'SHARED.PAGES_LAYOUT.PAYMENT_PENDING_OWNER_LINK' | translate }}
      </span>
      {{ 'SHARED.PAGES_LAYOUT.PAYMENT_PENDING_OWNER_SUFFIX' | translate }}
    </span>
    <span *ngIf="!isOwner">
      {{ 'SHARED.PAGES_LAYOUT.PAYMENT_PENDING_NON_OWNER' | translate }}
    </span>
  </div>
  <p-card>
    <ng-content select="[content]"></ng-content>
  </p-card>
</div>

<app-floating-actions
  [surveyUrl]="surveyUrl"
  [canShowNumberBroker]="canShowNumberBroker"
  [contactNumberBroker]="contactNumberBroker"
  [isInsured]="isInsured">
</app-floating-actions>
