@import 'theme';

:host ::ng-deep {
  .p-breadcrumb {
    background: none;
    border: none;
    border-radius: 0px;
  }

  .back-blue {
    background-color: $dark-blue-100;
  }

  .p-breadcrumb ul li .p-menuitem-link .p-menuitem-text {
    color: $gray-400;
    font-size: 14px;
    font-weight: 600;
  }

  .p-breadcrumb ul li.p-breadcrumb-chevron {
    margin: 0 1rem;
    padding-top: 0.5rem !important;
  }

  .p-breadcrumb ul li:last-child .p-menuitem-text {
    color: $dark-blue-100;
  }

  .p-icon-wrapper {
    display: inline-flex;

    .p-icon {
      color: $gray-400;
      width: 0.9rem;
      height: 0.9rem;
    }
  }

  .p-card-body {
    padding: 0.5rem;
    min-height: 80vh;
  }

  .p-card-content {
    padding: 1.5rem;
  }

  .material-icons-outlined {
    color: #023859;
    font-weight: 100;
  }

  .rotate {
    transform: rotate(45deg);
  }

  .info-button {
    min-width: auto;
    padding: 8px !important;
    border-radius: 100%;
    justify-content: center;
  }

  .btn-header {
    height: 2.6rem;
    border-radius: 1.4rem;
    padding: 0.5rem 1.2rem;
    background: #de7731;
    font-size: 1rem;
    gap: 7px;
    font-weight: 700;
    text-align: left;
    color: $white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .header-section {
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    background: $white;

    .justify-content {
      justify-content: end;
    }
  }

  .p-card .p-card-body {
    border-radius: 10px;
    background: $white;
  }

  @media only screen and (max-width: 768px) {
    .header-section {
      .justify-content {
        justify-content: flex-start;
        border-top: 1px solid #d9d9d9;
      }
    }

    .p-card-content {
      padding: 0.75rem 0.5rem !important;
    }
  }

  .not-paid-info {
    background-color: lighten($red-color, 30%);
    border: 2px $red-color solid;
    border-radius: 0.4rem;
    text-align: justify;
  }

  .alert-login-google {
    background-color: $light-blue-100;
    border: 2px $light-blue-400 solid;
    border-radius: 0.4rem;
    text-align: justify;
  }

  .payment-button {
    cursor: pointer !important;
    font-weight: 600;
    &:hover {
      opacity: 80%;
    }
  }
}
