<div
  [formGroup]="form"
  *ngIf="dataUser"
  class="bg-gray-200 px-3 px-lg-4 py-4 py-lg-5">
  <div class="row">
    <!-- Left  -->
    <div
      class="col-lg-3 col-md-12 d-flex align-items-center justify-content-center flex-column mb-4 mb-lg-0">
      <div class="d-flex align-items-center justify-content-center flex-column">
        <app-picture-selector
          [icon]="
            dataUser.photo_url
              ? dataUser.photo_url
              : '/assets/images/portal/image_default.webp'
          "
          (imgChange)="
            addImage($event, 'profile_image')
          "></app-picture-selector>
        <div class="text-center mt-3">
          <p class="text-full-name mb-2 profile__name">
            {{ dataUser.first_name }} {{ dataUser.last_name }}
          </p>
          <p class="text-muted mb-1">
            <label>Email:</label>
            {{ dataUser.email }}
          </p>
          <p class="text-muted mb-1">
            <label>Member of the agency:</label>
            {{ dataUser.agency.name }}
          </p>
          <p class="text-muted">
            <label>Created on:</label>
            {{ dataUser.createdAt | date : 'MM/dd/yyyy' }}
          </p>
        </div>
      </div>

      <button
        class="primary-button big-button back-light-blue-400 white mx-1 mt-2"
        (click)="openModal()">
        Change password
      </button>
    </div>

    <!-- Right  -->
    <div class="col-lg-8 ms-lg-5 col-md-12 pe-0 pe-lg-3">
      <h4 class="mt-4 mb-4 mb-md-5 profile__subtitle text-center">
        Personal Information
      </h4>

      <div class="row">
        <div class="col-lg-6">
          <!-- Personal Information -->
          <div class="col-12 mb-4 mb-md-0">
            <label>Phone number</label>
            <app-input
              placeholder="(XXX) XXX-XXXX"
              type="tel"
              [inputMask]="'(000) 000-0000'"
              formControlName="phone_number"></app-input>
          </div>

          <div class="col-12 mb-4 mb-md-0">
            <label>Address</label>
            <app-address-input
              placeholder="Enter address"
              formControlName="address"></app-address-input>
          </div>

          <div class="col-12 mb-4 mb-md-0">
            <label>Additional Address</label>
            <app-input
              placeholder="Address additional information"
              type="text"
              formControlName="additional_address"></app-input>
          </div>

          <div class="col-12 mb-4 mb-md-0">
            <label>License Number</label>
            <app-input
              placeholder="Address additional information"
              type="text"
              formControlName="license_number"></app-input>
          </div>
        </div>

        <!-- Second Column -->
        <div class="col-lg-6">
          <div class="col-12 mb-4 mb-md-0">
            <label>Extension</label>
            <app-input
              placeholder="XXXX"
              type="tel"
              [inputMask]="'9999'"
              formControlName="phone_extension"></app-input>
          </div>

          <div class="col-12 mb-4 mb-md-0">
            <label>Zip Code</label>
            <app-input
              placeholder="XXXXX"
              type="tel"
              [inputMask]="'99999'"
              formControlName="zipcode" />
          </div>

          <div class="col-12 mb-4 mb-md-0">
            <label>Gender*</label>
            <app-dropdown-field
              [placeholder]="'Select a gender'"
              formControlName="gender"
              [options]="dropDownGender"></app-dropdown-field>
          </div>

          <div class="col-12 mb-4 mb-md-0">
            <label>Expiry Date</label>
            <app-date-field
              [placeholder]="'Select a date'"
              formControlName="license_expires_at"
              [min]="today"></app-date-field>
          </div>
        </div>

        <h4 class="mt-4 mb-4 mb-md-5 profile__subtitle text-center">
          Notifications Settings
        </h4>

        <div class="col-12 col-md-6 mb-4 mb-md-0">
          <mat-checkbox
            formControlName="allow_email_notifications"
            color="primary"
            class="custom-checkbox"
            >I accept to receive email notification</mat-checkbox
          >
        </div>

        <ng-container *ngIf="dataUser.role !== 'INSURED'">
          <div class="col-12 col-md-6 mb-4 mb-md-0">
            <mat-checkbox
              formControlName="allow_show_whatsapp_number"
              color="primary"
              class="custom-checkbox"
              >I would like to share my WhatsApp number with my
              accounts</mat-checkbox
            >
          </div>

          <div class="col-12 col-md-6 mb-4 mb-md-0">
            <mat-checkbox
              formControlName="allow_expiring_policies_notifications"
              color="primary"
              class="custom-checkbox"
              >I would like to receive notifications for upcoming policy
              expirations and filter policies nearing their expiration
              date</mat-checkbox
            >

            <div
              class="col-12 mt-3"
              *ngIf="form.get('allow_expiring_policies_notifications')?.value">
              <label>Days</label>
              <app-input
                placeholder="0"
                type="tel"
                [inputMask]="'99'"
                formControlName="days_expiring_policies_notifications" />
            </div>
          </div>

          <h4
            class="mt-4 mb-4 mb-md-5 profile__subtitle text-center"
            *ngIf="googleConnection">
            Connected Accounts
          </h4>

          <div class="col-12" *ngIf="googleConnection">
            <div class="p-3 p-md-4 bg-white rounded shadow-sm">
              <div
                class="d-flex align-items-center justify-content-between flex-wrap gap-2">
                <div class="d-flex align-items-center gap-3">
                  <img
                    src="assets/images/google-logo.png"
                    alt="Google"
                    width="28"
                    height="28" />

                  <div>
                    <div class="fw-semibold">Google</div>
                    <div class="text-muted small">
                      Connected as
                      <strong>{{ googleConnection.email }}</strong>
                    </div>
                  </div>
                </div>

                <button
                  class="primary-button back-light-blue-400 white mx-1 mt-2"
                  (click)="disconnectGoogle()">
                  Disconnect
                </button>
              </div>

              <div class="text-muted small mt-2">
                Disconnecting will disable Calendar sync and Gmail sending.
              </div>
            </div>
          </div>
        </ng-container>

        <div
          class="d-flex justify-content-center align-items-center mt-3 mt-md-5">
          <button
            class="primary-button big-button back-light-blue-400 white mx-1"
            [disabled]="isEditing && form.invalid"
            (click)="handleEditSave()">
            {{ isEditing ? 'Save' : 'Edit' }} Profile
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
