@import 'theme';

:host ::ng-deep {
  label {
    font-family: $font-family;
    font-weight: 500;
    font-size: 1rem;
    color: $black;
    margin-bottom: 0.5rem;
  }

  .p-inputtext {
    width: 100%;
    max-width: 200px;
  }

  .force-enabled {
    opacity: 1 !important;
    pointer-events: auto !important;
    filter: none !important;
    cursor: pointer !important;
  }

  .profile {
    &__image {
      border: 4px solid white;
      box-shadow: 5px 5px 15px rgb(0 0 0 / 30%);
    }

    &__name {
      font-weight: bold;
      font-size: 1.5rem;
    }

    &__button {
      margin-top: 1.5rem;
      border-radius: 1.5rem;
      font-size: 0.9rem;
    }

    &__subtitle {
      color: $dark-blue-400;
      font-weight: 600;
    }
  }

  .img-size {
    width: 150px;
    height: 150px;
  }

  .mdc-label {
    margin-bottom: 0 !important;
  }

  .custom-checkbox.mat-mdc-checkbox .mdc-checkbox__background {
    border-color: $light-blue-400 !important;
  }

  .custom-checkbox.mat-mdc-checkbox.mat-mdc-checkbox-checked
    .mdc-checkbox__background {
    background-color: $light-blue-400 !important;
    border-color: $light-blue-400 !important;
  }
}
