<div
  [formGroup]="form"
  *ngIf="dataUser"
  class="bg-gray-200 px-3 px-lg-4 py-4 py-lg-5">
  <div class="row">
    <!-- Left  -->
    <div
      class="col-lg-3 col-md-12 d-flex align-items-center justify-content-center flex-column mb-4 mb-lg-0">
      <div class="d-flex align-items-center justify-content-center flex-column">
        <app-picture-selector
          [icon]="imageProfile"
          (imgChange)="
            addImage($event, 'profile_image')
          "></app-picture-selector>
        <div class="text-center mt-3">
          <p class="text-full-name mb-2 profile__name">
            {{ dataUser.first_name }} {{ dataUser.last_name }}
          </p>
          <p class="text-muted mb-1">
            <label>{{ 'PORTAL.PROFILE_FORM.LABEL_EMAIL' | translate }}</label>
            {{ dataUser.email }}
          </p>
          <p class="text-muted mb-1">
            <label>{{ 'PORTAL.PROFILE_FORM.LABEL_AGENCY' | translate }}</label>
            {{ dataUser.agency.name }}
          </p>
          <p class="text-muted">
            <label>{{ 'PORTAL.PROFILE_FORM.LABEL_CREATED_ON' | translate }}</label>
            {{ dataUser.createdAt | date : 'MM/dd/yyyy' }}
          </p>
        </div>
      </div>

      <button
        class="primary-button big-button back-light-blue-400 white mx-1 mt-2"
        (click)="openModal()">
        {{ 'PORTAL.PROFILE_FORM.BTN_CHANGE_PASSWORD' | translate }}
      </button>
    </div>

    <!-- Right  -->
    <div class="col-lg-8 ms-lg-5 col-md-12 pe-0 pe-lg-3">
      <h4 class="mt-4 mb-4 mb-md-5 profile__subtitle text-center">
        {{ 'PORTAL.PROFILE_FORM.SECTION_PERSONAL_INFO' | translate }}
      </h4>

      <div class="row">
        <div class="col-lg-6">
          <!-- Personal Information -->
          <div class="col-12 mb-4 mb-md-0">
            <label>{{ 'PORTAL.PROFILE_FORM.FIELD_PHONE' | translate }}</label>
            <app-input
              placeholder="(XXX) XXX-XXXX"
              type="tel"
              [inputMask]="'(000) 000-0000'"
              formControlName="phone_number"></app-input>
          </div>

          <div class="col-12 mb-4 mb-md-0">
            <label>{{ 'PORTAL.PROFILE_FORM.FIELD_ADDRESS' | translate }}</label>
            <app-address-input
              [placeholder]="'PORTAL.PROFILE_FORM.PLACEHOLDER_ADDRESS' | translate"
              formControlName="address"></app-address-input>
          </div>

          <div class="col-12 mb-4 mb-md-0">
            <label>{{ 'PORTAL.PROFILE_FORM.FIELD_ADDITIONAL_ADDRESS' | translate }}</label>
            <app-input
              [placeholder]="'PORTAL.PROFILE_FORM.PLACEHOLDER_ADDITIONAL_ADDRESS' | translate"
              type="text"
              formControlName="additional_address"></app-input>
          </div>

          <div class="col-12 mb-4 mb-md-0">
            <label>{{ 'PORTAL.PROFILE_FORM.FIELD_LICENSE_NUMBER' | translate }}</label>
            <app-input
              [placeholder]="'PORTAL.PROFILE_FORM.PLACEHOLDER_LICENSE_NUMBER' | translate"
              type="text"
              formControlName="license_number"></app-input>
          </div>
        </div>

        <!-- Second Column -->
        <div class="col-lg-6">
          <div class="col-12 mb-4 mb-md-0">
            <label>{{ 'PORTAL.PROFILE_FORM.FIELD_EXTENSION' | translate }}</label>
            <app-input
              placeholder="XXXX"
              type="tel"
              [inputMask]="'9999'"
              formControlName="phone_extension"></app-input>
          </div>

          <div class="col-12 mb-4 mb-md-0">
            <label>{{ 'PORTAL.PROFILE_FORM.FIELD_ZIPCODE' | translate }}</label>
            <app-input
              placeholder="XXXXX"
              type="tel"
              [inputMask]="'99999'"
              formControlName="zipcode" />
          </div>

          <div class="col-12 mb-4 mb-md-0">
            <label>{{ 'PORTAL.PROFILE_FORM.FIELD_GENDER' | translate }}</label>
            <app-dropdown-field
              [placeholder]="'PORTAL.PROFILE_FORM.PLACEHOLDER_GENDER' | translate"
              formControlName="gender"
              [options]="dropDownGender"></app-dropdown-field>
          </div>

          <div class="col-12 mb-4 mb-md-0">
            <label>{{ 'PORTAL.PROFILE_FORM.FIELD_EXPIRY_DATE' | translate }}</label>
            <app-date-field
              [placeholder]="'PORTAL.PROFILE_FORM.PLACEHOLDER_DATE' | translate"
              formControlName="license_expires_at"
              [min]="today"></app-date-field>
          </div>
        </div>

        <h4 class="mt-4 mb-4 mb-md-5 profile__subtitle text-center">
          {{ 'PORTAL.PROFILE_FORM.SECTION_NOTIFICATIONS' | translate }}
        </h4>

        <div class="col-12 col-md-6 mb-4 mb-md-0">
          <mat-checkbox
            formControlName="allow_email_notifications"
            color="primary"
            class="custom-checkbox"
            >{{ 'PORTAL.PROFILE_FORM.CHECK_EMAIL_NOTIFICATIONS' | translate }}</mat-checkbox
          >
        </div>

        <ng-container *ngIf="dataUser.role !== 'INSURED'">
          <div class="col-12 col-md-6 mb-4 mb-md-0">
            <mat-checkbox
              formControlName="allow_show_whatsapp_number"
              color="primary"
              class="custom-checkbox"
              >{{ 'PORTAL.PROFILE_FORM.CHECK_WHATSAPP_SHARE' | translate }}</mat-checkbox
            >
          </div>

          <div class="col-12 col-md-6 mb-4 mb-md-0">
            <mat-checkbox
              formControlName="allow_expiring_policies_notifications"
              color="primary"
              class="custom-checkbox"
              >{{ 'PORTAL.PROFILE_FORM.CHECK_EXPIRING_POLICIES' | translate }}</mat-checkbox
            >

            <div
              class="col-12 mt-3"
              *ngIf="form.get('allow_expiring_policies_notifications')?.value">
              <label>{{ 'PORTAL.PROFILE_FORM.FIELD_DAYS' | translate }}</label>
              <app-input
                placeholder="0"
                type="tel"
                [inputMask]="'99'"
                formControlName="days_expiring_policies_notifications" />
            </div>
          </div>
        </ng-container>

        <h4 class="mt-4 mb-4 mb-md-5 profile__subtitle text-center">
          {{ 'PORTAL.PROFILE_FORM.SECTION_CONNECTED_ACCOUNTS' | translate }}
        </h4>

        <div class="col-12">
          <div class="p-3 p-md-4 bg-white rounded shadow-sm">
            <div
              *ngIf="googleConnection"
              class="d-flex align-items-center justify-content-between flex-wrap gap-2">
              <div class="d-flex align-items-center gap-3">
                <img
                  src="assets/images/google-logo.png"
                  alt="Google"
                  width="28"
                  height="28" />
                <div>
                  <div class="fw-semibold">Google</div>
                  <div class="text-muted small">
                    {{ 'PORTAL.PROFILE_FORM.CONNECTED_AS' | translate }} <strong>{{ googleConnection.email }}</strong>
                  </div>
                </div>
              </div>
              <button
                class="primary-button back-light-blue-400 white mx-1 mt-2"
                (click)="disconnectGoogle()">
                {{ 'PORTAL.PROFILE_FORM.BTN_DISCONNECT' | translate }}
              </button>
            </div>

            <div
              *ngIf="!googleConnection"
              class="d-flex align-items-center justify-content-between flex-wrap gap-2">
              <div class="d-flex align-items-center gap-3">
                <img
                  src="assets/images/google-logo.png"
                  alt="Google"
                  width="28"
                  height="28" />
                <div>
                  <div class="fw-semibold">Google</div>
                  <div class="text-muted small">{{ 'PORTAL.PROFILE_FORM.NOT_CONNECTED' | translate }}</div>
                </div>
              </div>
              <button
                class="primary-button back-light-blue-400 white mx-1 mt-2"
                (click)="connectGoogle()">
                {{ 'PORTAL.PROFILE_FORM.BTN_CONNECT' | translate }}
              </button>
            </div>

            <div class="text-muted small mt-2" *ngIf="googleConnection">
              {{ 'PORTAL.PROFILE_FORM.DISCONNECT_WARNING' | translate }}
            </div>
            <div class="text-muted small mt-2" *ngIf="!googleConnection">
              {{ 'PORTAL.PROFILE_FORM.CONNECT_HINT' | translate }}
            </div>
          </div>
        </div>

        <div
          class="d-flex justify-content-center align-items-center mt-3 mt-md-5">
          <button
            class="primary-button big-button back-light-blue-400 white mx-1"
            [disabled]="isEditing && form.invalid"
            (click)="handleEditSave()">
            {{ (isEditing ? 'PORTAL.PROFILE_FORM.BTN_SAVE_PROFILE' : 'PORTAL.PROFILE_FORM.BTN_EDIT_PROFILE') | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
