<div class="portal-language-selector" (click)="languageOverlay.toggle($event)">
  <div
    class="selector-flag-content d-flex align-items-center justify-content-center">
    <img
      class="selector-flag text-selection-disable"
      [src]="'/assets/icons/' + currentLang + '.svg'" />
  </div>
</div>
<p-overlayPanel #languageOverlay>
  <div class="language-overlay">
    <div class="overlay-header mb-3 pb-3 fw-bold">Select Language</div>
    <div class="languages-grid row">
      <div class="col-4" *ngFor="let item of availableLangs">
        <div
          class="language-option text-selection-disable p-2 d-flex align-items-center mb-2"
          [ngClass]="{ 'language-active': item === currentLang }"
          (click)="changeLang($event, item); languageOverlay.toggle($event)">
          <img
            class="selector-flag me-2"
            [src]="'/assets/icons/' + item + '.svg'" />
          <span>{{ 'GENERAL.' + (item | uppercase) | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</p-overlayPanel>
