@import 'theme';
.portal-language-selector{
  position: relative;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border-radius: 100%;
  cursor: pointer;
  &:hover{
    background: #eaebef;
  }
  .selector-flag-content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.selector-flag{
  width: 1.5rem !important;
  height: 1rem !important;
  border-radius: 4px;
}

.language-overlay{
  width: 400px;
  min-width: 90%;
  font-family: $font-family;
  .overlay-header{
    border-bottom: 1px solid #eaebef;
  }
  .language-option{
    border: #eaebef 1px dashed;
    border-radius: 8px;
    cursor: pointer;
    &:hover{
      background: #eaebef;
    }
  }
  .language-active{
    background: #eaebef;
  }
}


