<div class="home">
  <section
    class="home-section-1 p-5 d-flex align-items-center justify-content-center">
    <div
      class="home-section-1-main white d-flex flex-column-reverse flex-lg-row align-items-center justify-content-center pt-lg-5">
      <article class="col-12 col-lg-6 p-3 p-lg-5">
        <h1 class="title-1 mb-3">{{ 'GENERAL.MASTERBOOK' | translate }}</h1>
        <h3 class="title-5 mb-5">
          {{ 'HOME_CLIENT.FOR_CLIENTS' | translate }}
        </h3>
        <p class="text-1 mb-3 pe-0 pe-lg-5 text-italic-home">
          {{ 'HOME_CLIENT.SECTION_1.TEXT_1' | translate }}
        </p>
        <p class="text-2 mb-3 pe-0 pe-lg-5">
          {{ 'HOME_CLIENT.SECTION_1.TEXT_2' | translate }}
        </p>
        <p class="text-2 mb-3 pe-0 pe-lg-5">
          {{ 'HOME_CLIENT.SECTION_1.TEXT_3' | translate }}
        </p>
      </article>
      <div class="col-12 col-lg-6 px-3 px-lg-0 mt-5 mt-lg-0">
        <img
          class="w-100"
          src="assets/images/home-client/background_pc.png"
          alt="" />
      </div>
    </div>
  </section>

  <section class="home-section-2 gray-500 back-white p-5">
    <div
      class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
      <div class="col-12 col-lg-6 px-md-5">
        <p class="title-3 mb-3 mb-lg-">
          <span class="dark-blue-400">{{
            'HOME_CLIENT.SECTION_2.TEXT_1' | translate
          }}</span>
          {{ 'HOME_CLIENT.SECTION_2.TEXT_2' | translate }}
        </p>
        <div class="section-2-feature mb-2">
          <p class="subtext-1 bold dark-blue-700">
            {{ 'HOME_CLIENT.SECTION_2.FEATURE_1_TITLE' | translate }}
          </p>
          <p class="subtext-2">
            {{ 'HOME_CLIENT.SECTION_2.FEATURE_1_TEXT_1' | translate }}
          </p>
          <p class="subtext-2">
            {{ 'HOME_CLIENT.SECTION_2.FEATURE_1_TEXT_2' | translate }}
          </p>
          <p class="subtext-2">
            {{ 'HOME_CLIENT.SECTION_2.FEATURE_1_TEXT_3' | translate }}
          </p>
        </div>

        <div class="section-2-feature mb-2">
          <p class="subtext-1 bold dark-blue-700">
            {{ 'HOME_CLIENT.SECTION_2.FEATURE_2_TITLE' | translate }}
          </p>
          <p class="subtext-2">
            {{ 'HOME_CLIENT.SECTION_2.FEATURE_2_TEXT_1' | translate }}
          </p>
          <p class="subtext-2">
            {{ 'HOME_CLIENT.SECTION_2.FEATURE_2_TEXT_2' | translate }}
          </p>
        </div>

        <div class="section-2-feature mb-2">
          <p class="subtext-1 bold dark-blue-700">
            {{ 'HOME_CLIENT.SECTION_2.FEATURE_3_TITLE' | translate }}
          </p>
          <p class="subtext-2">
            {{ 'HOME_CLIENT.SECTION_2.FEATURE_3_TEXT_1' | translate }}
          </p>
          <p class="subtext-2">
            {{ 'HOME_CLIENT.SECTION_2.FEATURE_3_TEXT_2' | translate }}
          </p>
        </div>

        <div class="section-2-feature mb-2">
          <p class="subtext-1 bold dark-blue-700">
            {{ 'HOME_CLIENT.SECTION_2.FEATURE_4_TITLE' | translate }}
          </p>
          <p class="subtext-2">
            {{ 'HOME_CLIENT.SECTION_2.FEATURE_4_TEXT_1' | translate }}
          </p>
          <p class="subtext-2">
            {{ 'HOME_CLIENT.SECTION_2.FEATURE_4_TEXT_2' | translate }}
          </p>
          <p class="subtext-2">
            {{ 'HOME_CLIENT.SECTION_2.FEATURE_4_TEXT_3' | translate }}
          </p>
        </div>
      </div>

      <div
        class="col-12 col-lg-6 d-flex flex-column align-items-center justify-content-center p-0 p-lg-5">
        <img
          class="w-75 order-2 order-md-1 mb-0 mb-md-4 mt-md-0 mt-3"
          src="assets/images/home-client/image_access_account.png"
          alt="sit person" />

        <div class="section-2-feature mb-2 order-1 order-md-2">
          <p class="subtext-1 bold dark-blue-700">
            {{ 'HOME_CLIENT.SECTION_2.FEATURE_5_TITLE' | translate }}
          </p>
          <p class="subtext-2">
            {{ 'HOME_CLIENT.SECTION_2.FEATURE_5_TEXT_1' | translate }}
          </p>
          <p class="subtext-2">
            {{ 'HOME_CLIENT.SECTION_2.FEATURE_5_TEXT_2' | translate }}
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="home-section-3 white position-relative">
    <div
      class="position-absolute w-100 d-none d-lg-flex justify-content-between">
      <img
        src="assets/images/home-client/background_circuits_blue.png"
        alt="" />
      <img
        src="assets/images/home-client/background_circuits_gray.png"
        alt="" />
    </div>

    <div class="position-relative p-5" style="z-index: 100">
      <div
        class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
        <div
          class="mt-5 d-flex flex-column flex-lg-row justify-content-center align-items-stretch p-0 p-lg-5 gap-5">
          <div class="col-12 col-lg-6">
            <div class="features-card back-white gray-500 p-3 py-4 p-lg-5">
              <h3 class="title-4 dark-blue-500 text-centered my-4">
                <p class="subtitle-2">
                  {{ 'HOME_CLIENT.SECTION_3.WHY_MASTERBOOK' | translate }}
                </p>
                {{ 'HOME_CLIENT.SECTION_3.AS_INSURANCE_PORTAL' | translate }}
              </h3>
              <p
                class="text-2 dark-blue-700"
                [innerHTML]="'HOME_CLIENT.SECTION_3.FEATURE_1' | translate"></p>
              <p
                class="text-2 dark-blue-700"
                [innerHTML]="'HOME_CLIENT.SECTION_3.FEATURE_2' | translate"></p>
              <p
                class="text-2 dark-blue-700"
                [innerHTML]="'HOME_CLIENT.SECTION_3.FEATURE_3' | translate"></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="p-5">
      <div
        class="d-flex flex-column flex-lg-row align-items-center justify-content-center px-5">
        <div
          class="col-12 col-lg-7 col-lg-6 d-flex align-items-center justify-content-center p-0 p-lg-5 mb-5">
          <img
            class="w-100"
            src="assets/images/home-client/image_accessible.png"
            alt="image" />
        </div>
        <div class="col-12 col-lg-6 mb-5">
          <h3 class="title-3">
            <span class="light-blue-300"
              >{{ 'GENERAL.MASTERBOOK' | translate }}
            </span>
            {{ 'HOME.SECTION_3.TEXT_5' | translate }}
          </h3>
          <ul class="text-2" style="list-style: inside">
            <li>Google Chrome</li>
            <li>Safari</li>
            <li>Firefox</li>
            <li>Microsoft Edge</li>
          </ul>
          <h3
            class="title-3 mt-5 mb-3"
            [innerHTML]="'HOME.SECTION_3.TEXT_6' | translate"></h3>
          <p
            class="text-2"
            [innerHTML]="'HOME.SECTION_3.TEXT_7' | translate"></p>
          <p
            class="text-2 mt-3"
            [innerHTML]="'HOME.SECTION_3.TEXT_8' | translate"></p>
        </div>
      </div>
    </div>
  </section>

  <section class="home-section-5 p-5 dark-blue-400">
    <h2 class="title-2 text-centered mb-3">
      {{ 'GENERAL.MASTERBOOK' | translate }}
    </h2>
    <p class="text-2 text-centered gray-500">
      {{ 'HOME.SECTION_4.TEXT_1' | translate }}
    </p>
    <div
      class="home-features-container d-flex align-items-center justify-content-center my-4 my-lg-5">
      <ng-container *ngFor="let feature of features">
        <div class="home-feature d-flex flex-column align-items-center m-3">
          <div
            class="home-feature-image d-flex align-items-center justify-content-center">
            <img [src]="feature.img" />
          </div>
        </div>
      </ng-container>
    </div>
    <div class="flex-centered">
      <div class="home-section-5-badge text-2 p-3 text-center">
        {{ 'HOME.SECTION_4.TEXT_2' | translate }}
      </div>
    </div>

    <h2 class="title-2 text-centered mt-5">
      {{ 'HOME_CLIENT.SECTION_4.TEXT_1' | translate }}
    </h2>
    <h3 class="title-2 text-centered gray-500 mb-5">
      {{ 'HOME_CLIENT.SECTION_4.TEXT_2' | translate }}
    </h3>
    <div
      class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
      <div
        class="col-12 col-lg-6 d-flex align-items-center justify-content-center p-0 p-lg-5 mb-4 mb-lg-0">
        <img
          class="w-75"
          src="/assets/images/home-client/virtual_service.png"
          alt="call center" />
      </div>
      <div class="col-12 col-lg-6">
        <p class="text-1">
          {{ 'HOME_CLIENT.SECTION_4.TEXT_3' | translate }}
        </p>
        <p class="text-1 mb-3">
          {{ 'HOME_CLIENT.SECTION_4.TEXT_4' | translate }}
        </p>
        <ul class="text-1" style="list-style: inside">
          <li>{{ 'HOME_CLIENT.SECTION_4.FEATURE_1' | translate }}</li>
          <li>{{ 'HOME_CLIENT.SECTION_4.FEATURE_2' | translate }}</li>
          <li>{{ 'HOME_CLIENT.SECTION_4.FEATURE_3' | translate }}</li>
        </ul>
        <div class="flex-centered">
          <button class="primary-button back-orange white mx-2">
            {{ 'HOME.SECTION_4.REQUEST_QUOTE' | translate }}
          </button>
        </div>
      </div>
    </div>

    <h2 class="title-3 text-centered my-5">
      {{ 'HOME.SECTION_4.TEXT_6' | translate }}
    </h2>
    <div
      class="d-flex flex-column-reverse flex-lg-row align-items-center justify-content-center">
      <div class="col-12 col-lg-6 ps-0 ps-lg-5 mb-5">
        <h4 class="subtitle-1 mb-4">
          {{ 'HOME.SECTION_4.TEXT_7' | translate }}
        </h4>
        <ul class="text-2 mb-5">
          <li>{{ 'HOME.SECTION_4.CALLS' | translate }}</li>
          <li>{{ 'HOME.SECTION_4.EMAILS' | translate }}</li>
          <li>{{ 'HOME.SECTION_4.VISITS' | translate }}</li>
          <li>{{ 'HOME.SECTION_4.TASKS' | translate }}</li>
        </ul>

        <h4 class="subtitle-1 mb-4">
          {{ 'HOME.SECTION_4.TEXT_8' | translate }}
        </h4>
        <ul class="text-2 mb-4">
          <li>9 {{ 'HOME.SECTION_4.CLIENTS' | translate }}</li>
          <li>8 {{ 'HOME.SECTION_4.INSUREDS' | translate }}</li>
          <li>9 {{ 'HOME.SECTION_4.POLICIES' | translate }}</li>
          <li>4 {{ 'HOME.SECTION_4.CLAIMS' | translate }}</li>
          <li>4 {{ 'HOME.SECTION_4.QUOTATIONS' | translate }}</li>
          <li>6 {{ 'HOME.SECTION_4.SALES' | translate }}</li>
          <li>7 {{ 'HOME.SECTION_4.COMMISSIONS' | translate }}</li>
          <li>3 {{ 'HOME.SECTION_4.WITHHOLDINGS' | translate }}</li>
        </ul>
      </div>
      <div
        class="col-12 col-lg-6 d-flex align-items-center justify-content-center p-0 p-lg-5 mb-5">
        <img
          class="w-75"
          src="/assets/images/home-client/communications_and_reports.png"
          alt="call center" />
      </div>
    </div>
  </section>
</div>
