<div class="px-0 px-md-3 pb-0 pb-md-3 pt-3 pt-md-2" style="height: 100%">
  <div
    class="d-flex align-items-center justify-content-center gap-2 gap-md-3"
    style="margin-top: -5px">
    <img
      class="img-notification"
      src="/assets/icons/check.svg"
      alt="icon check" />
    <p class="title-notification mt-3 mt-md-2">
      {{ 'MODAL-PASSWORD-CHANGE.TEXT_1' | translate }}
      <span style="color: #049dd9 !important">
        {{ 'MODAL-PASSWORD-CHANGE.TEXT_2' | translate }}
      </span>
    </p>
  </div>
</div>
