@import 'theme';

:host ::ng-deep {
  [class~='p-dialog-content'] {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -5px;
  }

  [class~='p-dialog-header-icons'] {
    display: none !important;
  }
}

.img-notification {
  width: 5rem;
  height: 5rem;
}

.title-notification {
  font-family: $font-family;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 2.2rem;
  text-align: left;
  color: $gray-500;
}

@media only screen and (max-width: 767px) {
    .title-notification {
        font-size: 1.9rem;
    }

    .img-notification {
        width: 4rem;
        height: 4rem;
    }
}
