.portal-layout{
  width: 100vw;
  height: 100vh;
  .header-section{
    height: 5rem;
    width: 100%;
  }
  .body-section{
    height: calc(100% - 5rem);
    width: 100%;
    .menu-section{
      width: 17.5rem;
      height: 100%;
      transition: all .3s ease;
      .menu{
        width: 100%;
        height: 100%;
        position: relative;
        background: white;
        transition: all .2s ease;
      }
    }
    .close-menu-section{
      width: 6.8rem;
      position: relative;
      &:hover{
        .menu{
          left: 0;
          width: 17.5rem;
          position: absolute;
        }
      }
    }
    .content-section{
      width: calc(100% - 17.5rem);
      height: 100%;
      transition: all .3s ease;
    }
    .close-menu-content-section{
      width: calc(100% - 6.8rem);
    }
  }
}
