<div class="portal-layout">
  <div class="header-section">
    <app-portal-navbar (toggleMenu)="openMenu = $event"></app-portal-navbar>
  </div>
  <div class="body-section d-flex">
    <div class="menu-section" [ngClass]="{ 'close-menu-section': !openMenu }">
      <div class="menu">
        <app-portal-menu [openMenu]="openMenu"></app-portal-menu>
      </div>
    </div>
    <div
      class="content-section"
      [ngClass]="{ 'close-menu-content-section': !openMenu }">
      <ng-content select="[content]"></ng-content>
    </div>
  </div>
</div>
