@import 'theme';


.anon-navbar-register{
  justify-content: end;
  @media only screen and (max-width: 1199px) {
    justify-content: space-between;
  }
}

.anon-navbar {
  width: 100%;
  padding: 1.2rem 4.375rem;
  background: $dark-blue-400;
  position: absolute;
  z-index: 1000;
  .anon-navbar-logo {
    img {
      height: 4.2rem;
    }
  }
  .anon-navbar-menu {
    display: flex;
  }
  .anon-navbar-mobile-toggle {
    display: none;
  }

  .inactive-button{
    background: transparent;
    border: 2px solid $light-blue-200;
    color: $light-blue-200;
    font-weight: 300;
  }
}

@media only screen and (max-width: 1199px) {
  .anon-navbar {
    padding: 0.7rem 1rem;
    .anon-navbar-menu {
      display: none;
      position: absolute;
      top: 4.7rem;
      right: 0.3rem;
      padding: 1.85rem;
      background: #02385980;
      backdrop-filter: blur(8px);
      border-radius: 1.5rem;
      z-index: 1000;
    }
    .anon-navbar-mobile-toggle {
      display: block;
    }
    .anon-navbar-menu-show {
      display: flex;
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 767px) {
  .anon-navbar {
    .anon-navbar-menu {
      padding: 2rem 0rem;
    }
  }
}
