@import 'theme';

.textarea-component{
  margin: 40px;
  position: relative;
  width: 100%;
  height: 237px;
  border: 1px solid #13131340;
  background: #A7D5F230;
  border-radius: 3px;
  .placeholder{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: start;
    padding: 0 22px;
    background: transparent !important;
    color: $gray-300;
    margin-top: 0.95rem;
  }
  textarea {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    background: transparent;
    padding: 0.8rem 1.5rem;
    &:focus{
      outline: none;
    }
  }
}
