@import 'theme';

.textarea-component{
  margin: 40px;
  position: relative;
  width: 100%;
  height: 237px;
  border: 2px solid #969696;
  background: rgba(167, 213, 242, 0.14);
  border-radius: 16px;
  .placeholder{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: start;
    padding: 20px;
    font-size: 24px;
    color: $gray-1;
  }
  textarea {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    background: transparent;
    padding: 20px;
    font-size: 24px;
    &:focus{
      outline: none;
    }
  }
}
