<div class="table-responsive" *ngIf="data">
  <table mat-table [dataSource]="data" style="width: auto; overflow-x: scroll">
    <ng-container matColumnDef="serial">
      <th mat-header-cell *matHeaderCellDef>Serial</th>
      <td mat-cell *matCellDef="let element">
        <span
          *ngIf="element.serial; else notId"
          (click)="_url.navigateTo('/portal-admin/agencies', element.serial)"
          class="light-blue-700"
          matTooltip="Go to user details"
          style="cursor: pointer">
          #{{ element.serial | notNull }}
        </span>
        <ng-template #notId>---</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>

      <td mat-cell *matCellDef="let element">
        {{
          element?.owner?.position === 'INDEPENDANT_BROKER'
            ? element?.owner?.user?.first_name +
              ' ' +
              element?.owner?.user?.last_name
            : element?.name
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="client_type">
      <th mat-header-cell *matHeaderCellDef>Client Type</th>
      <td mat-cell *matCellDef="let element">
        {{
          element?.owner?.position === 'INDEPENDANT_BROKER'
            ? 'Independant Broker'
            : 'Agency'
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Country</th>

      <td mat-cell *matCellDef="let element" class="country-cell">
        <ng-container
          *ngIf="element?.owner.user.address_info?.country as country">
          <ng-container *ngIf="country | countryCode as code">
            <img
              [src]="'https://flagcdn.com/24x18/' + code.toLowerCase() + '.png'"
              width="24"
              height="18"
              class="flag-icon" />
          </ng-container>

          {{ country | notNull }}
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Phone Number</th>
      <td mat-cell *matCellDef="let element">
        {{ element.phone_number | notNull }}
      </td>
    </ng-container>

    <ng-container matColumnDef="user_number">
      <th mat-header-cell *matHeaderCellDef>Users</th>
      <td mat-cell *matCellDef="let element">
        {{ element.brokers_count }}
      </td>
    </ng-container>

    <ng-container matColumnDef="account_count">
      <th mat-header-cell *matHeaderCellDef>Accounts</th>
      <td mat-cell *matCellDef="let element">
        {{ element.accounts_count }}
      </td>
    </ng-container>

    <ng-container matColumnDef="policies_count">
      <th mat-header-cell *matHeaderCellDef>Policies</th>
      <td mat-cell *matCellDef="let element">
        {{ element.policies_count }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <span [ngClass]="getStatusClass(element.payment_status)">
          {{ element.payment_status | notNull | normalizeText }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef>Created On</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | date | notNull }}
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex align-items-center">
          <span
            class="material-icons-outlined me-2 success-color"
            [ngClass]="{
              'gray-500': element.user?.last_login_at
            }"
            [style]="
              element.user?.last_login_at
                ? 'cursor: no-drop'
                : 'cursor: pointer'
            "
            [matTooltip]="
              element.user?.last_login_at
                ? 'You cannot reinvite this user because they have logged in before'
                : 'Resend the invitation email (this will generate a new password for the user)'
            "
            (click)="
              !element.user?.last_login_at ? resendInvitation(element) : null
            ">
            mail
          </span>

          <span
            class="material-icons-outlined me-2"
            [ngClass]="{
              'gray-500': element.user?.role === 'AGENCY_OWNER'
            }"
            style="cursor: pointer"
            [matTooltip]="
              element.user?.role === 'AGENCY_OWNER'
                ? 'Editing this user is not allowed'
                : 'Edit this user'
            "
            (click)="
              element.user?.role !== 'AGENCY_OWNER'
                ? _url.navigateTo('portal/users', element._id, 'edit')
                : null
            ">
            edit
          </span>

          <span
            class="material-icons-outlined me-2"
            [ngClass]="{
              'text-danger': element.user?.role !== 'AGENCY_OWNER',
              'text-secondary': element.user?.role === 'AGENCY_OWNER'
            }"
            style="cursor: pointer"
            [matTooltip]="
              element.user?.role === 'AGENCY_OWNER'
                ? 'Delete this user is not allowed'
                : 'Delete this user'
            "
            (click)="
              element.user?.role !== 'AGENCY_OWNER'
                ? deleteUser(element._id)
                : null
            ">
            delete
          </span>

          <mat-slide-toggle
            (change)="openUpdateStatusConfirmationModal(element, $event)"
            [matTooltip]="
              element.user?.role === 'AGENCY_OWNER'
                ? 'The agency owner cannot be deactivated.'
                : 'deactivated users won´t be able to access Masterbook'
            "
            color="'primary'"
            [disabled]="element.user?.role === 'AGENCY_OWNER'"
            [checked]="element.status === 'ACTIVE'"></mat-slide-toggle>
        </div>
      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr *matNoDataRow>
      <td colspan="10">
        <app-default-empty-state
          [url]="'portal/users/new'"
          *ngIf="!filtersActive.length"></app-default-empty-state>
        <app-filter-empty-state
          *ngIf="filtersActive.length"></app-filter-empty-state>
      </td>
    </tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="mas-table-row"></tr>
  </table>
</div>
