@import 'theme';

.secondary-button{
  border-radius: 3rem;
  min-width: 10rem;
  font-family: $font-family;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 10px 25px;
  letter-spacing: 0.6px;
  cursor: pointer;
  &:hover{
    opacity: 0.9;
  }
}

//color classes
.blue-primary{
  border: $light-blue-500 2px solid;
  color: $light-blue-500;
  background: #049dd926;
}

.blue-dark{
  border: $dark-blue-400 2px solid;
  color: $dark-blue-400;
  background: #02385926;
}

.orange{
  border: $orange 2px solid;
  color: $orange;
  background: #de773126;
}

.blue-primary-normal{
  border: none;
  color: white;
  background: $light-blue-500;
}

.blue-dark-normal{
  border: none;
  color: white;
  background: $dark-blue-400;
}

.orange-normal{
  border: none;
  color: white;
  background: $orange;
}
