@import 'theme';

.secondary-button{
  border-radius: 47px;
  min-width: 160px;
  font-family: $font-title;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 10px 25px;
  letter-spacing: 0.6px;
  cursor: pointer;
  &:hover{
    opacity: 0.9;
  }
}

//color classes
.blue-primary{
  border: $blue-primary 2px solid;
  color: $blue-primary;
  background: #049dd926;
}

.blue-dark{
  border: $blue-dark 2px solid;
  color: $blue-dark;
  background: #02385926;
}

.orange{
  border: $orange 2px solid;
  color: $orange;
  background: #de773126;
}
