<ng-container
  *ngIf="
    isAgent &&
      quote.status === QuoteStatusEnum.ACCEPTED &&
      request.status !== RequestStatusEnum.CLOSED;
    else defaultTemplate
  ">
  <div class="m-2 d-flex">
    <button
      class="primary-button big-button back-dark-blue-400 white d-flex align-items-center justify-content-center"
      style="gap: 10px"
      data-testid="quote-selected">
      <span
        (click)="toggleStatus()"
        class="flex-grow-1"
        style="cursor: pointer">
        Selected
      </span>

      <span
        [matMenuTriggerFor]="menu"
        class="material-icons-outlined white"
        style="cursor: pointer"
        data-testid="quote-actions">
        arrow_drop_down
      </span>
    </button>
  </div>

  <mat-menu #menu="matMenu" xPosition="before">
    <button
      mat-menu-item
      (click)="goToPolicy()"
      data-testid="quote-create-policy">
      Create policy
    </button>
  </mat-menu>
</ng-container>

<ng-template #defaultTemplate>
  <button
    class="primary-button big-button back-dark-blue-400 white m-2"
    *ngIf="quote.status !== QuoteStatusEnum.ACCEPTED"
    (click)="toggleStatus()"
    data-testid="quote-choose"
    [disabled]="
      request.status === RequestStatusEnum.QUOTE_SELECTED ||
      request.status === RequestStatusEnum.CLOSED
    ">
    Choose
  </button>

  <button
    class="primary-button big-button back-dark-blue-400 white m-2"
    *ngIf="quote.status === QuoteStatusEnum.ACCEPTED"
    (click)="toggleStatus()"
    data-testid="quote-selected-button"
    [disabled]="request.status === RequestStatusEnum.CLOSED">
    Selected
  </button>
</ng-template>
