<ng-container
  *ngIf="
    isAgent &&
      quote.status === QuoteStatusEnum.ACCEPTED &&
      request.status !== RequestStatusEnum.CLOSED;
    else defaultTemplate
  ">
  <div class="m-2 d-flex">
    <div
      class="selected-quote-button d-flex align-items-center"
      data-testid="quote-selected">
      <div
        class="selection-side"
        (click)="toggleStatus()"
        style="cursor: pointer">
        <span>Selected</span>
      </div>

      <div
        class="policy-side"
        [matMenuTriggerFor]="menu"
        style="cursor: pointer"
        data-testid="quote-actions">
        <span class="material-icons-outlined dropdown-icon">
          arrow_drop_down
        </span>
      </div>
    </div>
  </div>

  <mat-menu #menu="matMenu" xPosition="before">
    <button
      mat-menu-item
      (click)="goToPolicy()"
      data-testid="quote-create-policy">
      Create policy
    </button>
  </mat-menu>
</ng-container>

<ng-template #defaultTemplate>
  <button
    class="primary-button big-button back-dark-blue-400 white m-2"
    *ngIf="quote.status !== QuoteStatusEnum.ACCEPTED"
    (click)="toggleStatus()"
    data-testid="quote-choose"
    [disabled]="
      request.status === RequestStatusEnum.QUOTE_SELECTED ||
      request.status === RequestStatusEnum.CLOSED
    ">
    Choose
  </button>

  <button
    class="primary-button big-button back-dark-blue-400 white m-2"
    *ngIf="quote.status === QuoteStatusEnum.ACCEPTED"
    (click)="toggleStatus()"
    data-testid="quote-selected-button"
    [disabled]="request.status === RequestStatusEnum.CLOSED">
    Selected
  </button>
</ng-template>
