<app-pages-layout>
  <ng-container content>
    <div class="d-flex align-items-center">
      <div class="px-2">
        <span
          class="material-icons-outlined me-2"
          style="cursor: pointer"
          matTooltip="Back to last page"
          (click)="goBack()">
          arrow_back
        </span>
      </div>
    </div>

    <div class="col-12 mb-4" *ngIf="user">
      <div class="text-center">
        <h1 class="subtitle-1 dark-blue-400">Edit #{{ user.serial }}</h1>
      </div>
    </div>

    <div class="px-2 px-lg-5">
      <app-form-users *ngIf="user" [data]="user"></app-form-users>
    </div>
  </ng-container>
</app-pages-layout>
