<app-pages-layout>
  <ng-container content>
    <h3 class="subtitle-1 dark-blue-400 text-center w-100 mb-4">FORMS</h3>
    <form [formGroup]="form" class="px-md-5 mb-3">
      <app-input formControlName="query" placeholder="Search policy type">
      </app-input>
    </form>
    <div class="px-md-5 my-1 my-md-2 mb-2 mb-md-5">
      <div class="lob-selector px-2 px-md-3 py-3 my-1 my-md-2">
        <p class="subtitle-2 text-center">BUSINESS LINES</p>
        <div class="d-flex flex-wrap justify-content-center">
          <ng-container *ngFor="let lob of business_lines">
            <div
              class="lob-selector--item py-2 px-3 me-1 mb-1 fw-semibold"
              [ngClass]="{
                'lob-selector--item-selected': selected?._id === lob._id
              }"
              (click)="toggleSelected(lob)">
              {{ lob.name }}
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <ng-container *ngFor="let lob of business_lines">
      <div class="my-1 px-md-5">
        <mat-accordion [hideToggle]="true">
          <mat-expansion-panel [expanded]="selected?._id === lob._id">
            <mat-expansion-panel-header (click)="toggleSelected(lob)">
              <mat-panel-title>
                <div
                  class="w-100 d-flex align-items-center justify-content-between">
                  <span class="subtitle-3 white">
                    {{ lob.name }}
                  </span>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="d-flex flex-wrap pt-3 justify-content-center">
              <ng-container *ngFor="let type of lob.policy_types">
                <div class="policy-type-card my-1 mx-md-1 py-2 py-md-3 px-2">
                  <div class="policy-type-card--data">
                    <p class="dark-blue-400 text-2 fw-semibold text-center">
                      <span class="material-icons-outlined">
                        {{ type.icon ?? 'circle' }}
                      </span>
                    </p>
                    <p class="dark-blue-400 text-2 fw-semibold text-center">
                      {{ type.name }}
                    </p>
                    <p class="gray-500 text-3 text-center">
                      ({{ type.naic_code }})
                    </p>
                    <div class="d-flex justify-content-center">
                      <div
                        class="light-blue-600 text-center px-2 py-1 my-1 fw-semibold">
                        Forms count: {{ type.count_forms }}
                      </div>
                    </div>
                    <div class="text-center mt-1">
                      <button
                        class="primary-button back-dark-blue-300 white mx-1"
                        (click)="openModalForms(type)">
                        View forms
                      </button>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-container>
  </ng-container>
</app-pages-layout>
