@import 'theme';

:host ::ng-deep {
  [class~='p-dialog-header'] {
    padding: 1.4rem 1.8rem 0.7rem;
    border-top-right-radius: 2.5rem !important;
    border-top-left-radius: 2.5rem !important;
  }

  [class~='p-dialog-content'] {
    border-bottom-right-radius: 2.5rem !important;
    border-bottom-left-radius: 2.5rem !important;
  }

  [class~='p-dialog'] {
    border-radius: 2.5rem;
  }
}

.link-forgot-pass {
  font-family: $font-text-1;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: $blue-primary;
  cursor: pointer;
}
