<div class="table-responsive" *ngIf="data">
  <table mat-table [dataSource]="data" style="width: auto; overflow-x: auto">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>{{ 'PORTAL.INSURER.TABLE_ID' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <span
          *ngIf="element.serial; else notId"
          (click)="_url.navigateTo('/portal/insurer', element.serial)"
          class="light-blue-700"
          [matTooltip]="'PORTAL.INSURER.TABLE_TOOLTIP' | translate"
          style="cursor: pointer">
          #{{ element.serial | notNull }}
        </span>
        <ng-template #notId>---</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{ 'PORTAL.INSURER.TABLE_NAME' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.name | notNull }}
      </td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>{{ 'PORTAL.INSURER.TABLE_COUNTRY' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.country | notNull }}
      </td>
    </ng-container>

    <ng-container matColumnDef="ein">
      <th mat-header-cell *matHeaderCellDef>{{ 'PORTAL.INSURER.TABLE_EIN' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.ein | notNull }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>{{ 'PORTAL.INSURER.TABLE_EMAIL' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.email | notNull }}
      </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>{{ 'PORTAL.INSURER.TABLE_PHONE' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.phone_number | phone | notNull }}
      </td>
    </ng-container>

    <ng-container matColumnDef="fax">
      <th mat-header-cell *matHeaderCellDef>{{ 'PORTAL.INSURER.TABLE_FAX' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.fax | notNull }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>{{ 'PORTAL.INSURER.TABLE_STATUS' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.status | notNull }}
      </td>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef>{{ 'PORTAL.INSURER.TABLE_CREATED' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | appDateTime : 'date' | notNull }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr *matNoDataRow>
      <td colspan="11">
        <app-default-empty-state
          [url]="'portal/users/new'"
          *ngIf="!filtersActive.length"></app-default-empty-state>
        <app-filter-empty-state
          *ngIf="filtersActive.length"></app-filter-empty-state>
      </td>
    </tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="mas-table-row"></tr>
  </table>
</div>
