<app-pages-layout>
  <ng-container content>
    <div class="not-paid-info py-2 px-3 mb-4" style="font-size: 14px">
      Once a payment has been generated for a policy, none of the details can be
      edited.
    </div>

    <div class="d-flex align-items-center">
      <div class="px-2">
        <span
          class="material-icons-outlined me-2"
          style="cursor: pointer"
          matTooltip="Back to last page"
          (click)="goBack()">
          arrow_back
        </span>
      </div>
    </div>

    <div class="col-12 mb-4">
      <div class="text-center">
        <h3 class="subtitle-1 dark-blue-400">Create Payment</h3>
      </div>
    </div>

    <div class="px-2 px-lg-5">
      <app-form-payments [payment]="payment"></app-form-payments>
    </div>
  </ng-container>
</app-pages-layout>
