.activity-card {
  border-radius: 12px;
  height: auto;
  max-height: 70vh;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  overflow: scroll;
  .card-header {
    margin-top: 1rem;
    padding-bottom: 0;
    display: flex;
    align-items: start;
    justify-content: center;
  }

  .card-content {
    padding-top: 1rem;
    margin-right: 2rem;
  }

  .activity-feed {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: flex-start;
      gap: 12px;
      padding: 12px 0;
      border-bottom: 1px solid #eee;
      position: relative;

      &:last-child {
        border-bottom: none;
      }

      .icon-container {
        width: 36px;
        height: 36px;
        background-color: #e3f2fd;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin-left: 20px;

        mat-icon {
          font-size: 20px;
          color: #1976d2;
        }
      }

      .activity-details {
        flex: 1;

        .activity-text {
          margin: 0;
          font-size: 14px;
        }

        .activity-time {
          font-size: 12px;
          color: #888;
        }
      }
    }
  }

  .styled-divider {
    display: block;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #5faaff, #7baffe);
    border-radius: 2px;
    margin-top: 1rem;
  }

  li::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #ccc;
  }
}
