@import 'theme';

:host {
  .description {
    font-size: 0.75rem;
    font-weight: 400;
  }

  .register-card{
    width: 18rem !important;
    cursor: pointer;
  }

  .card-active {
    background-color: $light-blue-700;
    border-radius: 0.625rem;
    color: $white;
  }

  .card-inactive {
    background-color: $white;
    border-radius: 0.625rem;
    border: 3px solid $gray-100;
    h2 {
      color: $gray-200;
    }

    .description {
      color: $gray-700;
    }
  }
}
