@import 'theme';

:host {
  display: block;
  width: 100%;
  max-width: 18rem;
  height: 100%;

  .description {
    font-size: 0.75rem;
    font-weight: 400;
  }

  .register-card{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
  }

  .card-active {
    background-color: $light-blue-500;
    border-radius: 0.625rem;
    color: $white;
  }

  .card-inactive {
    background-color: $white;
    border-radius: 0.625rem;
    border: 3px solid $gray-100;
    h2 {
      color: $gray-200;
    }

    .description {
      color: $gray-700;
    }
  }
}
