<form [formGroup]="form" data-testid="payment-form">
  <div class="row">
    <div class="col-12 mb-4">
      <label>{{ 'PORTAL.PAYMENTS.TABLE_FROM' | translate }}: </label>
      <mat-radio-group
        formControlName="payment_from"
        aria-label="Select an option"
        data-testid="payment-from">
        <mat-radio-button
          value="1"
          color="primary"
          data-testid="payment-from-account">
          {{ 'PORTAL.PAYMENTS.FORM.OPTION_ACCOUNT' | translate }}
        </mat-radio-button>
        <mat-radio-button
          value="2"
          color="primary"
          data-testid="payment-from-insurer">
          {{ 'PORTAL.PAYMENTS.FORM.OPTION_INSURER' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="col-12 col-md-4 mb-4">
      <label>{{ 'PORTAL.PAYMENTS.TABLE_DATE' | translate }} *</label>
      <app-date-field
        [placeholder]="'PORTAL.PROFILE_FORM.PLACEHOLDER_DATE' | translate"
        formControlName="payment_date"
        data-testid="payment-date"></app-date-field>
    </div>

    <div class="col-12 col-md-4 mb-4">
      <label>{{ 'PORTAL.PAYMENTS.TABLE_TOTAL' | translate }} *</label>
      <app-currency-input formControlName="total_amount" data-testid="payment-total-amount"></app-currency-input>
    </div>

    <ng-container *ngIf="form.get('payment_from')?.value === '1'">
      <div class="col-12 col-md-4 mb-4">
        <label>{{ 'PORTAL.ACCOUNTS.TITLE' | translate }} *</label>
        <app-account-selector
          [extendedInfo]="true"
          (ngModelChange)="onSelectAccount($event)"
          formControlName="account"
          data-testid="payment-account"></app-account-selector>
      </div>
    </ng-container>

    <ng-container *ngIf="form.get('payment_from')?.value === '2'">
      <div class="col-12 col-md-4 mb-4">
        <label>{{ 'PORTAL.PAYMENTS.FORM.FIELD_INSURER_COMPANY' | translate }}</label>
        <app-insurer-selector
          (ngModelChange)="onSelectInsurer($event)"
          formControlName="insurer_company"
          data-testid="payment-insurer"></app-insurer-selector>
      </div>
    </ng-container>

    <div class="col-12 col-md-4 mb-4">
      <label>{{ 'PORTAL.PAYMENTS.TABLE_CHECK' | translate }} *</label>
      <app-input
        [placeholder]="'PORTAL.PAYMENTS.FORM.PLACEHOLDER_CHECK_NUMBER' | translate"
        formControlName="check_number"
        data-testid="payment-check-number"></app-input>
    </div>

    <div class="col-12 col-md-4 mb-4">
      <label>{{ 'PORTAL.PAYMENTS.TABLE_METHOD' | translate }}*</label>
      <app-dropdown-field
        [placeholder]="'PORTAL.PAYMENTS.FORM.PLACEHOLDER_METHOD' | translate"
        formControlName="method"
        [options]="dropDownPaymentMethod"
        data-testid="payment-method"></app-dropdown-field>
    </div>
  </div>

  <div class="mb-4" data-testid="payment-application-section">
    <div
      class="col-12 col-lg-11 d-flex align-items-center justify-content-start">
      <h1 class="sub-title">{{ 'PORTAL.PAYMENTS.FORM.SECTION_APPLICATIONS' | translate }}</h1>
    </div>

    <div *ngIf="showPaymentApplications" data-testid="payment-applications">
      <div
        *ngFor="let app of paymentApplicationsControls; let i = index"
        [formGroup]="app"
        class="row mb-4"
        [attr.data-testid]="'payment-application-row'">
        <div class="col-12 col-md-3">
          <label>{{ 'PORTAL.PAYMENTS.TABLE_POLICY' | translate }}*</label>
          <app-policy-selector
            (ngModelChange)="onSelectPolicy()"
            [paramsBySearchs]="paramsBySearchPolicies"
            formControlName="policy_number"
            [attr.data-testid]="'payment-policy'"></app-policy-selector>
        </div>

        <div class="col-12 col-md-3">
          <label>{{ 'PORTAL.PAYMENTS.FORM.FIELD_INVOICE_NUMBER' | translate }}</label>
          <app-input
            [placeholder]="'PORTAL.PAYMENTS.FORM.PLACEHOLDER_INVOICE_NUMBER' | translate"
            formControlName="invoice_number"
            [attr.data-testid]="'payment-invoice-number'"></app-input>
        </div>

        <div class="col-12 col-md-3">
          <label>{{ 'PORTAL.PAYMENTS.FORM.FIELD_PAYMENT_APPLIED' | translate }}</label>
          <app-currency-input formControlName="payment_applied" [attr.data-testid]="'payment-applied-amount'"></app-currency-input>
        </div>

        <div class="col-12 col-md-3">
          <label>{{ 'PORTAL.PAYMENTS.FORM.FIELD_OPEN_BALANCE' | translate }}</label>
          <app-currency-input formControlName="open_balance" [attr.data-testid]="'payment-open-balance'"></app-currency-input>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-between">
        <button
          class="primary-button back-light-blue-400 white mx-1"
          (click)="addPaymentApplication()"
          data-testid="payment-add-application">
          {{ 'PORTAL.PAYMENTS.FORM.BTN_ADD_NEW' | translate }}
        </button>
      </div>
    </div>

    <div class="my-3 my-md-4" *ngIf="!showPaymentApplications">
      <h5 class="text-center fw-semibold">{{ 'PORTAL.PAYMENTS.FORM.NO_INSURER_SELECTED' | translate }}</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4 mb-4">
      <label>{{ 'PORTAL.PAYMENTS.TABLE_RETENTIONS' | translate }} *</label>
      <app-currency-input formControlName="retentions" data-testid="payment-retentions"></app-currency-input>
    </div>

    <div class="col-12 col-md-4 mb-4">
      <label>{{ 'PORTAL.PAYMENTS.TABLE_TAXES' | translate }} *</label>
      <app-currency-input formControlName="taxes" data-testid="payment-taxes"></app-currency-input>
    </div>

    <div class="col-12 col-md-4 mb-4">
      <label>{{ 'PORTAL.PAYMENTS.TABLE_SUBTOTAL' | translate }}</label>
      <app-currency-input formControlName="subtotal" data-testid="payment-subtotal"></app-currency-input>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center mt-4">
    <button
      class="primary-button big-button back-gray-400 white mx-1"
      (click)="cancelForm()"
      data-testid="payment-cancel">
      {{ 'PORTAL.COMMON.CANCEL' | translate }}
    </button>

    <button
      class="primary-button big-button back-light-blue-400 white mx-1"
      [disabled]="form.invalid"
      (click)="openConfirmationModal()"
      data-testid="payment-submit">
      {{ 'PORTAL.PAYMENTS.FORM.BTN_SUBMIT' | translate }}
    </button>
  </div>
</form>
