@import 'theme';

:host ::ng-deep {
  .balance-box{
    font-size: .8rem;
    background-color: $gray-100;
    min-width: 5rem;
  }

  label {
    font-family: $font-family;
    font-weight: 500;
    font-size: 0.8rem;
    color: #000000;
    margin-bottom: 0.5rem;
  }

  .sub-title {
    color: $dark-blue-400;
    font-weight: 700;
    font-size: 1rem;
  }

  .mdc-form-field > label {
    margin-left: -5px !important;
    padding-left: 0px !important;
    margin-bottom: 0px !important;
  }
}
