@import 'theme';

:host{
  .ui-modal {
    border-radius: 1.25rem;
    width: 29rem;
    max-width: 100%;
    background: $white;
    .ui-modal-header{
      border-radius: 1.25rem 1.25rem 0 0;
      width: 100%;
    }
  }
}