@import 'theme';

.carousel-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.preview-container {
  max-width: 37.5rem;
  height: 29.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview-img {
  max-width: 100%;
  max-height: 100%;
  height: 80%;
  object-fit: contain;
}

.preview-thumbnails {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -0.5rem;
}

.thumb {
  width: 3.125rem;
  height: 3.125rem;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumb.active {
  border-color: $light-blue-700;
}
