<mat-dialog-content class="carousel-modal-content">
  <div class="carousel-wrapper w-100 mt-3" *ngIf="data.files.length > 0">
    <div class="carousel row">
      <div class="preview-container">
        <ng-container [ngSwitch]="currentItem.extension.toLowerCase()">
          <img
            *ngSwitchCase="'jpeg'"
            [src]="currentItem.preview"
            class="preview-img"
            alt="Image preview" />
          <img
            *ngSwitchCase="'jpg'"
            [src]="currentItem.preview"
            class="preview-img"
            alt="Image preview" />
          <img
            *ngSwitchCase="'png'"
            [src]="currentItem.preview"
            class="preview-img"
            alt="Image preview" />
          <iframe
            *ngSwitchCase="'pdf'"
            [src]="sanitizedPreview"
            width="100%"
            height="500px"
            style="border: none"></iframe>
          <p *ngSwitchDefault>Unsupported file format.</p>
        </ng-container>

        <p class="file-name mb-4 mt-3">{{ currentItem.name }}</p>
      </div>

      <div class="preview-thumbnails mb-4">
        <button
          mat-icon-button
          class="nav left"
          (click)="prev()"
          [disabled]="activeIndex === 0"
          *ngIf="activeIndex !== 0">
          <mat-icon>chevron_left</mat-icon>
        </button>

        <div
          *ngFor="let item of data.files; index as i"
          class="thumb"
          [class.active]="i === activeIndex"
          (click)="goTo(i)">
          <img
            *ngIf="item.extension.toLowerCase() !== 'pdf'"
            [src]="item.preview" />
          <mat-icon *ngIf="item.extension.toLowerCase() === 'pdf'" color="warn">
            picture_as_pdf
          </mat-icon>
        </div>

        <button
          mat-icon-button
          class="nav right"
          (click)="next()"
          [disabled]="activeIndex === data.files.length - 1"
          *ngIf="activeIndex !== data.files.length - 1">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-center gap-2">
      <button
        class="primary-button big-button back-gray-400 white mx-1"
        (click)="close()">
        Cancel
      </button>
      <button
        class="primary-button big-button back-light-blue-400 white mx-1"
        (click)="download()">
        Download
      </button>
    </div>
  </div>
</mat-dialog-content>
