<div class="mb-2 d-flex justify-content-center">
  <div class="row container-items-selector">
    <div
      class="col-6 col-md-3 d-flex justify-content-center mb-3 mb-md-4"
      *ngFor="let type of typesDataset">
      <div
        class="card"
        [ngClass]="{
          'card-selected': value && value.type === type.type
        }"
        (click)="changeValue(type)">
        <span>
          <img
            style="width: 66px; height: 66px"
            [src]="
              value && value.type === type.type ? type.iconSelected : type.icon
            "
            alt="down-arrow" />
        </span>
        <h4 style="font-size: 12px">{{ type.type }}</h4>
      </div>
    </div>
  </div>
</div>
