@import 'theme';

:host{
  .card {
    width: 7.125rem;
    height: 7.125rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray-200;
    cursor: pointer;
    &.card-selected {
      background-color: $light-blue-700;
      color: $white;
    }
  }

  .container-items-selector{
    width: 60%;

    @media only screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &::ng-deep{
    p-selectbutton {
      width: 100% !important;
      display: flex;
      justify-content: center;
      div[role='group'] {
        width: 100% !important;
        display: flex;
        gap: 1rem;
        div[role='button'] {
          width: calc(100% - 0.5rem) !important;
          border: 1px solid $gray-200;
          border-radius: 0.5rem;
        }
      }
    }
  }
}
