@import 'theme';

.container-internal-menu{
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  transition: all .3s ease;
}

.background-agent{
  background: linear-gradient(180deg, $dark-blue-400 0%, $dark-blue-700 100%);
  border-right: 1px solid $dark-blue-300;
}

.background-client{
  background: linear-gradient(180deg, $light-blue-100 0%, $light-blue-200 100%);
  border: 1px solid $light-blue-200;
}
