<div class="d-flex flex-column my-4 w-100 algin-items-center">
  <img
    src="assets/images/empty/default-empty.svg"
    alt="empty"
    style="max-height: 12rem" />
  <p class="subtitle-1 dark-blue-500 my-2 text-center">{{ 'SHARED.EMPTY_STATE.SORRY' | translate }}</p>
  <p class="text-3 black text-center" *ngIf="customText === null">
    {{ 'SHARED.EMPTY_STATE.NO_RECORDS' | translate }}
    <span *ngIf="url">
      {{ 'SHARED.EMPTY_STATE.INVITE_PREFIX' | translate }} <br />
      {{ 'SHARED.EMPTY_STATE.INVITE_TO' | translate }}
      <span class="light-blue-700" style="cursor: pointer" (click)="navigate()">
        {{ 'SHARED.EMPTY_STATE.INVITE_LINK' | translate }}
      </span>
    </span>
  </p>
  <p class="text-3 black text-center" *ngIf="customText !== null">
    {{ customText }}
  </p>
</div>
