@import 'theme';
:host ::ng-deep p-badge {
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-right: 0.5rem;
  margin-top: 0.2rem;

  .p-badge {
    min-width: 0.813rem !important;
    height: 1.188rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.625rem !important;
  }
}

.navbar-icon {
  position: relative;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border-radius: 100%;
  cursor: pointer;
  &:hover {
    background: #eaebef;
  }
  .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
