<nav class="d-flex pe-2">
  <div
    class="logo-section d-none d-xl-flex align-items-center justify-content-center background-{{
      role
    }}">
    <div class="mt-2 logo">
      <img
        [src]="
          role === 'client'
            ? 'assets/images/logo_color.svg'
            : 'assets/images/logo_white.svg'
        "
        alt="mobile toggle" />
    </div>
  </div>
  <div class="navbar px-4" style="border-bottom: 1px solid #d9d9d9">
    <div class="toggle" (click)="setToggleMenu()">
      <div class="icon-menu d-block d-xl-none">
        <img src="assets/images/portal/icon_burguer.svg" alt="" />
      </div>
    </div>
    <div class="d-flex justify-content-center aling-items-center gap-2">
      <div class="d-flex align-items-center justify-content-center">
        <p class="pb-0 mb-0">{{ userName | titlecase }}</p>
      </div>

      <app-internal-navbar-notifications
        [userId]="userId"></app-internal-navbar-notifications>

      <app-internal-navbar-options></app-internal-navbar-options>

      <div
        class="d-flex align-items-center justify-content-center ms-0"
        *ngIf="logo && showLogo">
        <img [src]="logo" class="logo" />
      </div>
    </div>
  </div>
</nav>
