<div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="text-center">
        <h3 class="subtitle-1 dark-blue-400 mb-3">Download Template</h3>
        <p class="text-4 gray-500 mb-5 mb-md-4">
          First, download the template. Next, fill it in with your information,
          and then upload it to proceed.
        </p>
        <div
          class="d-flex flex-column align-items-center justify-content-center mb-5">
          <img
            src="assets/images/upload_file/icon_excel_dowload.png"
            alt="download" />
          <div class="d-flex align-items-center justify-content-center mt-3">
            <button
              class="primary-button big-button back-light-blue-400 white mx-1"
              (click)="downloadTemplate()">
              Download Template
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="text-center">
        <h3 class="subtitle-1 dark-blue-400 mb-3">Upload File</h3>
        <p class="text-4 gray-500 mb-5 mb-md-4">
          After adding and verifying all the necessary data, you can upload your
        </p>
        <form [formGroup]="form">
          <div
            class="d-flex align-items-center flex-column justify-content-center mb-5">
            <img
              src="assets/images/upload_file/icon_excel_upload.png"
              alt="upload" />
            <input
              #inputFile
              class="d-none"
              type="file"
              accept=".xlsx,.xls,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"
              (change)="uploadFile($event)" />
            <small
              *ngIf="hasError(form.controls['file_base64'], 'required')"
              class="text-danger mt-1">
              This file is required
            </small>

            <div class="d-flex align-items-center justify-content-center mt-3">
              <button
                class="primary-button big-button back-light-blue-400 white mx-1"
                (click)="openModal()">
                Upload File
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
