@import 'theme';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//texts
.title-1{
  font-size: 6rem;
  line-height: 6.4rem;
  font-family: $font-title;
}

.title-2{
  font-size: 5rem;
  line-height: 5.4rem;
  font-family: $font-title;
}

.title-3{
  font-size: 2.6rem;
  line-height: 2.8rem;
  font-family: $font-title;
}

.title-4{
  font-size: 2rem;
  line-height: 2.2rem;
  font-family: $font-title;
}

.title-5{
  font-size: 1.5rem;
  line-height: 1.6rem;
  font-family: $font-title;
  letter-spacing: 0.6px;
}

.text-1{
  font-size: 1.5rem;
  line-height: 1.6rem;
  font-family: $font-text-1;
  letter-spacing: 0.6px;
}

.text-1-tini{
  font-size: 1rem;
  line-height: 1.1rem;
  font-family: $font-text-1;
}

.text-2{
  font-size: 1.5rem;
  line-height: 1.6rem;
  font-family: $font-text-2;
  font-weight: 400;
}

.text-2-tini{
  font-size: 0.75rem;
  line-height: 0.85rem;
  font-family: $font-text-2;
}


//utils
.flex-centered{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-centered{
  text-align: center;
}

.text-selection-disable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hover{
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
}
.show-desktop-only{
  display: block;
}
.show-mobile-only{
  display: none;
}

@media only screen and (max-width: 767px) {
  .show-desktop-only{
    display: none;
  }
  .show-mobile-only{
    display: block;
  }
}

//scroll bar
::-webkit-scrollbar {
  width: 8px;
  height: 100%;
  position: absolute;
  z-index: 10;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  position: absolute;

}

::-webkit-scrollbar-thumb {
  background: #c5c6ca;
  border-radius: 4px;
  position: absolute;

}

::-webkit-scrollbar-thumb:hover {
  background: #9a9b9e;
  position: absolute;

}

