@import 'theme';

:host ::ng-deep {
  h1{
    font-weight: 600 !important;

    @media only screen and (max-width: 576px) {
      font-size: 1.5rem;
      overflow-wrap: break-word;
    }
  }

  .img-response {
    max-width: 80%;
    width: 90%;

    @media only screen and (max-width: 576px) {
      width: 100%;
      max-width: 100%;
    }
  }

  .terms-container {
    max-height: 100%;
    overflow-y: auto;

    @media only screen and (max-width: 576px) {
      max-height: none;
      overflow-y: visible;
    }
  }
}
