<div class="row my-5">
  <form [formGroup]="form">
    <div
      class="d-flex w-100 align-items-center justify-content-between"
      ngClass="{ 'justify-content-end': preselectedAccount }">
      <div class="col-8">
        <app-account-selector
          *ngIf="!preselectedAccount"
          (selectionChange)="handleAccountSelection($event)"
          [extendedInfo]="true"
          formControlName="client_id">
        </app-account-selector>
      </div>
      <button class="primary-button back-gray-500 white" (click)="reset()">
        {{ 'PORTAL.REQUESTS.FORM_NEW_BUSINESS.BTN_RESET' | translate }}
      </button>
    </div>

    <div class="my-3 mb-md-3">
      <h4 class="subtitle-3 dark-blue-400 mb-md-4 mb-3">{{ 'PORTAL.REQUESTS.FORM_NEW_BUSINESS.SECTION_ACCOUNT_INFO' | translate }}</h4>

      <div class="row mb-3 mb-md-4">
        <div class="col-12 col-md-4 mb-4 mb-md-0">
          <label>{{ 'PORTAL.REQUESTS.FORM_NEW_BUSINESS.FIELD_ACCOUNT' | translate }} *</label>
          <app-input
            [placeholder]="'PORTAL.REQUESTS.FORM_NEW_BUSINESS.PLACEHOLDER_AUTO_FILLED' | translate"
            type="text"
            formControlName="account_serial"></app-input>
        </div>

        <div class="col-12 col-md-4 mb-4 mb-md-0">
          <label>{{ 'PORTAL.REQUESTS.ACCOUNT_NAME' | translate }} *</label>
          <app-input
            [placeholder]="'PORTAL.REQUESTS.FORM_NEW_BUSINESS.PLACEHOLDER_AUTO_FILLED' | translate"
            type="text"
            formControlName="account_name"></app-input>
        </div>

        <div class="col-12 col-md-4 mb-4 mb-md-0">
          <label>{{ 'PORTAL.REQUESTS.AGENT' | translate }} *</label>
          <app-input
            [placeholder]="'PORTAL.REQUESTS.FORM_NEW_BUSINESS.PLACEHOLDER_AUTO_FILLED' | translate"
            type="text"
            formControlName="agent_fullname"></app-input>
        </div>
      </div>
    </div>

    <div class="my-3 mb-md-3">
      <h4 class="subtitle-3 dark-blue-400 mb-md-4 mb-3">{{ 'PORTAL.REQUESTS.FORM_NEW_BUSINESS.SECTION_CLIENT_INFO' | translate }}</h4>

      <div class="row mb-3 mb-md-4">
        <div class="col-12 col-md-4 mb-4 mb-md-0">
          <label>{{ 'PORTAL.REQUESTS.FULL_NAME' | translate }} *</label>
          <app-input
            [placeholder]="'PORTAL.REQUESTS.FORM_NEW_BUSINESS.PLACEHOLDER_AUTO_FILLED' | translate"
            type="text"
            formControlName="client_fullname"></app-input>
        </div>

        <div class="col-12 col-md-4 mb-4 mb-md-0">
          <label>{{ 'PORTAL.REQUESTS.DOB' | translate }}*</label>
          <app-date-field
            [placeholder]="'PORTAL.REQUESTS.FORM_NEW_BUSINESS.PLACEHOLDER_AUTO_FILLED' | translate"
            formControlName="dob"></app-date-field>
        </div>

        <div class="col-12 col-md-4 mb-4 mb-md-0">
          <label>{{ 'PORTAL.REQUESTS.GENDER' | translate }} *</label>
          <app-input
            [placeholder]="'PORTAL.REQUESTS.FORM_NEW_BUSINESS.PLACEHOLDER_AUTO_FILLED' | translate"
            type="text"
            formControlName="gender"></app-input>
        </div>

        <div class="col-12 col-md-4 mb-4 mb-md-0">
          <label>{{ 'PORTAL.REQUESTS.MARITAL' | translate }} *</label>
          <app-input
            [placeholder]="'PORTAL.REQUESTS.FORM_NEW_BUSINESS.PLACEHOLDER_AUTO_FILLED' | translate"
            type="text"
            formControlName="marital_status"></app-input>
        </div>

        <div class="col-12 col-md-4 mb-4 mb-md-0">
          <label>{{ 'PORTAL.REQUESTS.COUNTRY' | translate }} *</label>
          <app-input
            [placeholder]="'PORTAL.REQUESTS.FORM_NEW_BUSINESS.PLACEHOLDER_AUTO_FILLED' | translate"
            type="text"
            formControlName="country"></app-input>
        </div>

        <div class="col-12 col-md-4 mb-4 mb-md-0">
          <label>{{ 'PORTAL.REQUESTS.ADDRESS' | translate }} *</label>
          <app-input
            [placeholder]="'PORTAL.REQUESTS.FORM_NEW_BUSINESS.PLACEHOLDER_AUTO_FILLED' | translate"
            type="text"
            formControlName="address"></app-input>
        </div>

        <div class="col-12 col-md-4 mb-4 mb-md-0">
          <label>{{ 'PORTAL.REQUESTS.EMAIL' | translate }} *</label>
          <app-input
            [placeholder]="'PORTAL.REQUESTS.FORM_NEW_BUSINESS.PLACEHOLDER_AUTO_FILLED' | translate"
            type="text"
            formControlName="email"></app-input>
        </div>

        <div class="col-12 col-md-4 mb-4 mb-md-0">
          <label>{{ 'PORTAL.REQUESTS.FORM_NEW_BUSINESS.FIELD_PHONE' | translate }}</label>
          <app-input
            [placeholder]="'PORTAL.REQUESTS.FORM_NEW_BUSINESS.PLACEHOLDER_AUTO_FILLED' | translate"
            type="text"
            formControlName="phone"></app-input>
        </div>
      </div>
    </div>

    <div class="my-3 mb-md-3 mt-md-5">
      <h4 class="subtitle-3 dark-blue-400 mb-md-4 mb-3">{{ 'PORTAL.REQUESTS.FORM_NEW_BUSINESS.SECTION_REQUEST_INFO' | translate }}</h4>

      <div class="row mb-3 mb-md-4">
        <div class="col-12 col-md-4 mb-4 mb-md-0">
          <label>{{ 'PORTAL.REQUESTS.OBJECT_INSURE' | translate }} *</label>
          <app-input
            [placeholder]="'PORTAL.REQUESTS.FORM_NEW_BUSINESS.PLACEHOLDER_OBJECT' | translate"
            type="text"
            formControlName="insure_object"></app-input>
        </div>

        <div class="col-12 col-md-4 mb-4 mb-md-0">
          <label>{{ 'PORTAL.REQUESTS.COVERAGE_LIMIT' | translate }} *</label>
          <app-currency-input formControlName="coverage"></app-currency-input>
        </div>

        <div class="col-12 col-md-4 mb-3 mb-md-4">
          <label>{{ 'PORTAL.REQUESTS.FORM_NEW_BUSINESS.FIELD_LOCATION' | translate }}</label>
          <app-address-input
            [placeholder]="'PORTAL.REQUESTS.FORM_NEW_BUSINESS.PLACEHOLDER_LOCATION' | translate"
            formControlName="address_info"></app-address-input>
        </div>

        <div class="col-12">
          <h4 class="subtitle-3 dark-blue-400 mb-md-4 mb-3">{{ 'PORTAL.REQUESTS.FORM_NEW_BUSINESS.SECTION_FORMS' | translate }}</h4>
          <div class="d-flex flex-wrap justify-content-start">
            <ng-container *ngFor="let type of policy_types">
              <div class="policy-type-card my-1 mx-md-1 py-2 py-md-3 px-2">
                <div class="policy-type-card--data">
                  <p class="dark-blue-400 text-2 fw-semibold text-center">
                    {{ type.name }}
                  </p>
                  <p class="gray-500 text-3 text-center">
                    ({{ type.naic_code }})
                  </p>
                  <div class="text-center mt-1">
                    <button
                      class="primary-button back-dark-blue-300 white mx-1"
                      (click)="openModalForms(type)">
                      {{ 'PORTAL.REQUESTS.VIEW_FORMS' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

        <h4 class="subtitle-3 dark-blue-400 my-md-4 my-3">
          {{ 'PORTAL.REQUESTS.FORM_NEW_BUSINESS.SECTION_UPLOAD' | translate }}
        </h4>

        <div class="col-12 mt-2">
          <app-multi-file-upload
            formControlName="request_documents"></app-multi-file-upload>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button
        class="primary-button big-button back-gray-500 white mx-2"
        (click)="cancel()">
        {{ 'PORTAL.COMMON.CANCEL' | translate }}
      </button>

      <button
        class="primary-button big-button back-light-blue-500 white mx-2"
        (click)="send()"
        [disabled]="form.invalid">
        {{ (request ? 'PORTAL.COMMON.EDIT' : 'PORTAL.REQUESTS.FORM_NEW_BUSINESS.BTN_SAVE') | translate }}
      </button>
    </div>
  </form>
</div>
