<!-- <mat-icon
    (click)="fileInput.click()"
    style="font-size: 32px">
    upload_file
</mat-icon> -->
<input
  type="file"
  multiple
  #fileInput
  (change)="onFilesSelected($event)"
  style="display: none" />

<div class="input-file-container">
  <div *ngFor="let file of files; let i = index">
    <div class="dynamic-file-container">
      <mat-icon
        style="font-size: 24px; color: #d32f2f"
        matTooltip="{{ file.name }}"
        matTooltipPosition="above">
        picture_as_pdf
      </mat-icon>
      <button class="remove-btn" (click)="removeFile(i)">&#10006;</button>
    </div>
  </div>
  <div>
    <mat-icon
      (click)="fileInput.click()"
      style="font-size: 32px; cursor: pointer">
      upload_file
    </mat-icon>
  </div>
  <!-- <ul>        
        <li *ngFor="let file of files; let i = index">
            {{ file.name }}
            <button class="remove-btn" (click)="removeFile(i)">X</button>
        </li>
        <li>
            <mat-icon
                (click)="fileInput.click()"
                style="font-size: 32px; cursor: pointer;">
                upload_file
            </mat-icon>
        </li>
    </ul> -->
  <!-- <div
        *ngFor="let file of files; let i = index"
        style="position: relative; transition: transform 0.3s ease">

        <div style="cursor: pointer">
            <img
                *ngIf="
                ['PNG', 'JPG', 'JPEG'].includes(
                    file.file_type.toUpperCase()
                )
                "
                [src]="file.preview"
                [alt]="file.name"
                width="60"
                height="60"
                style="border-radius: 5px; object-fit: cover" />
            <div
                *ngIf="file.file_type.toUpperCase() === 'PDF'"
                style="
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #f5f5f5;
                border-radius: 5px;
                ">
                <mat-icon style="font-size: 24px; color: #d32f2f">
                picture_as_pdf
                </mat-icon>
            </div>
        </div>

        <div
        class="file-preview-container"
        style="
            position: absolute;
            top: -5px;
            right: -5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 5px;
            border-radius: 50%;
            z-index: 10;
        ">
            <mat-icon
                (click)="removeFile(file)"
                style="color: rgb(153, 25, 25); font-size: 18px">
                close
            </mat-icon>
        </div>
    </div> -->
</div>
