.file-drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.file-drop-area:hover {
  border-color: #333;
}

.dynamic-file-container{
    width: 50px; 
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    border-radius: 5px;
    position: relative;
    > button{
        position: absolute;
        top: 2px;
        right: 2px;
        background: transparent;
        border: none;
        color: #d32f2f;
        font-size: 16px;
        cursor: pointer;
        padding: 0;
        line-height: 1;
    }
}

.input-file-container{
  display: flex;
  gap: 20px;
  align-items: start;
  flex-direction: row;
}