<app-pages-layout>
  <ng-container content>
    <div
      class="d-flex justify-content-between align-items-center mb-1 ms-2"
      *ngIf="user">
      <span
        class="material-icons-outlined me-2"
        style="cursor: pointer"
        matTooltip="Back to last page"
        (click)="goBack()">
        arrow_back
      </span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="dark-blue-400">more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu" xPosition="before">
        <button
          mat-menu-item
          *ngIf="isOwner"
          (click)="openModalChangeLogs(user._id)">
          <span class="d-flex align-items-center gap-2">
            <span class="material-icons-outlined dark-blue-400">history</span>
            <span>Change Logs</span>
          </span>
        </button>

        <button
          mat-menu-item
          [disabled]="user.user?.role === 'AGENCY_OWNER'"
          (click)="
            user.user?.role !== 'AGENCY_OWNER'
              ? _url.navigateTo('portal/users', user.serial, 'edit')
              : null
          ">
          <span class="d-flex align-items-center gap-2">
            <span class="material-icons-outlined dark-blue-400">edit</span>
            <span>
              {{
                user.user?.role === 'AGENCY_OWNER' ? 'Edit not allowed' : 'Edit'
              }}
            </span>
          </span>
        </button>

        <button mat-menu-item [disabled]="user.user?.role === 'AGENCY_OWNER'">
          <mat-slide-toggle
            [checked]="user.status === 'ACTIVE'"
            [disabled]="user.user?.role === 'AGENCY_OWNER'"
            (change)="setStatus(user, $event)"
            [color]="'primary'">
            <span class="mat-mdc-menu-item-text">
              {{ user.status === 'ACTIVE' ? 'Inhabilitar' : 'Habilitar' }}
            </span>
          </mat-slide-toggle>
        </button>

        <button
          mat-menu-item
          [disabled]="user.user?.role === 'AGENCY_OWNER'"
          (click)="
            user.user?.role !== 'AGENCY_OWNER' ? deleteUser(user._id) : null
          ">
          <span class="d-flex align-items-center gap-2">
            <span class="material-icons-outlined text-danger">delete</span>
            <span>
              {{
                user.user?.role === 'AGENCY_OWNER'
                  ? 'Delete not allowed'
                  : 'Delete'
              }}
            </span>
          </span>
        </button>

        <button
          mat-menu-item
          [disabled]="!!user.user?.last_login_at"
          (click)="!user.user?.last_login_at ? resendInvitation(user) : null">
          <span class="d-flex align-items-center gap-2">
            <span class="material-icons-outlined success-color">mail</span>
            <span>
              {{
                user.user?.last_login_at
                  ? 'Cannot reinvite'
                  : 'Resend Invitation'
              }}
            </span>
          </span>
        </button>
      </mat-menu>
    </div>
    <div
      class="d-flex flex-column align-items-center justify-content-center"
      *ngIf="user">
      <app-picture-selector
        [showSelector]="false"
        [icon]="
          user.user?.photo_url ?? '/assets/icons/user_two.svg'
        "></app-picture-selector>

      <h3 class="text-center w-100 mt-3 mb-1 subtitle-1 dark-blue-400">
        User #{{ user.serial }}
      </h3>
      <div class="text-center text-3 gray-500 w-100">
        Created date on: {{ user.createdAt | date }}
      </div>
    </div>
    <div class="row px-4 my-2 px-md-5 my-md-5" *ngIf="user">
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">First name</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ user.user?.first_name | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Last name</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ user.user?.last_name | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Type user</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ user.user?.role ?? '' | enum | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Business lines</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            <span *ngFor="let line of user.lines; let i = index">
              {{ i > 0 ? ', ' : '' }} {{ line.name | notNull }}
            </span>
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Email</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box no-wrap-text">
            {{ user.user?.email | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Phone number</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ user.user?.phone_number ?? '' | phone | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">License number</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ user.license_number | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">License expires at</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ user.license_expires_at | date | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Date of birth</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ user.user?.date_of_birth | date | notNull }}
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 px-2 px-md-4 my-2">
        <div class="row">
          <div class="col-12 col-md-4 black px-2 py-2">Gender</div>
          <div class="col-12 col-md-8 black px-3 py-2 prop-box">
            {{ user.user?.gender | titlecase | notNull }}
          </div>
        </div>
      </div>
    </div>

    <h3 class="subtitle-1 dark-blue-400 text-center mt-3 mt-md-5 mb-4">
      Last activities
    </h3>

    <div class="my-3">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="subtitle-2 dark-blue-400"> Last Accounts </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-accounts-table
            *ngIf="accounts"
            [filtersActive]="filtersActive"
            (refresh)="refreshAccounts()"
            [data]="accounts"></app-accounts-table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="my-3">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="subtitle-2 dark-blue-400"> Last Requests </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-requests-table
            *ngIf="requests"
            [filtersActive]="filtersActive"
            (refresh)="refreshRequests()"
            [data]="requests"></app-requests-table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="my-3">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="subtitle-2 dark-blue-400"> Last Policies </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-policies-table
            *ngIf="policies"
            [filtersActive]="filtersActive"
            (refresh)="refreshPolicies()"
            [data]="policies"></app-policies-table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </ng-container>
</app-pages-layout>
