@import 'theme';

.home {
  margin-top: -85px;
  p {
    margin: 0.5rem 0;
  }

  .home-section-1 {
    min-height: 100vh;
    height: auto;
    background: linear-gradient(354.74deg, $dark-blue-200 5.29%, $dark-blue-300 36.48%, $dark-blue-400 64.85%);
  }

  .home-section-2 {
    .list {
      list-style: none;
      padding-left: 0;
    }
    .point {
      background-color: $light-blue-500;
      border-radius: 50%;
      width: 0.75rem;
      height: 0.75rem;
    }
  }

  .home-section-3 {
    background: linear-gradient(354.74deg, $dark-blue-200 5.29%, $dark-blue-300 36.48%, $dark-blue-400 64.85%);
    .features-card {
      box-shadow: 0px 6px 4px 2px rgba(0, 0, 0, 0.25);
      border-radius: 59px;
      width: 100%;
      height: 100%;
    }
  }

  .home-section-4 {
    .subtitle {
      font-size: 1.5rem;
      line-height: 2.2rem;
      font-weight: 500 !important;
    }

    .home-features-container {
      flex-wrap: wrap;
      .home-feature {
        width: 11.5rem;
        .home-feature-image {
          width: 11.5rem;
          height: 11.5rem;
          border-radius: 100%;
          border: $light-blue-500 .75rem solid;
        }
      }
    }

    .home-section-4-badge {
      background: $dark-blue-400;
      border-radius: 32px;
      color: $white;
      width: 85%;
    }
    .img-section {
      width: 75%;
    }
  }
}

.text-italic-home {
  font-size: 1.25rem;
  font-style: italic;
}