<div class="home">
  <section class="home-section-1">
    <div class="home-section-1-main">
      <article class="home-section-1-main-article">
        <h1 class="title-1">{{ 'GENERAL.MASTERBOOK' | translate }}</h1>
        <p class="text-2">{{ 'HOME.SECTION_1.TEXT_1' | translate }}</p>
        <p class="text-2">
          {{ 'HOME.SECTION_1.TEXT_WITH' | translate }}
          <span class="title-4">{{ 'GENERAL.MASTERBOOK' | translate }}</span
          >, {{ 'HOME.SECTION_1.TEXT_2' | translate }}
        </p>
      </article>
    </div>
    <div class="home-section-1-foot">
      <article class="home-section-1-foot-article">
        <p class="text-2">
          {{ 'HOME.SECTION_1.TEXT_WITH' | translate }}
          <span class="title-4">{{ 'GENERAL.MASTERBOOK' | translate }}</span>
          {{ 'HOME.SECTION_1.TEXT_3' | translate }}
        </p>
      </article>
    </div>
  </section>
  <section class="home-section-2">
    <div class="home-section-2-container">
      <div class="home-section-2-left">
        <img
          src="/assets/images/home/sit_person.webp"
          width="100%"
          alt="sit person" />
      </div>
      <div class="home-section-2-right">
        <p class="title-4">
          <span class="title-3 blue-text">{{
            'GENERAL.MASTERBOOK' | translate
          }}</span>
          {{ 'HOME.SECTION_2.TEXT_1' | translate }}
        </p>
        <p class="text-2">
          {{ 'HOME.SECTION_2.TEXT_2' | translate }}
        </p>
        <ul class="text-2" style="list-style: inside">
          <li>{{ 'HOME.SECTION_2.SALES' | translate }}</li>
          <li>{{ 'HOME.SECTION_2.CLAIMS' | translate }}</li>
          <li>{{ 'HOME.SECTION_2.REQUEST' | translate }}</li>
          <li>{{ 'HOME.SECTION_2.CUSTOMER' | translate }}</li>
        </ul>
      </div>
    </div>
    <h2 class="title-2 text-centered blue-text">
      {{ 'HOME.SECTION_2.TEXT_3' | translate }}
    </h2>
    <h3 class="title-3 text-centered">
      {{ 'HOME.SECTION_2.TEXT_4' | translate }}
    </h3>
    <div class="home-section-2-container">
      <div class="home-section-2-left">
        <p class="title-4">{{ 'HOME.SECTION_2.TEXT_5' | translate }}</p>
        <ul class="text-2" style="list-style: inside">
          <li>{{ 'HOME.SECTION_2.PROPERTY' | translate }}</li>
          <li>{{ 'HOME.SECTION_2.LIFE' | translate }}</li>
          <li>{{ 'HOME.SECTION_2.HEALTH' | translate }}</li>
          <li>{{ 'HOME.SECTION_2.FINANCE' | translate }}</li>
        </ul>
        <p class="title-4" style="margin-top: 15px">
          {{ 'HOME.SECTION_2.TEXT_6' | translate }}
        </p>
        <ul class="text-2" style="list-style: inside">
          <li>{{ 'HOME.SECTION_2.HORINZONTAL_VERTICAL' | translate }}</li>
          <li>{{ 'HOME.SECTION_2.REAL_STATE' | translate }}</li>
        </ul>
      </div>
      <div class="home-section-2-right">
        <div class="home-section-2-plans-containter">
          <div
            *ngFor="let plan of plans; let i = index"
            class="home-section-2-plan">
            <app-plan-card
              [plan]="plan"
              [color]="i % 2 === 0 ? '#049DD9;' : '#023859'"></app-plan-card>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-centered">
      <app-primary-button
        text="{{ 'GENERAL.SIGN_UP' | translate }}"></app-primary-button>
    </div>
  </section>
  <section class="home-section-3">
    <h4 class="title-5 text-centered">
      {{ 'HOME.SECTION_3.TEXT_1' | translate }}
    </h4>
    <h2 class="title-3 text-centered">
      {{ 'HOME.SECTION_3.TEXT_2' | translate }}
    </h2>
    <div class="home-section-3-features-card-container">
      <div class="home-section-3-features-card">
        <h3 class="title-3">{{ 'HOME.SECTION_3.TEXT_3' | translate }}</h3>
        <ul class="text-2">
          <li>{{ 'HOME.SECTION_3.CUSTOMERS' | translate }}</li>
          <li>{{ 'HOME.SECTION_3.INSURED' | translate }}</li>
          <li>{{ 'HOME.SECTION_3.QUOTES' | translate }}</li>
          <li>{{ 'HOME.SECTION_3.POLICIES' | translate }}</li>
          <li>{{ 'HOME.SECTION_3.RENEWALS' | translate }}</li>
          <li>{{ 'HOME.SECTION_3.CLAIMS' | translate }}</li>
          <li>{{ 'HOME.SECTION_3.DOCUMENT_ARCHIVE' | translate }}</li>
        </ul>
      </div>
      <div class="home-section-3-features-card">
        <h3 class="title-3">{{ 'HOME.SECTION_3.TEXT_4' | translate }}</h3>
        <ul class="text-2">
          <li>{{ 'HOME.SECTION_3.DASHBOARD' | translate }}</li>
          <li>{{ 'HOME.SECTION_3.INTERNAL' | translate }}</li>
          <li>{{ 'HOME.SECTION_3.MARKETING' | translate }}</li>
          <li>{{ 'HOME.SECTION_3.OPPORTUNITIES' | translate }}</li>
          <li>{{ 'HOME.SECTION_3.SALES' | translate }}</li>
          <li>{{ 'HOME.SECTION_3.RECONCILIATION' | translate }}</li>
          <li>{{ 'HOME.SECTION_3.DISTRIBUTION' | translate }}</li>
          <li>{{ 'HOME.SECTION_3.COMMISSION' | translate }}</li>
        </ul>
      </div>
    </div>
    <div class="home-flex-middle-container">
      <div class="home-flex-middle-container-left">
        <img src="/assets/images/home/work_table.webp" alt="work table" />
      </div>
      <div class="home-flex-middle-container-right">
        <h4 class="title-4">{{ 'HOME.SECTION_3.TEXT_5' | translate }}</h4>
        <ul class="text-2" style="list-style: inside">
          <li>Google Chrome</li>
          <li>Safari</li>
          <li>Firefox</li>
          <li>Microsoft Edge</li>
        </ul>
        <h4 class="title-4" style="margin-top: 25px">
          {{ 'HOME.SECTION_3.TEXT_6' | translate }}
        </h4>
        <p class="text-2">
          {{ 'HOME.SECTION_3.TEXT_7' | translate }}
        </p>
        <p class="text-2" style="margin-top: 25px">
          <span class="title-4">{{ 'GENERAL.MASTERBOOK' | translate }}</span>
          {{ 'HOME.SECTION_3.TEXT_8' | translate }}
        </p>
      </div>
    </div>
  </section>
  <section class="home-section-4">
    <h2 class="title-2 text-centered" style="margin-bottom: 15px">
      {{ 'GENERAL.MASTERBOOK' | translate }}
    </h2>
    <h3 class="title-3 text-centered gray-text">
      {{ 'HOME.SECTION_4.TEXT_1' | translate }}
    </h3>
    <div class="home-features-container">
      <ng-container *ngFor="let feature of features">
        <div class="home-feature">
          <div class="home-feature-image">
            <img [src]="feature.img" [alt]="feature.title" />
          </div>
          <p class="text-2 gray-text">{{ feature.title }}</p>
        </div>
      </ng-container>
    </div>
    <div class="flex-centered" style="padding: 0 25px">
      <div class="home-section-4-badge text-2">
        {{ 'HOME.SECTION_4.TEXT_2' | translate }}
      </div>
    </div>
    <h2 class="title-2 text-centered" style="margin: 50px 0 15px 0">
      {{ 'HOME.SECTION_4.TEXT_3' | translate }}
    </h2>
    <h3 class="title-3 text-centered gray-text">
      {{ 'HOME.SECTION_4.TEXT_4' | translate }}
    </h3>
    <div class="home-flex-middle-container">
      <div class="home-flex-middle-container-left">
        <img src="/assets/images/home/call_center.webp" alt="call center" />
      </div>
      <div class="home-flex-middle-container-right">
        <p class="text-2">
          <span class="title-4">{{ 'GENERAL.MASTERBOOK' | translate }}</span>
          {{ 'HOME.SECTION_4.TEXT_5' | translate }}
        </p>
        <ul class="text-2" style="list-style: inside">
          <li>{{ 'HOME.SECTION_4.QUOTE' | translate }}</li>
          <li>{{ 'HOME.SECTION_4.REQUESTS' | translate }}</li>
          <li>{{ 'HOME.SECTION_4.OTHERS' | translate }}</li>
        </ul>
        <div class="flex-centered" style="margin-top: 35px">
          <app-primary-button
            text="{{ 'HOME.SECTION_4.REQUEST_QUOTE' | translate }}"
            [background]="'orange'"></app-primary-button>
        </div>
      </div>
    </div>
    <h2 class="title-2 text-centered" style="margin: 50px 0">
      {{ 'HOME.SECTION_4.TEXT_6' | translate }}
    </h2>
    <div class="home-flex-middle-container">
      <div class="home-flex-middle-container-left">
        <h4 class="title-4" style="margin: 35px 0">
          {{ 'HOME.SECTION_4.TEXT_7' | translate }}
        </h4>
        <ul class="text-2" style="list-style: inside">
          <li>{{ 'HOME.SECTION_4.CALLS' | translate }}</li>
          <li>{{ 'HOME.SECTION_4.EMAILS' | translate }}</li>
          <li>{{ 'HOME.SECTION_4.VISITS' | translate }}</li>
          <li>{{ 'HOME.SECTION_4.TASKS' | translate }}</li>
        </ul>

        <h4 class="title-4" style="margin: 60px 0 35px 0">
          {{ 'HOME.SECTION_4.TEXT_8' | translate }}
        </h4>
        <ul class="text-2" style="list-style: inside">
          <li>9 {{ 'HOME.SECTION_4.CLIENTS' | translate }}</li>
          <li>8 {{ 'HOME.SECTION_4.INSUREDS' | translate }}</li>
          <li>9 {{ 'HOME.SECTION_4.POLICIES' | translate }}</li>
          <li>4 {{ 'HOME.SECTION_4.CLAIMS' | translate }}</li>
          <li>4 {{ 'HOME.SECTION_4.QUOTATIONS' | translate }}</li>
          <li>6 {{ 'HOME.SECTION_4.SALES' | translate }}</li>
          <li>7 {{ 'HOME.SECTION_4.COMMISSIONS' | translate }}</li>
          <li>3 {{ 'HOME.SECTION_4.WITHHOLDINGS' | translate }}</li>
        </ul>
      </div>
      <div class="home-flex-middle-container-right">
        <img src="/assets/images/home/statistics.webp" alt="call center" />
      </div>
    </div>
  </section>
</div>
