@import 'theme';

.home{
  margin-top: -85px;
  p{
    margin: 8px 0;
  }
  .home-section-1{
    background: $blue-dark;
    color: $white;
    .home-section-1-main{
      min-height: 100vh;
      padding: 80px 73px;
      background-image: url('/assets/images/home/background.webp');
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;
      .home-section-1-main-article{
        width: 320px;
        height: calc(100vh - 160px);
        min-height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .home-section-1-foot{
      background: $blue-dark;
      padding: 5px 73px 110px 73px;
      display: flex;
      justify-content: right;
      .home-section-1-foot-article{
        text-align: right;
        max-width: 810px;
      }
    }
  }
  .home-section-2{
    padding: 50px 73px;
    background: $white;
    color: $gray-2;
    .home-section-2-container{
      display: flex;
      padding: 50px 0;
      justify-content: space-between;
      align-items: center;
      .home-section-2-left{
        width: 37%;
      }
      .home-section-2-right{
        width: 57%;
      }
    }
    .home-section-2-plans-containter{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .home-section-2-plan{
        width: 252px;
        margin: 0 10px;
      }
    }
  }
  .home-section-3{
    background: $blue-dark;
    color: $white;
    padding: 50px 73px;
    .home-section-3-features-card-container{
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 30px 0;
      .home-section-3-features-card{
        background-color: $white;
        color: $gray-2;
        width: 48%;
        padding: 45px 40px;
        box-shadow: 0px 6px 4px 2px rgba(0, 0, 0, 0.25);
        border-radius: 59px;
        ul{
          list-style: inside;
          margin-top: 15px;
        }
      }
    }
  }
  .home-section-4{
    padding: 50px 73px;
    color: $blue-dark;
    .home-features-container{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 50px 0;
      .home-feature{
        width: 184px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px;
        .home-feature-image{
          width: 184px;
          height: 184px;
          border-radius: 100%;
          border: $blue-primary 12px solid;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .home-section-4-badge{
      background: $blue-dark;
      border-radius: 32px;
      color: $white;
      text-align: center;
      padding: 10px 30px;
    }
  }
  .home-flex-middle-container{
    display: flex;
    margin: 50px 0 20px 0;
    justify-content: space-between;
    align-items: center;
    .home-flex-middle-container-left{
      width: 48%;
      img{
        max-width: 90%;
      }
    }
    .home-flex-middle-container-right{
      width: 48%;
      img{
        max-width: 80%;
      }
    }
  }
  .blue-text{
    color: $blue-dark;
  }
  .gray-text{
    color: $gray-2;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 768px)  {
  .home{
    .home-section-1{
      .home-section-1-main{
        min-height: 70vh !important;
        .home-section-1-main-article{
          height: calc(70vh - 160px);
        }
      }
    }
  }
}
