<div class="table-responsive" *ngIf="data">
  <table mat-table [dataSource]="data" style="width: auto; overflow-x: scroll">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">
        <span
          *ngIf="element.serial; else notId"
          (click)="_url.navigateTo('/portal/accounts', element.serial)"
          class="light-blue-700"
          matTooltip="Go to account details"
          style="cursor: pointer">
          #{{ element.serial | notNull }}
        </span>
        <ng-template #notId>---</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="account_name">
      <th mat-header-cell *matHeaderCellDef>Account name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.account_name | notNull }}
      </td>
    </ng-container>

    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef>Fisrt name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.user?.first_name | notNull }}
      </td>
    </ng-container>

    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef>Last name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.user?.last_name | notNull }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">
        {{ element.user?.email | notNull }}
      </td>
    </ng-container>

    <ng-container matColumnDef="broker">
      <th mat-header-cell *matHeaderCellDef>Agent</th>
      <td mat-cell *matCellDef="let element">
        {{
          element.broker?.user?.first_name +
            ' ' +
            element.broker?.user?.last_name | notNull
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let element">
        {{ element.user?.phone_number | phone | notNull }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <span [ngClass]="getStatusClass(element.status)">
          {{ element.status | notNull }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef>Created On</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | date | notNull }}
      </td>
    </ng-container>

    <ng-container matColumnDef="last_login_at">
      <th mat-header-cell *matHeaderCellDef>Last login On</th>
      <td mat-cell *matCellDef="let element">
        {{ element.user?.last_login_at | date | notNull }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex align-items-center">
          <span
            class="material-icons-outlined me-2 success-color"
            style="cursor: pointer"
            matTooltip="Resend the invitation email (this will generate a new password for the user)"
            (click)="resendInvitation(element)">
            mail
          </span>

          <span
            class="material-icons-outlined me-2"
            style="cursor: pointer"
            matTooltip="Edit this account"
            (click)="_url.navigateTo('portal/accounts', element._id, 'edit')">
            edit
          </span>

          <span
            class="material-icons-outlined me-2 text-danger"
            style="cursor: pointer"
            (click)="deleteAccount(element._id)"
            matTooltip="Delete this account">
            delete
          </span>

          <mat-slide-toggle
            (change)="setStatus(element, $event)"
            matTooltip="deactivated accounts won´t be able to access Masterbook"
            color="'primary'"
            [checked]="element.status === 'ACTIVE'"></mat-slide-toggle>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr *matNoDataRow>
      <td colspan="11">
        <app-default-empty-state
          [url]="'portal/accounts/new'"
          *ngIf="!filtersActive.length"></app-default-empty-state>
        <app-filter-empty-state
          *ngIf="filtersActive.length"></app-filter-empty-state>
      </td>
    </tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="mas-table-row"></tr>
  </table>
</div>
