<div class="table-responsive" *ngIf="data">
  <table mat-table [dataSource]="data" style="width: auto; overflow-x: auto">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>{{ 'PORTAL.ACCOUNTS.TABLE_ID' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <span
          *ngIf="element.serial; else notId"
          (click)="_url.navigateTo('/portal/accounts', element.serial)"
          class="light-blue-700"
          [matTooltip]="'PORTAL.ACCOUNTS.TOOLTIP_DETAIL' | translate"
          style="cursor: pointer"
          data-testid="account-serial">
          #{{ element.serial | notNull }}
        </span>
        <ng-template #notId>---</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="account_name">
      <th mat-header-cell *matHeaderCellDef>{{ 'PORTAL.ACCOUNTS.TABLE_ACCOUNT_NAME' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.account_name | notNull }}</td>
    </ng-container>

    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef>{{ 'PORTAL.ACCOUNTS.TABLE_FIRST_NAME' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.user?.first_name | notNull }}</td>
    </ng-container>

    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef>{{ 'PORTAL.ACCOUNTS.TABLE_LAST_NAME' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.user?.last_name | notNull }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>{{ 'PORTAL.ACCOUNTS.TABLE_EMAIL' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.user?.email | notNull }}</td>
    </ng-container>

    <ng-container matColumnDef="broker">
      <th mat-header-cell *matHeaderCellDef>{{ 'PORTAL.ACCOUNTS.TABLE_AGENT' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.broker?.user?.first_name + ' ' + element.broker?.user?.last_name | notNull }}
      </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>{{ 'PORTAL.ACCOUNTS.TABLE_PHONE' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.user?.phone_number | phone | notNull }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>{{ 'PORTAL.ACCOUNTS.TABLE_STATUS' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <span [ngClass]="getStatusClass(element.status)">{{ element.status | translatedEnum : 'ENUMS.ACCOUNT_STATUS' | notNull }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef>{{ 'PORTAL.ACCOUNTS.TABLE_CREATED' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.createdAt | appDateTime : 'date' | notNull }}</td>
    </ng-container>

    <ng-container matColumnDef="last_login_at">
      <th mat-header-cell *matHeaderCellDef>{{ 'PORTAL.ACCOUNTS.TABLE_LAST_LOGIN' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.user?.last_login_at | appDateTime : 'date' | notNull }}</td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>{{ 'PORTAL.ACCOUNTS.TABLE_ACTIONS' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex align-items-center">
          <span
            *ngIf="!element.user?.last_login_at"
            class="material-icons-outlined me-2 success-color"
            style="cursor: pointer"
            [matTooltip]="'PORTAL.ACCOUNTS.TOOLTIP_RESEND' | translate"
            (click)="resendInvitation(element)">
            mail
          </span>
          <span
            class="material-icons-outlined me-2"
            style="cursor: pointer"
            [matTooltip]="'PORTAL.ACCOUNTS.TOOLTIP_EDIT' | translate"
            (click)="_url.navigateTo('portal/accounts', element._id, 'edit')">
            edit
          </span>
          <span
            class="material-icons-outlined me-2 text-danger"
            style="cursor: pointer"
            (click)="deleteAccount(element._id)"
            [matTooltip]="'PORTAL.ACCOUNTS.TOOLTIP_DELETE' | translate">
            delete
          </span>
          <mat-slide-toggle
            (change)="setStatus(element, $event)"
            [matTooltip]="'PORTAL.ACCOUNTS.TOOLTIP_DISABLE' | translate"
            color="'primary'"
            [checked]="element.status === 'ACTIVE'">
          </mat-slide-toggle>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr *matNoDataRow>
      <td colspan="11">
        <app-default-empty-state [url]="'portal/accounts/new'" *ngIf="!filtersActive.length"></app-default-empty-state>
        <app-filter-empty-state *ngIf="filtersActive.length"></app-filter-empty-state>
      </td>
    </tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="mas-table-row"
      data-testid="account-row"
      [attr.data-account-id]="row._id"
      [attr.data-account-serial]="row.serial">
    </tr>
  </table>
</div>
