@import 'theme';

:host {
  .prop-box {
    background-color: $gray-100;
  }

  .category-badge{
    border-radius: 1rem;
  }

  .ENDORSEMENT {
    background-color: $color-success !important;
  }

  .RENEWAL {
    background-color: $light-blue-400 !important;
  }

  .REINSTALLMENT {
    background-color: $blue-color !important;
  }

  .CANCELLATION {
    background-color: $red-color !important;
  }

  .NEW_BUSINESS {
    background-color: $light-blue-700 !important;
  }
}
